<app-header></app-header>
<main>
    <app-loading class="animated1 fadeIn" *ngIf="loading"></app-loading>
    <app-message class="animated1 fadeIn" *ngIf="msnOk"></app-message>
    <section class="contact-section section-padding section-bg animated1 fadeIn " id="section_5" *ngIf="!loading">
        <div class="container bw">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12 col-12 text-center">
                            <h2 class="mb-5" *ngIf="edit=='true'">Editar proveedor</h2>
                            <h2 class="mb-5" *ngIf="edit=='false'">Ver proveedor</h2>
                        </div>
                        <form [formGroup]="form" (ngSubmit)="onSubmit()">
                            <div class="row">
                                <div class="col-12 col-md-6 mt-3">
                                    <div class="form-group">
                                        <label for="nombre">Nombre</label>
                                        <input type="text" class="form-control upper" id="nombre"
                                            formControlName="nombre" required placeholder="Nombre"
                                            [readonly]="edit==='false'">
                                    </div>
                                    <span *ngIf="submited && errorControl['nombre'].errors " class="error">Es requerido
                                    </span>
                                </div>
                                <div class="col-12 col-md-6 mt-3">
                                    <div class="form-group">
                                        <label for="clave">Clave</label>
                                        <input type="text" class="form-control upper" id="clave" formControlName="clave"
                                            required placeholder="Clave" [readonly]="edit==='false'">
                                    </div>
                                    <span *ngIf="submited && errorControl['clave'].errors " class="error">Es requerido
                                    </span>
                                </div>
                                <div class="col-12   mt-3">
                                    <div class="form-group">
                                        <label for="descripcion">Descripción</label>
                                        <div class="NgxEditor__Wrapper">
                                            <ngx-editor-menu [editor]="descripcion" [toolbar]="toolbar">
                                            </ngx-editor-menu>
                                            <ngx-editor [editor]="descripcion"
                                                formControlName="descripcion"></ngx-editor>
                                        </div>
                                    </div>
                                    <span *ngIf="submited && errorControl['descripcion'].errors " class="error">Es
                                        requerido
                                    </span>
                                </div>
                                <div class="col-12 col-md-6 mt-3">

                                    <div class="image-upload" class="text-center">
                                        <div class="row">
                                            <div class="col-12">

                                                <label> Imagen</label>
                                            </div>
                                            <div class="col-12">

                                                <label for="file-input-img">
                                                    <!--  [ngClass]=" {'pointer':edit ==='true'}" -->


                                                    <img *ngIf="form.value.img ==''  "
                                                        [src]="url+'/upload/proveedores/default.jpg' "
                                                        alt="Click aquí para subir tu foto"
                                                        title="Click aquí para subir tu foto" class="img-avatar"
                                                        [ngClass]=" {'pointer':editBol ===true}">
                                                    <img *ngIf="form.value.img !==''  "
                                                        [src]="url+'/upload/proveedores/'+form.value.img"
                                                        alt="Click aquí para subir tu foto "
                                                        title="Click aquí para subir tu foto" class="img-avatar"
                                                        [ngClass]=" {'pointer':editBol ===true}">


                                                </label>
                                            </div>
                                        </div>


                                        <input id="file-input-img" type="file" class="ion-no-border"
                                            (change)="cambiarImagen($event,'img')" *ngIf="editBol" />



                                    </div>
                                </div>
                                <div class="col-12 col-md-6 mt-3">

                                    <div class="image-upload" class="text-center">
                                        <div class="row">
                                            <div class="col-12">

                                                <label> Banner Img</label>
                                            </div>
                                            <div class="col-12">

                                                <label for="file-input-bannerImg">
                                                    <!--  [ngClass]=" {'pointer':edit ==='true'}" -->


                                                    <img *ngIf="form.value.bannerImg ==''  "
                                                        [src]="url+'/upload/proveedores/default.jpg' "
                                                        alt="Click aquí para subir tu foto"
                                                        title="Click aquí para subir tu foto" class="img-avatar">
                                                    <img *ngIf="form.value.bannerImg !==''  "
                                                        [src]="url+'/upload/proveedores/'+form.value.bannerImg"
                                                        alt="Click aquí para subir tu foto "
                                                        title="Click aquí para subir tu foto" class="img-avatar">


                                                </label>
                                            </div>
                                        </div>


                                        <input id="file-input-bannerImg" type="file" class="ion-no-border"
                                            (change)="cambiarImagen($event,'bannerImg')" *ngIf="editBol" />



                                    </div>
                                </div>
                                <div class="row mt-3 text-center">

                                    <div class="col-12 col-md-4 mt-3 ma " *ngIf="editBol">

                                        <button class="btn primaB white" id="btnContacto" type="button"
                                            (click)="addContactos()">
                                            <i class="icon-plus"></i> Agregar contacto
                                        </button>
                                    </div>
                                    <div class="col-12 col-md-4 mt-3 " *ngIf="!editBol">
                                        <h5>Contactos</h5>
                                    </div>
                                </div>
                                <div formArrayName="contactos">
                                    <div *ngFor="let contacto of contactos['controls'] ; let i=index">


                                        <div [formGroupName]="i">
                                            <div class="row" id="contacto{{i}}">

                                                <div class="col-12 col-md-4 mt-3 ma">

                                                    <div class="form-group">
                                                        <label for="tipoContacto">Tipo de contacto</label> 
                                                        <select name="" id="tipoContacto" formControlName="tipoContacto"
                                                            class="form-control upper">

                                                            <ng-container *ngIf="tipoContactos">
                                                                <option value="" [disabled]="edit==='false'">Selecciona
                                                                    el tipo de contacto</option>
                                                                <option [value]="item.uid"
                                                                    *ngFor="let item of tipoContactos"
                                                                    [disabled]="edit==='false'">

                                                                    {{item.nombre}}
                                                                </option>
                                                            </ng-container>
                                                        </select>
                                                    </div>
                                                    <span
                                                        *ngIf="submited && errorControl['contactos']['controls'][i]['controls']['tipoContacto'].errors "
                                                        class="error">Es
                                                        requerido
                                                    </span>
                                                </div>
                                                <div class="col-12 col-md-4 mt-3 ma">
                                                    <div class="form-group">
                                                        <label for="value">Valor</label>
                                                        <input type="text" class="form-control upper" id="value"
                                                            formControlName="value" required placeholder="Valor"
                                                            [readonly]="edit==='false'">
                                                    </div>
                                                    <span
                                                        *ngIf="submited && errorControl['contactos']['controls'][i]['controls']['value'].errors "
                                                        class="error">Es
                                                        requerido
                                                    </span>
                                                </div>


                                                <div class=" col-12 col-md-4 mt-4 text-center" *ngIf="editBol">
                                                    <button class="btn less " (click)="removeContactos(i)">
                                                        <i class="icon-trash"></i>
                                                    </button>

                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                    <div id="finContacto" class=" col-6 mt-3 mb-3 text-center ma"
                                        *ngIf="contactos.length>1">


                                        <button class="btn but" type="button"
                                            (click)="functionsService.scroolTo('btnContacto')"><i
                                                class="bi bi-arrow-up"></i></button>

                                    </div>
                                </div>




                                <div class="row mt-3 text-center">

                                    <div class="col-12 col-md-4 mt-3 ma" *ngIf="editBol">

                                        <button class="btn primaB white" type="button" id="btnColors"
                                            (click)="addColors()" [disabled]="form.value.colores.length >2">
                                            <i class="icon-plus"></i> Agregar Color
                                        </button>
                                    </div>
                                    <div class="col-12 col-md-4 mt-3 " *ngIf="!editBol">
                                        <h5>Colores</h5>
                                    </div>
                                </div>
                                <div formArrayName="colores">
                                    <div *ngFor="let color of colores['controls'] ; let i=index">


                                        <div [formGroupName]="i" id="colors{{i}}">
                                            <div class="row ma">

                                                <div class="col-12 col-md-4 mt-3 ma">

                                                    <div class="form-group">
                                                        <label for="tipoColor">Tipo de color</label> 
                                                        <select name="" id="tipoColor" formControlName="tipoColor"
                                                            class="form-control upper">

                                                            <ng-container *ngIf="tipoColores">
                                                                <option value="" [disabled]="edit==='false'">Selecciona
                                                                    el tipo de color</option>
                                                                <option [value]="item.uid"
                                                                    *ngFor="let item of tipoColores"
                                                                    [disabled]="edit==='false'">

                                                                    {{item.nombre}}
                                                                </option>
                                                            </ng-container>
                                                        </select>
                                                    </div>
                                                    <span
                                                        *ngIf="submited && errorControl['colores']['controls'][i]['controls']['tipoColor'].errors "
                                                        class="error">Es
                                                        requerido
                                                    </span>
                                                </div>
                                                <div class="col-12 col-md-4 mt-3 ma">
                                                    <div class="form-group">
                                                        <label for="value">Valor</label>
                                                        <input type="color" class="form-control upper" id="value"
                                                            formControlName="value" required placeholder="Valor"
                                                            [readonly]="edit==='false'">
                                                    </div>
                                                    <span
                                                        *ngIf="submited && errorControl['colores']['controls'][i]['controls']['value'].errors "
                                                        class="error">Es
                                                        requerido
                                                    </span>
                                                </div>


                                                <div class=" col-12 col-md-4 mt-4 text-center" *ngIf="editBol">
                                                    <button class="btn less " (click)="removeColors(i)">
                                                        <i class="icon-trash"></i>
                                                    </button>

                                                </div>

                                            </div>

                                        </div>

                                    </div>
                                </div>





                            </div>

                            <div class="row mt-5" *ngIf="proveedor && getColoresQR()   ">
                                <div class="col-12 col-md-6  text-center ma">
                                    <label for="customRange2" class="form-label">
                                        QR de tu pagina
                                    </label>
                                    <span>
                                        <a [href]="urlLink" target="_blank"
                                            style="text-decoration: none; color:var(--cPrincipal); font-weight: 800;width: 100%;">
                                            {{urlLink}}
                                        </a>
                                    </span>

                                    <div class="qrcodeImage">
                                        <!--   [imageSrc]="url+'/upload/proveedores/'+proveedor.img" [imageHeight]="150"   -->
                                        <qrcode [qrdata]="urlLink" [allowEmptyString]="true"
                                            [ariaLabel]="'QR Code image with the following content...'"
                                            [cssClass]="'center'" [colorDark]="form.value.colores[0].value"
                                            [colorLight]="'#ffffffff'" [elementType]="'canvas'"
                                            [errorCorrectionLevel]="'M'" [imageWidth]="150" [margin]="4" [scale]="1"
                                            [title]="'A custom title attribute'" [width]="450"
                                            (qrCodeURL)="onChangeURL($event)"></qrcode>
                                    </div>

                                    <a class="btn  btn-warning" type="button" [href]="qrCodeDownloadLink"
                                        download="qrcode">Descargar QR</a>
                                </div>




                                <!--  <div class="col-12   mt-3" *ngIf="location &&  isDirection()">
                                    <label for="ubicacion ">Ubicación </label>
                                    <app-mapscreen [showBar]="true" (coordenadasSelect)="showCoordenadas($event)"
                                        (coordenadas)="showCoordenadas($event)" [sendCoords]="location" [isEditV]="true"
                                        type="ubicacion"></app-mapscreen>
                                    <span *ngIf="submited && errorControlCot ['ubicacion'].errors " class="error">Favor
                                        de
                                        seleccionar un lugar
                                    </span>
                                </div> -->
                            </div>






                            <app-print-qr [proveedor]="proveedor"></app-print-qr>


                            <div class="row mt-5 text-center  ">

                                <div class="col-12 col-md-6  mt-3 text-center ma" *ngIf="edit==='true'">
                                    <button type="submit" class="btn btn-lg btn-block but  ">Editar</button>

                                </div>
                                <div class="col-12 col-md-6  mt-3 text-center ma">
                                    <button class="btn btn-lg btn-block btn-warning" (click)="back()">Regresar</button>

                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>

        </div>
    </section>



</main>
<app-footer></app-footer>