.navbar {
    background-color: #13547a;
}

.navbar i {
    color: var(--secondary-color);
    font-size: 20px;
    margin-right: 5px;

}

.navbar .navbar-brand {
    color: var(--white-color);
}

.navbar-nav .nav-link {
    cursor: pointer;
    color: var(--white-color);

    font-size: 18px;
    margin-right: 5px;
    transition: all 500ms;
}

.navbar-nav .nav-link:hover {
    color: var(--secondary-color)
}

.dropend .dropdown-toggle {
    color: var(--primary-color);
    margin-left: 1em;
}

.dropdown-item:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.dropdown .dropdown-menu {
    display: none;
}

.dropdown:hover>.dropdown-menu,
.dropend:hover>.dropdown-menu {
    display: block;
    margin-top: .125em;
    margin-left: .125em;
}

.logo-header {
    width: 40px;
    margin-right: 5px;
}

@media screen and (min-width:769px) {
    .dropend:hover>.dropdown-menu {
        position: absolute;
        top: 0;
        left: 100%;
    }

    .dropend .dropdown-toggle {
        margin-left: .5em;
    }
}
#google_translate_fab {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #google_translate_fab img {
    width: 32px;
    height: 32px;
  }
  
  #google_translate_container {
    position: fixed;
    bottom: 90px;
    right: 20px;
    z-index: 9999;
    background: white;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  }
.VIpgJd-ZVi9od-ORHb{
    display: none !important;
}  
.goog-te-menu2-item {
    display: none !important;
  }
  
  /* Muestra solo Inglés, Español, Portugués y Francés */
  .goog-te-menu2-item span:text("English"),
  .goog-te-menu2-item span:text("Español"),
  .goog-te-menu2-item span:text("Português"),
  .goog-te-menu2-item span:text("Français") {
    display: block !important;
  }