<nav class="navbar navbar-expand-lg navbar-dark" *ngIf="!rol">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">
            <!-- <i class="bi-back"></i> -->
            <img src="assets/images/logo.png" class="logo-header" alt="">
            <img src="assets/images/lg.png" class="" alt="">

        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/core/inicio">Inicio</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        MarketPlace
                    </a>
                    <ul class="dropdown-menu">

                        <li><a class="dropdown-item" routerLink="/core/market">Productos</a></li>
                        <li><a class="dropdown-item" routerLink="/core/market/proveedores">Proveedores</a></li>



                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="/core/about">Nosotros</a>
                </li>
                <!--  <li class="nav-item">
                    <a class="nav-link" routerLink="/core/invitaciones">Invitaciones</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" routerLink="/core/contact">Contacto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/core/pricing">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/core/examples">Ejemplos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/core/faqs">FAQ´S</a>
                </li>


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Cuenta
                    </a>
                    <ul class="dropdown-menu">

                        <li><a class="dropdown-item" routerLink="/auth/login" *ngIf="!rol ">Ingresar</a></li>
                        <li><a class="dropdown-item" routerLink="/auth/register" *ngIf="!rol ">Registrar</a></li>
                        <li><a class="dropdown-item" routerLink="/auth/perfil" *ngIf="rol && rol!== ''">Perfil</a></li>
                        <li><a class="dropdown-item" (click)="logout()" *ngIf="rol && rol!== ''">Salir</a></li>


                    </ul>
                </li>
                <li class="nav-item pointer" *ngIf="carrito.length>0" routerLink="/core/market/carrito">
                    <h4><i class="bi bi-cart-check-fill"></i>
                        <span class="badge text-bg-secondary">
                            {{carrito.length}}
                        </span>
                    </h4>

                </li>


            </ul>

        </div>
    </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-dark"
    *ngIf="rol ===ADM  ||rol ===ANF  || rol ===SLN || rol ===CHK || rol ===URS || rol ===PRV">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">
            <!-- <i class="bi-back"></i> -->
            <img src="assets/images/logo.png" class="logo-header" alt="">
            <img src="assets/images/lg.png" class="" alt="">



        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/core/inicio">Inicio</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        MarketPlace
                    </a>
                    <ul class="dropdown-menu">

                        <li><a class="dropdown-item" routerLink="/core/market">Productos</a></li>
                        <li><a class="dropdown-item" routerLink="/core/market/proveedores">Proveedores</a></li>



                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/core/pricing">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/core/examples">Ejemplos</a>
                </li>


                <li class="nav-item">
                    <a class="nav-link" routerLink="/core/mis-fiestas" *ngIf="rol">Mis eventos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/core/check-in"
                        *ngIf="rol ===ADM || rol ===CHK ||  rol ===SLN ||  rol ===ANF">CheckIn</a>
                </li>



                <li class="nav-item dropdown"
                    *ngIf="rol.includes(ADM) ||   rol.includes(SLN) ||   rol.includes(ANF) ||   rol.includes(PRV)">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Admin
                    </a>
                    <ul class="dropdown-menu  ">
                        <h5 class="ma" style="margin-left: 15px;"><b>General</b></h5>
                        <li *ngIf="rol.includes(ADM) || rol.includes(ANF) || rol.includes(SLN) || rol.includes(PRV) "><a
                                class="dropdown-item" routerLink="/core/salones/vista-salones">Ver
                                Centro de eventos</a></li>
                        <li><a class="dropdown-item" routerLink="/core/usuarios/vista-usuarios"
                                *ngIf="rol.includes(ANF)  || !rol.includes(PRV)">Ver
                                usuarios</a></li>
                        <li><a class="dropdown-item" routerLink="/core/fiestas/vista-fiestas">Ver eventos</a></li>
                        <li><a class="dropdown-item" routerLink="/core/boletos/vista-boletos">Ver boletos</a></li>
                        <li><a class="dropdown-item" routerLink="/core/compras/crear-compra/{{uid}}">Comprar paquete</a>
                        </li>
                        <li><a class="dropdown-item" routerLink="/core/mis-compras">Mis compras</a>
                        </li>
                        <ng-container *ngIf="rol.includes(ADM)">

                            <hr>
                            <h5 class="ma" style="margin-left: 15px;"><b>Market place</b></h5>
                            <li><a class="dropdown-item" routerLink="/core/proveedores/vista-proveedores">Ver
                                    proveedores</a></li>
                            <li><a class="dropdown-item" routerLink="/core/items/vista-items">Ver
                                    Productos</a></li>
                            <li><a class="dropdown-item" routerLink="/core/promos">Promos</a></li>
                        </ng-container>



                        <ng-container *ngIf="rol.includes(PRV)">
                            <hr>
                            <h5 class="ma" style="margin-left: 15px;"><b>Market</b></h5>
                            <li><a class="dropdown-item" routerLink="/core/proveedores/editar-datos">Ver
                                    Edita datos de proveedor</a>
                            </li>
                            <li><a class="dropdown-item" routerLink="/core/productos/agregar">
                                    Agregar Productos o servicios</a>
                            </li>
                            <li><a class="dropdown-item" routerLink="/core/mis-productos">
                                    Mis Productos o servicios</a>
                            </li>
                        </ng-container>



                    </ul>
                </li>


                <li class="nav-item dropdown" *ngIf="rol ===ADM ">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Catalogos
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" routerLink="/core/paises/vista-paises">Ver paises</a>
                        </li>
                        <li><a class="dropdown-item" routerLink="/core/parametros/vista-parametros">Ver parametros</a>
                        </li>
                        <li><a class="dropdown-item" routerLink="/core/roles/vista-roles">Ver Roles</a></li>
                        <li><a class="dropdown-item" routerLink="/core/tipo-centros/vista-tipo-centros">Ver Tipo
                                centros</a></li>
                        <li><a class="dropdown-item" routerLink="/core/tipo-ubicaciones/vista-tipo-ubicaciones">Ver Tipo
                                ubicaciones</a></li>
                        <li><a class="dropdown-item" routerLink="/core/grupos/vista-grupos">Ver grupos</a></li>
                        <li><a class="dropdown-item" routerLink="/core/eventos/vista-eventos">Ver eventos</a></li>
                        <li><a class="dropdown-item" routerLink="/core/ejemplos/vista-ejemplos">Ver ejemplos</a></li>
                        <li><a class="dropdown-item" routerLink="/core/paquete/vista-paquetes">Ver tipo paquetes</a>
                        <li><a class="dropdown-item" routerLink="/core/redes/vista-redes">Ver redes</a>
                        </li>
                        <li><a class="dropdown-item" routerLink="/core/monedas/vista-monedas">Ver monedas</a></li>
                        <li><a class="dropdown-item" routerLink="/core/cps/vista-cps">Ver cps</a></li>
                        <li><a class="dropdown-item" routerLink="/core/tipo-colores/vista-tipo-colores">Ver tipo
                                colores</a>
                        </li>
                        <li><a class="dropdown-item" routerLink="/core/tipo-contactos/vista-tipo-contactos">Ver tipo
                                contactos</a>
                        </li>
                        <li><a class="dropdown-item" routerLink="/core/tipo-items/vista-tipo-items">Ver tipo
                                de venta de Items</a>
                        <li><a class="dropdown-item" routerLink="/core/tipo-medios/vista-tipo-medios">Ver tipo
                                de medios</a>
                        </li>
                        <li><a class="dropdown-item" routerLink="/core/categoria-items/vista-categoria-items">Ver
                                categorias de Items</a>
                        </li>
                        <li><a class="dropdown-item"
                                routerLink="/core/estatus-cotizaciones/vista-estatus-cotizaciones">Ver
                                estatus de cotizaciones</a>
                        </li>
                        <!--  <li><a class="dropdown-item" routerLink="/core/status-compra/vista-status-compra">Ver estatus de
                                compras</a></li> -->
                        <!--<li><a class="dropdown-item" routerLink="/core/tipo-modulos/vista-tipo-modulos">Ver tipo de
                                modulos</a></li>
                          <li><a class="dropdown-item" routerLink="/core/modulo-templates/vista-modulo-templates">Ver de
                                modulos de templates</a></li>
                        <li><a class="dropdown-item" routerLink="/core/templates/vista-templates">Ver templates</a></li>
 -->




                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/core/faqs">FAQ´S</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Cuenta
                    </a>
                    <ul class="dropdown-menu">


                        <li><a class="dropdown-item" routerLink="/auth/perfil" *ngIf="rol && rol!== ''">Perfil</a></li>
                        <li><a class="dropdown-item" routerLink="/core/mis-cotizaciones" *ngIf="rol && rol!== ''">Mis
                                Cotizaciones</a></li>
                        <li><a class="dropdown-item" routerLink="/core/contact" *ngIf="rol && rol!== ''">Contacto</a>
                        </li>
                        <li><a class="dropdown-item" (click)="logout()" *ngIf="rol && rol!== ''">Salir</a></li>


                    </ul>
                </li>
                <li class="nav-item pointer" *ngIf="carrito.length>0" routerLink="/core/market/carrito">
                    <h4><i class="bi bi-cart-check-fill"></i>
                        <span class="badge text-bg-secondary">
                            {{carrito.length}}
                        </span>
                    </h4>

                </li>
            </ul>

        </div>
    </div>
</nav>

<div class="fixed-bottom"
    style="width: 100%; height: 40px; background-color: rgb(202, 79, 79); line-height: 40px;text-align: center;margin: auto;text-transform: uppercase;color:white;font-weight: 900;"
    *ngIf="demo">
    {{msnDemo}} </div>