<div class="btp" style="width: 100%; text-align: center; margin:auto">
    <div class="viewMobile">

        <div class="transform" style="background-image: url('/assets/invitaciones/bodas/boda1.webp');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center top;
        ">
            <div class="transform__content">

            </div>
        </div>
        <div class="transform transformFix">
            <div class="transform__content">
                <h1 class="font1 mt-1">evento</h1>
                <div class="ma divisor" [style]="{'background-color':data.cSecond}"> </div>" style="margin-top: 0;
                margin-bottom: 0;">
            </div>
            <div>
                <h5 class="font-2 mt-2 text-center _animate__fadeInDown animate__slow animate__animated animate__fadeInDown font1"
                    style="visibility: visible;">Lugar del evento</h5>
                <h5 class="font-1 text-center _animate__fadeInDown animate__slow my-3 animate__animated animate__fadeInDown font1"
                    style="visibility: visible;">Calle #, Colonia, Alcaldía, C.P. Estado</h5>
                <h4 class="font-2 font-1 mt-2 text-center _animate__fadeInDown animate__slow animate__animated animate__fadeInDown font1"
                    style="visibility: visible;">3:30 PM</h4>
                <br>
                <button
                    class="btn btn-outline-dark font-1 d-flex m-auto _animate__fadeInDown animate__slow animate__animated animate__fadeInDown font1"
                    data-toggle="modal" data-target="#evento" style="border-radius: 8px; visibility: visible;">Ver
                    mapa</button>
            </div>
        </div>
    </div>

    <div class="transform" style="background-image: url('/assets/invitaciones/bodas/boda1.webp');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center top;
         ">
        <div class="transform__content">

        </div>
    </div>
    <div class="transform transformFix">
        <div class="transform__content">
            <h1 class="font1 mt-1">evento</h1>
            <div class="ma divisor" [style]="{'background-color':data.cSecond}"> </div>" style="margin-top: 0;
            margin-bottom: 0;">
        </div>
        <div>
            <h5 class="font-2 mt-2 text-center _animate__fadeInDown animate__slow animate__animated animate__fadeInDown font1"
                style="visibility: visible;">Lugar del evento</h5>
            <h5 class="font-1 text-center _animate__fadeInDown animate__slow my-3 animate__animated animate__fadeInDown font1"
                style="visibility: visible;">Calle #, Colonia, Alcaldía, C.P. Estado</h5>
            <h4 class="font-2 font-1 mt-2 text-center _animate__fadeInDown animate__slow animate__animated animate__fadeInDown font1"
                style="visibility: visible;">3:30 PM</h4>
            <br>
            <button
                class="btn btn-outline-dark font-1 d-flex m-auto _animate__fadeInDown animate__slow animate__animated animate__fadeInDown font1"
                data-toggle="modal" data-target="#evento" style="border-radius: 8px; visibility: visible;">Ver
                mapa</button>
        </div>
    </div>
</div>
</div>


<div class="viewPC">

    <div class="transform" style="background-image: url('/assets/invitaciones/bodas/boda1.webp');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center top;
        ">
        <div class="transform__content">

        </div>
    </div>
    <div class="transform transformFix">
        <div class="transform__content">
            <h1 class="font1 mt-1">evento</h1>
            <div class="ma divisor" [style]="{'background-color':data.cSecond}"> </div>" style="margin-top: 0;
            margin-bottom: 0;">
        </div>
        <div>
            <h5 class="font-2 mt-2 text-center _animate__fadeInDown animate__slow animate__animated animate__fadeInDown font1"
                style="visibility: visible;">Lugar del evento</h5>
            <h5 class="font-1 text-center _animate__fadeInDown animate__slow my-3 animate__animated animate__fadeInDown font1"
                style="visibility: visible;">Calle #, Colonia, Alcaldía, C.P. Estado</h5>
            <h4 class="font-2 font-1 mt-2 text-center _animate__fadeInDown animate__slow animate__animated animate__fadeInDown font1"
                style="visibility: visible;">3:30 PM</h4>
            <br>
            <button
                class="btn btn-outline-dark font-1 d-flex m-auto _animate__fadeInDown animate__slow animate__animated animate__fadeInDown font1"
                data-toggle="modal" data-target="#evento" style="border-radius: 8px; visibility: visible;">Ver
                mapa</button>
        </div>
    </div>
</div>
<div class="transform transformFix">
    <div class="transform__content">
        <h1 class="font1 mt-1">evento</h1>
        <div class="ma divisor" [style]="{'background-color':data.cSecond}"> </div>" style="margin-top: 0;
        margin-bottom: 0;">
    </div>
    <div>
        <h5 class="font-2 mt-2 text-center _animate__fadeInDown animate__slow animate__animated animate__fadeInDown font1"
            style="visibility: visible;">Lugar del evento</h5>
        <h5 class="font-1 text-center _animate__fadeInDown animate__slow my-3 animate__animated animate__fadeInDown font1"
            style="visibility: visible;">Calle #, Colonia, Alcaldía, C.P. Estado</h5>
        <h4 class="font-2 font-1 mt-2 text-center _animate__fadeInDown animate__slow animate__animated animate__fadeInDown font1"
            style="visibility: visible;">3:30 PM</h4>
        <br>
        <button
            class="btn btn-outline-dark font-1 d-flex m-auto _animate__fadeInDown animate__slow animate__animated animate__fadeInDown font1"
            data-toggle="modal" data-target="#evento" style="border-radius: 8px; visibility: visible;">Ver
            mapa</button>
    </div>
</div>
</div>
<div class="transform" style="background-image: url('/assets/invitaciones/bodas/boda1.webp');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center top;
         ">
    <div class="transform__content">

    </div>
</div>
</div>


</div>