.cte {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.transform {
    float: left;
    height: 400px;
    width: 50%;
    position: relative;
    background-image: url('/assets/invitaciones/background/bg.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center top;

    height: 400px;
    color: #333;
}

.transformFix {
    background-attachment: fixed;
    width: 100%;
    height: auto;

    background-repeat: no-repeat;

    background-position: center top;
    background-attachment: fixed;
}

.transform__content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.viewMobile {
    display: none;
}

.viewPC {
    display: block;
}


@media screen and (max-width: 768px) {
    .viewMobile {
        display: block;
    }

    .viewPC {
        display: none;
    }

    .transform {
        width: 100%;
    }


}