<app-header></app-header>
<main>
    <app-loading class="animated1 fadeIn" *ngIf="loading"></app-loading>
    <app-message class="animated1 fadeIn" *ngIf="msnOk"></app-message>
    <section class="contact-section section-padding section-bg animated1 fadeIn " id="section_5" *ngIf="!loading">
        <div class="container bw">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12 col-12 text-center">
                            <h2 class="mb-5" *ngIf="edit=='true'">Editar ejemplo</h2>
                            <h2 class="mb-5" *ngIf="edit=='false'">Ver ejemplo</h2>
                        </div>
                        <form [formGroup]="form" (ngSubmit)="onSubmit()">
                            <div class="row">
                                <div class="col-12 col-md-6 mt-3">
                                    <div class="form-group">
                                        <label for="nombre">Nombre</label>
                                        <input type="text" class="form-control upper" id="nombre"
                                            formControlName="nombre" required placeholder="Nombre"
                                            [readonly]="edit==='false'">
                                    </div>
                                    <span *ngIf="submited && errorControl['nombre'].errors " class="error">Es requerido
                                    </span>
                                </div>
                                <div class="col-12 col-md-6 mt-3">
                                    <div class="form-group">
                                        <label for="fiesta">Fiesta</label>
                                        <select name="" id="rol" formControlName="fiesta" class="form-control upper">
                                            <option value="">Selecciona una fiesta</option>
                                            <option [value]="item.uid" *ngFor="let item of fiestas">{{item.nombre}}
                                            </option>
                                        </select>
                                    </div>
                                    <span *ngIf="submited && errorControl['fiesta'].errors " class="error">Es requerido
                                    </span>
                                </div>
                                <div class="col-12 col-md-6 mt-3">
                                    <div class="form-group">
                                        <label for="urlFiestaBoleto">URL Boleto</label>
                                        <input type="text" class="form-control upper" id="urlFiestaBoleto"
                                            formControlName="urlFiestaBoleto" required placeholder="URL Boleto"
                                            [readonly]="edit==='false'">
                                    </div>
                                    <span *ngIf="submited && errorControl['urlFiestaBoleto'].errors " class="error">Es
                                        requerido
                                    </span>
                                </div>
                                <div class="col-12 col-md-6 mt-3">
                                    <div class="form-group">
                                        <label for="tipo">Tipo</label>
                                        <input type="text" class="form-control upper" id="tipo" formControlName="tipo"
                                            required placeholder="Tipo" [readonly]="edit==='false'">
                                    </div>
                                    <span *ngIf="submited && errorControl['tipo'].errors " class="error">Es requerido
                                    </span>
                                </div>
                                <div class="col-12   mt-3">
                                    <div class="form-group">
                                        <label for="recomendacion">Recomendación</label>
                                        <textarea type="text" class="form-control upper" id="recomendacion"
                                            formControlName="recomendacion" required placeholder="Recomendación"
                                            [readonly]="edit==='false'"> </textarea>

                                    </div>
                                    <span *ngIf="submited && errorControl['recomendacion'].errors " class="error">Es
                                        requerido
                                    </span>
                                </div>


                            </div>

                            <div class="row mt-5 text-center">

                                <div class="col-12 col-md-6  mt-3 text-center " *ngIf="edit==='true'">
                                    <button type="submit" class="btn btn-lg btn-block but  ">Editar</button>

                                </div>
                                <div class="col-12 col-md-6  mt-3 text-center">
                                    <button class="btn btn-lg btn-block btn-warning" (click)="back()">Regresar</button>

                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>

        </div>
    </section>



</main>
<app-footer></app-footer>