<ng-container *ngIf="data.menuCheck =='true' || data.menuCheck ==true">

    <div class="clear"></div>
    <div class="_animate__zoomIn animate__animated animate__zoomIn btp ma text-center"
        [style]="{'border-color':data.cSecond}" *ngIf="data && menus.length>0">
        <div>
            <h3 class=" animate__animated mt-5 {{data.cabeceraFont}} {{data.cabeceraEfecto}} {{data.cabeceraEfectoRep}}"
                [style]="{'font-size': data.cabeceraSize +'px','color':data.cTexto}">
                Menu
            </h3>
            <div class="ma divisor" [style]="{'background-color':data.cSecond}"> </div>
            <div class="container text-center">
                <div class="row text-center ma">
                    <ng-container *ngFor="let men of menus">

                        <div class="col-6 col-md-4 col-lg-3 ma {{data.textoInvFont}}">
                            <img [src]="url+'/upload/fondos/'+getImg(men.icon)" alt="{{men.tipo}}"
                                [style]="{'width':data.iconSize+'px','height':data.iconSize+'px'}">
                            <h4 class="{{data.cabeceraFont}}" [style]="{'color':data.cTexto, 'font-weight': 'bold'}">
                                {{men.tipo}}</h4>
                            <p class="{{data.textoInvFont}}" [style]="{'color':data.cTexto}">
                                {{men.name}}
                            </p>

                        </div>
                    </ng-container>



                </div>

            </div>




        </div>



    </div>
</ng-container>