<ng-container *ngIf=" !loading && data.vistaTemp && !boleto">

    <div class="  mt-3"
        [style]="{'width': '100%','text-align': 'center','margin':'auto', 'background-color': '#ffffff'}"
        *ngIf="data.checking">
        <div class="col-12  mt-3 ">





            <h2 class="mt-3 {{data.cabeceraFont}}"
                [style]="{'color':data.cPrincipal, 'font-size': data.cabeceraSize + 'px !important' }">
                Este es tu boleto
            </h2>
        </div>
        <div class="qrcodeImage text-center  mg ma pt-3 mt-3">
            <qrcode [qrdata]="getQr()" [allowEmptyString]="true"
                [ariaLabel]="'QR Code image with the following content...'" [cssClass]="'center'"
                [elementType]="'canvas'" [errorCorrectionLevel]="'M'" [imageHeight]="50" [imageWidth]="50" [margin]="4"
                [scale]="1" [colorDark]="data.cPrincipal" [colorLight]="'#ffffff'" [title]="getQr(boleto)"
                [width]="280">
            </qrcode>
            <button class="btn  upper"
                [style]="{'background-color': data.cPrincipal, 'color':data.cWhite, 'border': '3px solid '+ data.cSecond}"
                type="button" *ngIf=" data.confirmacionCheck">
                Confirma tu asistencia
            </button>

        </div>
    </div>
    <div class="mt-3 text-center">
        <button class="btn mt-3 mb-3"
            [style]="{'background-color':data.cPrincipal, 'color':data.cWhite , 'border':' 3px solid '+ data.cSecond}"
            type="button">
            Sube tus fotos la galería de fotos <i class="bi bi-images"
                [style]="{ 'font-size':'30px','margin-left':'10px', 'color':data.cSecond}"></i>
        </button>
    </div>
</ng-container>



<ng-container *ngIf=" !loading && !data.vistaTemp && boleto">
    <div class="  mt-3"
        [style]="{'width': '100%','text-align': 'center','margin':'auto', 'background-color': '#ffffff'}"
        *ngIf="data.checking">
        <div class="col-12  ">
            <h2 class="mt-3 {{data.cabeceraFont}}"
                [style]="{'color':data.cPrincipal, 'font-size': data.cabeceraSize + 'px !important' }">
                Este es tu boleto
            </h2>
        </div>

        <div class="qrcodeImage text-center  mg ma pt-3 mt-3" *ngIf="fiesta">
            <qrcode [qrdata]="getQr(boleto)" [allowEmptyString]="true"
                [ariaLabel]="'Fiesta : ' + fiesta.nombre + ' Invitado :' + boleto.nombreGrupo" [cssClass]="'center'"
                [elementType]="'canvas'" [errorCorrectionLevel]="'M'" [imageHeight]="55" [imageWidth]="55" [margin]="4"
                [scale]="1" [colorDark]="data.cPrincipal" [colorLight]="'#ffffff'"
                [title]="'Fiesta : ' + fiesta.nombre + ' Invitado :' + boleto.nombreGrupo" [width]="280"
                [imageSrc]="url+'/upload/fiestas/'+fiesta.img">
            </qrcode>




            <button class="btn  upper"
                [style]="{'background-color': data.cPrincipal, 'color':data.cWhite, 'border': '3px solid '+ data.cSecond}"
                type="button" *ngIf=" data.confirmacionCheck && !boleto.confirmado" (click)="confirmar(getQr(boleto))">
                Confirma tu asistencia
            </button>
            <button class="btn  upper mt-3"
                [style]="{'background-color': data.cPrincipal, 'color':data.cWhite, 'border': '3px solid '+ data.cSecond}"
                type="button" *ngIf=" data.confirmacionCheck && !boleto.confirmado"
                (click)="declinar(getQr(boleto) ,data.declinar)">
                No puedo asistir
            </button>
            <button class="btn  upper"
                [style]="{'background-color': data.cPrincipal, 'color':data.cWhite, 'border': '3px solid '+ data.cSecond}"
                type="button" *ngIf=" data.confirmacionCheck && boleto.confirmado" (click)="confirmar(getQr(boleto))">
                Quitar conformación
            </button>










        </div>
    </div>
    <div class="mt-3 text-center">
        <button class="btn mt-3 mb-3" *ngIf="fiesta.galeria"
            [style]="{'background-color':data.cPrincipal, 'color':data.cWhite , 'border':' 3px solid '+ data.cSecond}"
            type="button" routerLink="/core/galeria/fst/{{fiesta.uid}}/blt/{{boleto.uid}}">
            Sube tus fotos la galería de fotos
            <i class="bi bi-images" [style]=" {'font-size': '30px','margin-left':'10px', 'color':data.cSecond}"></i>
        </button>
    </div>
</ng-container>