<app-header></app-header>
<app-loading *ngIf="loading"></app-loading>
<section class="explore-section section-padding" id="section_2" *ngIf="!loading">
    <div class="container">
        <div class="row">

            <div class="col-12 text-center">
                <h2 class="mb-4">Mis eventos</h2>
            </div>
            <div class="col-12 col-md-6 mt-4 ma text-center mt-3">

                <button type="button" class="btn btn-lg btn-block but"
                    *ngIf="cantidadFiestas>0 &&(rol == ANF || rol== SLN) " routerLink="/core/fiestas/crear-fiesta">Nuevo
                    evento</button>
                <button class="btn but   " *ngIf="cantidadFiestas<=0 &&(rol == ANF || rol== SLN) "
                    routerLink="/core/compras/crear-compra/{{uid}}">Comprar
                    paquete</button>


            </div>
            <div class="col-12 col-md-6 mt-3 ma">

                <div class="form-group ma">
                    <label for="grupo ma">Filtro </label>
                    <select name="" class="form-control upper ma" (change)="filterBy(filter.value)" #filter>
                        <option value="" selected>Selecciona un filtro</option>
                        <option value="hoy">Hoy</option>
                        <option value="finalizadas">Finalizadas</option>
                        <option value="true">Activadas</option>
                        <option value="false">Desactivadas</option>

                    </select>
                </div>

            </div>

        </div>

    </div>
    <div class="container-fluid mt-50">
        <div class="row">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="design-tab" data-bs-toggle="tab"
                        data-bs-target="#design-tab-pane" type="button" role="tab" aria-controls="design-tab-pane"
                        aria-selected="true">
                        Eventos ({{fiestas.length}})



                    </button>
                </li>



            </ul>
        </div>
    </div>

    <div class="container">
        <div class="row" *ngIf="fiestas">

            <div class="col-12">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="design-tab-pane" role="tabpanel"
                        aria-labelledby="design-tab" tabindex="0">
                        <div class="row">
                            <ng-container *ngFor="let party of fiestas; let i =index">
                                <div class="col-lg-6 col-md-6 col-12 mt-5">

                                    <div class="custom-block custom-block-overlay" style="max-height: 400px;">
                                        <div class="d-flex flex-column h-100">
                                            <img [src]="(party.img!=='')?url+'/upload/fiestas/'+party.img:url+'/upload/fiestas/default.jpg'"
                                                class="custom-block-image img-fluid" alt="">

                                            <div class="custom-block-overlay-text d-flex">
                                                <div>
                                                    <h4 class="text-white mb-2" style="font-size: 18px;">
                                                        <a class="textDN text-white"
                                                            routerLink="/core/info-fiesta/{{party.uid}}">

                                                            {{party.nombre}}
                                                        </a>
                                                        <small
                                                            style="color:var(--primary-color) ;font-size:15px ;">&nbsp;{{

                                                            (typeOf(party.salon
                                                            )=='string')?getCatalog('salon',party.salon):party.salon.nombre
                                                            }}
                                                            <b style="color:white">&nbsp;{{party.fecha |
                                                                date:"short"}}</b>

                                                        </small>
                                                        <div class="col-12 mt-2 text-center" *ngIf="party.galeria">
                                                            Galería de Imágenes
                                                            <a class="text-center ma"
                                                                style="   
                                                            margin-left: 15px;width: 30px;height: 30px;background-color: #ffffff;border-radius: 100%;text-align: center !important;"
                                                                *ngIf="rol===ANF"
                                                                routerLink="/core/galeria/fst/{{party.uid}}/anf/{{uid}}">

                                                                <i class="bi bi-images ma"
                                                                    style=" font-size: 20px;margin:auto; color:#13547a ; display: block; "></i>
                                                            </a>
                                                            <a class="text-center ma"
                                                                style="   
                                                            margin-left: 15px;width: 30px;height: 30px;background-color: #ffffff;border-radius: 100%;text-align: center !important;"
                                                                *ngIf="rol!==ANF"
                                                                routerLink="/core/galeria/fst/{{party.uid}}/anf/{{party.usuarioFiesta._id}}">

                                                                <i class="bi bi-images ma"
                                                                    style=" font-size: 20px;margin:auto; color:#13547a ; display: block; "></i>
                                                            </a>
                                                        </div>


                                                    </h4>

                                                    <ng-container *ngFor="let boleto of boletos">
                                                        <ng-container *ngIf="boleto.fiesta.uid === party.uid">
                                                            <ul class="text-white" style="list-style: none;">
                                                                <li class="list" *ngIf="party.checking">Tickets
                                                                    <b class="text-white">{{boleto.fiesta.cantidad}}</b>
                                                                </li>
                                                                <li class="list">Invitaciones
                                                                    creadas
                                                                    <b class="text-white">{{getActivas(boleto.boletos)
                                                                        }}</b>
                                                                </li>
                                                                <li class="list" *ngIf=" party.checking">Ocupados
                                                                    <b class="text-white">{{gettotal(boleto.boletos
                                                                        ,'ocupados')}}</b>
                                                                </li>
                                                                <li class="list" *ngIf=" party.checking">Libres
                                                                    <b class="text-white">{{boleto.fiesta.cantidad
                                                                        -gettotal(boleto.boletos
                                                                        ,'ocupados')}}</b>
                                                                </li>
                                                                <li class="list">Confirmados
                                                                    <b
                                                                        class="text-white">{{getConfirmados(boleto.boletos)}}</b>
                                                                </li>
                                                                <li class="list">Personas en evento
                                                                    <b class="text-white"
                                                                        [ngClass]="{'danger': gettotal(boleto.boletos) === getOnParty(boleto.boletos) }">{{getOnParty(boleto.boletos)}}</b>
                                                                </li>
                                                                <li class="list" style="cursor: pointer;"
                                                                    (click)="enviarPush(boleto.boletos)"
                                                                    alt="Solo quien activo las notificaciones en sus dispositivos"
                                                                    *ngIf="(rol === URS || rol === ADM  || rol === ANF || rol === SLN ) && party.fecha > today && party.activated">
                                                                    <b class="text-white"
                                                                        style="margin-right:10px">Recordar</b> <i
                                                                        class="bi bi-send"></i>
                                                                </li>
                                                            </ul>
                                                        </ng-container>


                                                    </ng-container>




                                                </div>

                                            </div>

                                            <br>
                                            <div class="social-share d-flex"
                                                *ngIf="(rol === URS || rol === ADM  || rol === ANF || rol === SLN ) && party.fecha > today && party.activated">
                                                <p class="text-white  ">Invitados: </p>

                                                <ul class="social-icon">
                                                    <li class="social-icon-item">
                                                        <a (click)="setInvitados(party.uid)"
                                                            class="social-icon-link icon-plus"
                                                            style="text-decoration: none; font-size: 25px;">
                                                        </a>
                                                    </li>


                                                </ul>

                                            </div>
                                            <div class="social-share d-flex" style="left: 40%;"
                                                *ngIf="(rol   ) && party.fecha > today && party.activated && party.invitacion.includes('default')">
                                                <p class="text-white  ">Invitacion: </p>

                                                <ul class="social-icon">
                                                    <li class="social-icon-item">
                                                        <a routerLink="/core/invitaciones/editar-invitacion/true/{{party.uid}}"
                                                            class="social-icon-link bi bi-file-earmark-fill "
                                                            style="text-decoration: none; font-size: 25px;">
                                                        </a>
                                                    </li>


                                                </ul>

                                            </div>

                                            <div class="section-overlay"></div>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>

                        </div>
                    </div>


                </div>

            </div>
        </div>

        <div class="row" *ngIf="fiestas.length==0">
            <h2 class="text-center mt-50">Aun no tienes fiestas</h2>
        </div>
    </div>
</section>






<app-footer></app-footer>