<app-header></app-header>

<section class="hero-section d-flex justify-content-center align-items-center" id="section_1">

</section>
<section class="featured-section">
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-lg-4 col-12 mb-4 mb-lg-0 ma text-center">
                <h2 class="ma white">Pagina no encontrada</h2>
                <div class="custom-block bg-white shadow-lg">

                    <img src="/assets/images/404.png" class="custom-block-image img-fluid img-scan">


                </div>
            </div>



        </div>
    </div>
</section>
<section class="explore-section section-padding" id="section_2">
    <div class="container">

        <div class="col-12 text-center">
            <button class="btn btn-lg btn-block but  mt-3" routerLink="/core/inicio">Regresar</button>

        </div>

    </div>




</section>


<app-footer></app-footer>