<div class="principal">
    <app-img-principal></app-img-principal>
    <div class="col-12 text-center animate__animated animate__fadeIn">
        <h2 class=" textInit font1" [style]="{'font-size': 35+'px','top':350+'px'}">
            Mariana López
        </h2>
        <h3 class="font1 textInit" [style]="{'font-size': 35+'px','top':150+'px'}">Mis XV</h3>
    </div>
    <div class="row  ">
        <div class="col-10 text-center ma">
            <div class="ma divisor"> </div>
            <p class="font1  parrafo mb-2  animate__animated animate__fadeIn">
                Mis 15 años marcan el comienzo de una nueva etapa de mi vida. Una etapa maravillosa donde el amor y
                la alegría están conmigo. Por eso quiero compartir este día tan especial con todas las personas a
                las que amo y me aman, y tú tienes que ser parte de esta fiesta
            </p>
        </div>
        <div class="col-12 col-md-6 text-center ma   animate__animated animate__fadeIn">
            <div class="ma divisor"> </div>



            <h3 class="font1" style="font-size: 50px;">
                Mis Padres
            </h3>
            <table class="table">
                <thead class="font1">
                    <tr>
                        <th>Maria Mendoza</th>

                    </tr>
                    <tr>

                        <th>&</th>
                    </tr>
                    <tr>

                        <th>Jacob pedro de la Cruz</th>

                    </tr>
                </thead>

            </table>

        </div>

    </div>

</div>