<ng-container *ngIf="data.padrinosCheck =='true' || data.padrinosCheck ==true">

    <div class="clear"></div>
    <div class="_animate__zoomIn animate__animated animate__zoomIn btp"
        [style]="{'background-color':'white','border-color':data.cSecond,
'background-image':'url(/assets/invitaciones/background/'+data.fondoInvitacion+')' , 'background-attachment': 'fixed', 'background-size': '100% 100%', 'background-repeat': 'no-repeat', 'background-position': 'center top'}"
        *ngIf="data  && padrinos.length>0">
        <div class="text-center">
            <h3 class="text-center ma animate__animated {{data.cabeceraFont}} {{data.cabeceraEfecto}} {{data.cabeceraEfectoRep}}"
                [style]="{'font-size': data.cabeceraSize +'px','color':data.cTexto}">
                Padrinos
            </h3>
            <div class="ma divisor" [style]="{'background-color':data.cSecond}"> </div>
            <div class="container">
                <div class="row text-center">
                    <ng-container *ngFor="let item of padrinos">

                        <div class="col-6 col-md-4 ma">
                            <img src="/assets/icons/{{item.icon}}.png" alt="">
                            <h5 class="{{data.textoInvFont}}" [style]="{'font-weight': 'bold', 'color':data.cTexto}">
                                {{item.tipo}}</h5>
                            <h3 class="{{data.textoInvFont}}" [style]="{'color':data.cTexto}">{{item.name}}</h3>

                        </div>
                    </ng-container>



                </div>

            </div>




        </div>



    </div>
</ng-container>