<div class="card">

    <div class="card-body">

        <div class="d-flex justify-content-center links">
            <h5>Para poder continuar con la compra se requiere tener una cuenta</h5>
        </div>

        <div class="row">
            <div class="col-12 col-md-6 mt-5 ma">
                <div class=" justify-content-center text-center ">
                    <h5>¿Tienes cuenta?</h5>
                    <button class="btn but mt-3" routerLink="/auth/login"> Ingresar</button>
                </div>
            </div>
            <div class="col-12 col-md-6 mt-5 ma">
                <div class=" justify-content-center   text-center  ">
                    <h5>¿No tienes cuenta?</h5>
                    <button class="btn but2 mt-3" routerLink="/auth/register"> Registrar</button>
                </div>
            </div>
        </div>




    </div>

</div>