<app-header></app-header>

<div class="container ">
    <div class="row mt-5 text-center">
        <div class="col-12 col-md-8 text-center">
            <img src="assets/icons/flores1.jpeg" style="width: 100%;  max-width: 600px;" alt="Iglesia">
        </div>
        <div class="col-12 col-md-4 text-start  ">
            <h3 class="mt-2" style="color:gray; font-size: 35px;">
                Producto
            </h3>
            <h4 class="mt-3" style="color: var(--cPrimary); font-size: 35px;">
                $4567.00 MX
            </h4>
            <p>
                <b>Referencia</b> Lorem ipsum
            </p>
            <p style=" font-size: 20px; color: var(--cPrimary) ; text-align: justify; ">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea voluptate quae at nobis quod architecto
                porro sed sequi enim maxime facere, ab molestiae dicta quibusdam. Tempora vel explicabo quisquam
                consequuntur!
            </p>
            <app-divisor></app-divisor>
            <div class="row mt-2">
                <div class="carrucel">

                    <div class="item-color-market pointer" style="background-color: #ffd05b;"></div>
                    <div class="item-color-market pointer" style="background-color: red;"></div>
                    <div class="item-color-market pointer" style="background-color: blue;"></div>
                    <div class="item-color-market pointer" style="background-color: green;"></div>
                    <div class="item-color-market pointer" style="background-color: gray;"></div>




                </div>

            </div>
            <div class="row mt-2">
                <div class="carrucel">

                    <div class="item-market pointer">
                        <img src="assets/icons/flores1.jpeg" class=" img-item-market  select-img-market" alt="Iglesia">

                    </div>
                    <div class="item-market pointer">
                        <img src="assets/icons/flores2.jpeg" class=" img-item-market " alt="Iglesia">

                    </div>
                    <div class="item-market pointer">
                        <img src="assets/icons/flores3.jpeg" class=" img-item-market " alt="Iglesia">

                    </div>
                    <div class="item-market pointer">
                        <img src="assets/icons/flores4.jpeg" class=" img-item-market " alt="Iglesia">

                    </div>
                    <div class="item-market pointer">
                        <img src="assets/icons/flores5.jpeg" class=" img-item-market " alt="Iglesia">

                    </div>



                </div>

            </div>
        </div>
    </div>
    <div class="row mt-5  text-center">
        <div class="col-6  ">
            <button class="btn but"> Agregar al carrito</button>
        </div>
        <div class="col-6  ">
            <button class="btn but2" (click)="back()"> Regresar</button>
        </div>
    </div>
</div>
<app-footer></app-footer>