<app-header></app-header>
<main>
    <app-loading class="animated1 fadeIn" *ngIf="loading"></app-loading>
    <app-message class="animated1 fadeIn" *ngIf="msnOk"></app-message>
    <section class="contact-section section-padding section-bg animated1 fadeIn " id="section_5" *ngIf="!loading">
        <div class="container bw">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12 col-12 text-center">
                            <h2 class="mb-5">Crear usuario</h2>
                        </div>
                        <form [formGroup]="form" (ngSubmit)="onSubmit()">
                            <div class="row">
                                <div class="col-12 col-md-4 mt-3">
                                    <div class="form-group">
                                        <label for="nombre">Nombre</label>
                                        <input type="text" class="form-control upper" id="nombre"
                                            formControlName="nombre" required placeholder="Nombre">
                                    </div>
                                    <span *ngIf="submited && errorControl['nombre'].errors " class="error">Es requerido
                                    </span>
                                </div>
                                <div class="col-12 col-md-4 mt-3">

                                    <div class="form-group">
                                        <label for="apellidoPaterno">Apellido paterno</label>
                                        <input type="text" class="form-control upper" id="apellidoPaterno"
                                            formControlName="apellidoPaterno" placeholder="Apellido paterno">
                                    </div>
                                    <span *ngIf="submited && errorControl['apellidoPaterno'].errors " class="error">Es
                                        requerido
                                    </span>
                                </div>
                                <div class="col-12 col-md-4 mt-3">

                                    <div class="form-group">
                                        <label for="apellidoMaterno">Apellido materno</label>
                                        <input type="text" class="form-control upper" id="apellidoMaterno"
                                            placeholder="Apellido materno" formControlName="apellidoMaterno">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 mt-3">

                                    <div class="form-group">
                                        <label for="email">Correo electrónico</label>
                                        <input type="email" class="form-control upper" id="email"
                                            placeholder="Correo electrónico" formControlName="email">
                                    </div>
                                    <span *ngIf="submited && errorControl['email'].errors " class="error">Es requerido
                                    </span>
                                </div>
                                <div class="col-12 col-md-6 mt-3">

                                    <div class="form-group">
                                        <label for="password">Contraseña</label>
                                        <input type="password" class="form-control upper" id="password"
                                            placeholder="Contraseña" formControlName="password">
                                    </div>
                                    <span *ngIf="submited && errorControl['password'].errors " class="error">Es
                                        requerido
                                    </span>
                                </div>
                                <div class="col-12 col-md-6 mt-3">

                                    <div class="form-group">
                                        <label for="rol">Rol</label>
                                        <select name="" id="rol" formControlName="role" class="form-control upper"
                                            #role>
                                            <option value="">Selecciona un rol</option>
                                            <option [value]="item.uid" *ngFor="let item of roles">{{item.nombre}}
                                            </option>
                                        </select>
                                    </div>
                                    <span *ngIf="submited && errorControl['role'].errors " class="error">Es requerido
                                    </span>
                                </div>
                                <div class="col-12 col-md-6 mt-3">

                                    <div class="form-group">
                                        <label for="salon">Salon</label>
                                        <select name="" id="salon" formControlName="salon" class="form-control upper">
                                            <option value="">Selecciona un salon</option>
                                            <option value="">Sin Salon</option>
                                            <option [value]="item.uid" *ngFor="let item of salones">{{item.nombre}}
                                            </option>
                                        </select>
                                    </div>

                                </div>

                                <div class="col-12 col-md-6 mt-3" *ngIf="rol == ADM  ">

                                    <div class="form-group">
                                        <label for="paqueteActual">Paquete</label>
                                        <select name="" id="paqueteActual" formControlName="paqueteActual"
                                            #paqueteActual class="form-control upper"
                                            (change)="selectPaquete(paqueteActual.value)">
                                            <option value="">Selecciona un paquete</option>
                                            <option [value]="item.uid" *ngFor="let item of paquetes">{{item.nombre}}
                                            </option>
                                        </select>
                                    </div>

                                </div>
                                <!-- <div class="col-12 col-md-6 mt-3" *ngIf="rol == ADM">

                                    <div class="form-group">
                                        <label for="paqueteActual">Paquete</label>
                                        <select name="" id="paqueteActual" formControlName="paqueteActual"
                                            #paqueteActual class="form-control upper"
                                            (change)="selectPaquete(paqueteActual.value)">
                                            <option value="">Selecciona un paquete</option>
                                            <ng-container *ngFor="let item of paquetes">

                                                <option [value]="item.uid" *ngIf="item.clave == ESLTC">{{item.nombre}}
                                                </option>
                                            </ng-container>
                                        </select>
                                    </div>

                                </div> -->
                                <div class="col-12 col-md-6 mt-3" *ngIf="rol == ADM">
                                    <div class="form-group">
                                        <label for="cantidadFiestas">Cantidad de fiestas</label>
                                        <input type="number" class="form-control upper" id="cantidadFiestas"
                                            formControlName="cantidadFiestas" placeholder="Cantidad de fiestas"
                                            readonly>
                                    </div>
                                    <span *ngIf="submited && errorControl['cantidadFiestas'].errors " class="error">Es
                                        requerido
                                    </span>
                                </div>

                            </div>

                            <div class="row mt-5 text-center">

                                <div class="col-12 col-md-6  mt-3 text-center ">
                                    <button type="submit" class="btn btn-lg btn-block but  ">Crear</button>

                                </div>
                                <div class="col-12 col-md-6  mt-3 text-center">
                                    <button class="btn btn-lg btn-block btn-warning" (click)="back()">Regresar</button>

                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>

        </div>
    </section>



</main>
<app-footer></app-footer>