<app-header></app-header>
<section class="faq-section section-padding" id="section_4">
    <div class="container">
        <div class="row">

            <div class="col-12">
                <h2 class="mb-4 ma">Preguntas frecuentes</h2>
            </div>

            <div class="clearfix"></div>

            <div class="col-lg-5 col-12">
                <img src="assets/images/faq_graphic.jpg" class="img-fluid" alt="FAQs">
            </div>

            <div class="col-lg-6 col-12 m-auto">
                <div class="accordion" id="accordionFAQS">
                    <!-- <div class="accordion-item">
                        <h2 class="accordion-header" id="registro">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Crear una cuenta
                            </button>
                        </h2>

                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="registro"
                            data-bs-parent="#accordionFAQS">
                            <div class="accordion-body">
                              
                                <ul>
                                    <li style="list-style: none;">
                                        <table class="table text-center">
                                            <thead>
                                                <tr class="text-center">


                                                    <th>Clic en el botón</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="text-center">


                                                    <td><img src="assets/images/faqs/crear_cuenta.png" class="img-fluid"
                                                            alt=""></td>

                                                </tr>


                                            </tbody>
                                        </table>
                                    </li>
                                    <li style="list-style: none;">
                                        <table class="table text-center">
                                            <thead>
                                                <tr class="text-center">


                                                    <th>Clic Regístrate</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="text-center">


                                                    <td><img src="assets/images/faqs/login_form.png" class="img-fluid"
                                                            alt=""></td>

                                                </tr>


                                            </tbody>
                                        </table>
                                    </li>
                                    <li style="list-style: none;">
                                        <table class="table text-center">
                                            <thead>
                                                <tr class="text-center">


                                                    <th>Llena el siguiente formulario, acepta términos y condiciones</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="text-center">


                                                    <td><img src="assets/images/faqs/register_form.png"
                                                            class="img-fluid" alt=""></td>

                                                </tr>


                                            </tbody>
                                        </table>
                                    </li>

                                </ul>



                            </div>
                        </div>
                    </div> -->

                    <div class="accordion-item">
                        <h2 class="accordion-header " id="checking">
                            <button class="accordion-button collapsed text-center" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseChecking" aria-expanded="false"
                                aria-controls="collapseChecking">
                                Evento con cantidad de invitados definidos
                            </button>
                        </h2>

                        <div id="collapseChecking" class="accordion-collapse collapse" aria-labelledby="checking"
                            data-bs-parent="#accordionFAQS">
                            <div class="accordion-body text-center">
                                <p>

                                    Al crear un evento activar <strong> Checking </strong> y definir la cantidad de
                                    invitados para el evento.
                                </p>
                                <img src="assets/images/faqs/checking.png" class="img-fluid" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header " id="masivo">
                            <button class="accordion-button collapsed text-center" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseMasivo" aria-expanded="false"
                                aria-controls="collapseMasivo">
                                Eventos masivos
                            </button>
                        </h2>

                        <div id="collapseMasivo" class="accordion-collapse collapse" aria-labelledby="masivo"
                            data-bs-parent="#accordionFAQS">
                            <div class="accordion-body text-center">
                                <p>

                                    Para eventos masivos donde no se requiere una cantidad definida de invitados
                                    desactivar el botón de:
                                </p>
                                <img src="assets/images/faqs/masivo.png" class="img-fluid" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header " id="porMesa">
                            <button class="accordion-button collapsed text-center" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseMesa" aria-expanded="false"
                                aria-controls="collapseMesa">
                                Evento con asignación de mesa
                            </button>
                        </h2>

                        <div id="collapseMesa" class="accordion-collapse collapse" aria-labelledby="porMesa"
                            data-bs-parent="#accordionFAQS">
                            <div class="accordion-body text-center">
                                <p>
                                    Para eventos en donde las invitaciones tienen mesa asignada por ejemplo una boda o
                                    XV años
                                    <strong> Activar checking al crear el evento </strong>
                                </p>
                                <img src="assets/images/faqs/por_mesa.png" class="img-fluid" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header " id="galeria">
                            <button class="accordion-button collapsed text-center" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseGaleria" aria-expanded="false"
                                aria-controls="collapseGaleria">
                                ¿Qué es una galería?
                            </button>
                        </h2>

                        <div id="collapseGaleria" class="accordion-collapse collapse" aria-labelledby="galeria"
                            data-bs-parent="#accordionFAQS">
                            <div class="accordion-body text-center">
                                <p>

                                    La galería es un espacio, en el que los invitados tienen la posibilidad de subir
                                    fotografías
                                    del evento que hallan capturado, a una carpeta privada, donde el anfitrión podrá
                                    verlas y descargarlas.
                                    Para activar la galería al crear el evento.
                                </p>
                                <img src="assets/images/faqs/galeria.png" class="img-fluid" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header " id="general">
                            <button class="accordion-button collapsed text-center" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseGeneral" aria-expanded="false"
                                aria-controls="collapseGeneral">
                                Entrada General
                            </button>
                        </h2>

                        <div id="collapseGeneral" class="accordion-collapse collapse" aria-labelledby="general"
                            data-bs-parent="#accordionFAQS">
                            <div class="accordion-body text-center">
                                <p>

                                    Para eventos al publico en general, por ejemplo una inauguración o
                                    recaudación de fondos, en donde la invitación no va dirigida a una persona
                                    especifica,
                                    se le puede asignar un titulo como: <strong>Al publico en general</strong> el
                                    cual se puede definir activando:
                                </p>
                                <img src="assets/images/faqs/general.png" class="img-fluid" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header " id="real">
                            <button class="accordion-button collapsed text-center" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseReal" aria-expanded="false"
                                aria-controls="collapseReal">
                                Invitación en tiempo real
                            </button>
                        </h2>

                        <div id="collapseReal" class="accordion-collapse collapse" aria-labelledby="real"
                            data-bs-parent="#accordionFAQS">
                            <div class="accordion-body text-center">
                                <p>

                                    Muestra:
                                </p>
                                <ul style="list-style: none;">
                                    <li>
                                        Cantidad de boletos
                                    </li>
                                    <li>
                                        Cantidad de invitaciones creadas
                                    </li>
                                    <li>
                                        Cantidad de boletos ocupados
                                    </li>
                                    <li>
                                        Cantidad de boletos libres
                                    </li>
                                    <li>
                                        Cantidad de invitaciones confirmadas
                                    </li>
                                </ul>
                                <img src="assets/images/faqs/real.png" class="img-fluid" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header " id="individual">
                            <button class="accordion-button collapsed text-center" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseIndividual" aria-expanded="false"
                                aria-controls="collapseIndividual">
                                Crear boletos de manera individual
                            </button>
                        </h2>

                        <div id="collapseIndividual" class="accordion-collapse collapse" aria-labelledby="individual"
                            data-bs-parent="#accordionFAQS">
                            <div class="accordion-body text-center">
                                <p>

                                    Para crear boletos de manera individual ingresar al modulo de boletos y dat clic en
                                    el botón:
                                </p>
                                <img src="assets/images/faqs/individual.png" class="img-fluid" alt="">
                                <p>
                                    Ingresar los datos requeridos para la creación del boleto y dar clic en el botón
                                    Guardar invitado.
                                </p>
                                <img src="assets/images/faqs/boleto_individual.png" class="img-fluid" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header " id="archivo">
                            <button class="accordion-button collapsed text-center" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseArchivo" aria-expanded="false"
                                aria-controls="collapseArchivo">
                                Crear boletos de por archivo
                            </button>
                        </h2>

                        <div id="collapseArchivo" class="accordion-collapse collapse" aria-labelledby="archivo"
                            data-bs-parent="#accordionFAQS">
                            <div class="accordion-body text-center">
                                <p>

                                    Para crear boletos por archivo, es necesario descargar la plantilla de invitaciones
                                    dando clic en :
                                </p>
                                <img src="assets/images/faqs/archivo.png" class="img-fluid" alt="">
                                <p>
                                    Llenar el archivo con los datos necesarios validando la cantidad de invitados en el
                                    evento si el evento tiene el check-in activado, el campo de mesa y correo
                                    electrónico son opcionales.
                                </p>
                                <img src="assets/images/faqs/archivo_invitados.png" class="img-fluid" alt="">
                                <p class="mt-3">
                                    Para subir el archivo dar clic en :
                                </p>
                                <img src="assets/images/faqs/boton_archivo.png" class="img-fluid" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header " id="completo">
                            <button class="accordion-button collapsed text-center" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseCompleto" aria-expanded="false"
                                aria-controls="collapseCompleto">
                                Ver datos completos en tiempo real
                            </button>
                        </h2>

                        <div id="collapseCompleto" class="accordion-collapse collapse" aria-labelledby="completo"
                            data-bs-parent="#accordionFAQS">
                            <div class="accordion-body text-center">
                                <p>

                                    Para poder ver la información completa en tiempo real entrar a mis eventos y dar
                                    clic en <strong>Ver evento</strong>
                                </p>
                                <img src="assets/images/faqs/completo.png" class="img-fluid" alt="">
                                <p>
                                    Se desplegara la siguiente pantalla donde se vera lo siguiente:
                                </p>
                                <ul style="list-style: none;">
                                    <li>
                                        Todas las invitaciones creadas
                                    </li>
                                    <li>
                                        Cantidad de boletos por invitación
                                    </li>
                                    <li>
                                        Si la invitación esta enviada
                                    </li>
                                    <li>
                                        Si el invitado requiere mas o menos boletos aparecerá un botón de ajuste
                                    </li>
                                    <li>
                                        Si la invitación esta confirmada y la fecha de confirmación
                                    </li>
                                    <li>
                                        La cantidad de boletos utilizados por invitación que están en el evento
                                    </li>
                                </ul>
                                <img src="assets/images/faqs/vista_completo.png" class="img-fluid" alt="">

                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>
<app-footer></app-footer>