@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,700;0,900;1,100;1,500;1,900&family=Space+Grotesk:wght@300;500;700&display=swap');

.mg {
    margin-top: 25px;
}

.imgFull {
    background-color: #809fa5;
}

img {
    width: 100%;
    max-width: 350px;
    height: 100vh;
}

.img-invite {
    margin-top: 25px;
    width: auto;
    max-width: 65%;
    border: 5px solid #153860;
    border-radius: 10px;
    height: auto;
}


.personalColorTitutlo {
    color: #fff;
    font-size: 25px;
}

.personalColorTitutlo b {
    color: #153860
}

.btn {
    width: 250px;
    background-color: #fff;
    color: #153860;
    border: 3px solid #153860;
    border-radius: 5px;
    transition: all 500ms;
}

.btn:hover,
.btn:active {
    background-color: #153860;
    color: #fff;
    font-weight: 800;
}

.mb {
    margin-bottom: 100px;
}

@media screen and (max-width: 991px) {
    .img-invite {
        margin-top: 25px;
        width: auto;
        max-width: 90%;
        border: 5px solid #153860;
        border-radius: 10px;
        height: auto !important;
    }

    .personalColorTitutlo {
        font-size: 15px;
    }
}