<ng-container *ngIf="data.galeriaCheck=='true' || data.galeriaCheck==true  ">

    <div class="clear" id="vistaImgModal"></div>
    <div class=" animate__animated animate__zoomIn  mt-5 btp " [style]="{'border-color':data.cSecond}" *ngIf="!viewImg">

        <div class="wthree_title_agile text-center   ">
            <h3 class=" mt-5 animate__animated ma {{data.cabeceraFont}} {{data.cabeceraEfecto}} {{data.cabeceraEfectoRep}}"
                [style]="{'font-size': data.cabeceraSize +'px','color':data.cTexto}">
                {{(data.galeriaTitle=='')?'Momentos':data.galeriaTitle}}
            </h3>
            <div class="ma divisor" [style]="{'background-color':data.cSecond}"> </div>
        </div>
        <section>

            <section class="text-center w-100">
              <!--   <div class="row">

                    <div class="col-4 mb-4 ">


                        <img [src]="url+'/upload/invitaciones/'+data.galeria1"
                            class="w-100 shadow-1-strong rounded mb-4 pointer h340 " alt="{{data.nombreFiesta}}"
                            (click)="selectImg(data.galeria1)" data-toggle="modal" data-target="#exampleModal">
                        <img [src]="url+'/upload/invitaciones/'+data.galeria2"
                            class="w-100 shadow-1-strong rounded mb-4 pointer h600" alt="{{data.nombreFiesta}}"
                            (click)="selectImg(data.galeria2)" data-toggle="modal" data-target="#exampleModal">
                    </div>
                    <div class="col-4 mb-4 ">
                        <img [src]="url+'/upload/invitaciones/'+data.galeria3"
                            class="w-100 shadow-1-strong rounded mb-4 pointer  h600" alt="{{data.nombreFiesta}}"
                            (click)="selectImg(data.galeria3)" data-toggle="modal" data-target="#exampleModal">
                        <img [src]="url+'/upload/invitaciones/'+data.galeria4"
                            class="w-100 shadow-1-strong rounded mb-4 pointer  h340" alt="{{data.nombreFiesta}}"
                            (click)="selectImg(data.galeria4)" data-toggle="modal" data-target="#exampleModal">
                    </div>
                    <div class="col-4 mb-4 ">
                        <img [src]="url+'/upload/invitaciones/'+data.galeria5"
                            class="w-100 shadow-1-strong rounded mb-4 pointer  h340" alt="{{data.nombreFiesta}}"
                            (click)="selectImg(data.galeria5)" data-toggle="modal" data-target="#exampleModal">
                        <img [src]="url+'/upload/invitaciones/'+data.galeria6"
                            class="w-100 shadow-1-strong rounded mb-4 pointer h600" alt="{{data.nombreFiesta}}"
                            (click)="selectImg(data.galeria6)" data-toggle="modal" data-target="#exampleModal">
                    </div>
                </div> -->
                <div class="row  ">
                    <div class="col-4">
                        <div class="card overflow-hidden"  (click)="selectImg(data.galeria1)" data-toggle="modal" data-target="#exampleModal" >
                            <div class="parallax-scene w-100 h-100" [attr.id]="'scene1'">
                                <div data-depth="1">
                                    <img [src]="url+'/upload/invitaciones/'+data.galeria1" alt="{{data.nombreFiesta}}"
                                        class="w-100 h-100 object-cover"
                                       >
                                </div>
                            </div>
                            
                        </div>
                        <div class="card overflow-hidden" (click)="selectImg(data.galeria2)" data-toggle="modal" data-target="#exampleModal" >
                           
                            <div class="parallax-scene w-100 h-100" [attr.id]="'scene2'" >
                                <div data-depth="1">
                                    <img [src]="url+'/upload/invitaciones/'+data.galeria2" alt="{{data.nombreFiesta}}"
                                        class="w-100 h-100 object-cover"
                                        
                                        >
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card overflow-hidden">
                            <div class="parallax-scene w-100 h-100" [attr.id]="'scene3'">
                                <div data-depth="1">
                                    <img [src]="url+'/upload/invitaciones/'+data.galeria3" alt="{{data.nombreFiesta}}"
                                        class="w-100 h-100 object-cover"
                                        (click)="selectImg(data.galeria3)" data-toggle="modal" data-target="#exampleModal">
                                </div>
                            </div>
                            <div class="parallax-scene w-100 h-100" [attr.id]="'scene4'">
                                <div data-depth="1">
                                    <img [src]="url+'/upload/invitaciones/'+data.galeria4" alt="{{data.nombreFiesta}}"
                                        class="w-100 h-100 object-cover"
                                        (click)="selectImg(data.galeria4)" data-toggle="modal" data-target="#exampleModal">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card overflow-hidden">
                            <div class="parallax-scene w-100 h-100" [attr.id]="'scene5'">
                                <div data-depth="1">
                                    <img [src]="url+'/upload/invitaciones/'+data.galeria5" alt="{{data.nombreFiesta}}"
                                        class="w-100 h-100 object-cover"
                                        (click)="selectImg(data.galeria5)" data-toggle="modal" data-target="#exampleModal">
                                </div>
                            </div>
                            <div class="parallax-scene w-100 h-100" [attr.id]="'scene6'">
                                <div data-depth="1">
                                    <img [src]="url+'/upload/invitaciones/'+data.galeria6" alt="{{data.nombreFiesta}}"
                                        class="w-100 h-100 object-cover"
                                        (click)="selectImg(data.galeria6)" data-toggle="modal" data-target="#exampleModal">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                

            </section>

        </section>


    </div>
    <div class="row">
        <div class="col-12">

            <div *ngIf="viewImg" class="animate__animated animate__zoomIn">
                <button type="button" class="close" aria-label="Close" (click)="close()" [style]="{
              
                    'position':'relative',
                    'top':'50px',
                    'left':'calc(50% - 25px)',
                    'z-index':'1000',
                    'background-color': data.cSecond,
                    'padding': '10px 10px','color':data.cTexto, 'width': '50px','height': '50px' ,
                    'border-bottom-left-radius':'25px',
                    'border-bottom-right-radius':'25px',
                    'font-weight':'bold',
                    'left': 0,
                    'font-size':'25px'
                    }">
                    <span aria-hidden="true">&times;</span>
                </button>

                <div class="modal-content">

                    <div class="modal-body ma" style=" width: 90%; max-width:600px; margin:auto">
                        <img [src]="url+'/upload/invitaciones/'+this.imgSelect"
                            class="w-100 shadow-1-strong rounded mb-4 shadowFin" alt="{{data.nombreFiesta}}"
                            data-bs-toggle="modal" data-bs-target="#exampleModal">
                    </div>

                </div>

            </div>
        </div>
    </div>
</ng-container>