<div *ngIf="data && !loading">
    <div *ngIf="data.type =='seccionInicial'" class="" style="overflow: hidden;">

        <div class="animate__animated {{data.invitacionEfecto}}">

            <div class="principal "
                [style]="{'background-image': 'url('+url+'/upload/fondos/'+getImg(data.fondoInvitacion)+')'}"
                *ngIf="!data.fondoInvitacionCheck">
                <div class="presentacion text-center" id="presentacion">

                    <div class="row">
                        <div class="col-12 animate__animated {{data.efectoImg1}} {{data.repEfectoImg1}}"
                            style="z-index: 2;">
                            <!--    <img class="frame" src="/assets/invitaciones/frames/frame5.png"> -->
                            <!-- <img class="shadow imagenFiesta" src="/assets/images/example/fiesta.webp"> -->


                            <ng-container *ngIf="data.marcoFoto=='' && !data.marcoFotoCheck">
                                <div [style]="{'margin-top':data.marcoFotoTop+'px'}"></div>
                            </ng-container>
                            <ng-container *ngIf="data.marcoFoto!='' && !data.marcoFotoCheck">

                                <img class="frame" [src]="url+'/upload/fondos/'+getImg(data.marcoFoto)"
                                    [style]="{'width':data.marcoFotoWidth+'px','margin-top':data.marcoFotoTop+'px'}">
                            </ng-container>

                            <ng-container *ngIf="data.marcoFoto=='' && data.marcoFotoCheck">
                                <div [style]="{'margin-top':data.marcoFotoTop+'px'}"></div>
                            </ng-container>
                            <ng-container *ngIf="data.marcoFoto!='' && data.marcoFotoCheck">

                                <img class="frame" [src]="url+'/upload/invitaciones/'+data.marcoFotoUp"
                                    [style]="{'width':data.marcoFotoWidth+'px','margin-top':data.marcoFotoTop+'px'}">
                            </ng-container>

                            <img class="shadow imagenFiesta" [src]="url+'/upload/invitaciones/'+data.img1"
                                [style]="{'width':+data.img1Size+'px','height':+data.img1Height+'px', 'margin-top':+data.img1Top+'px','z-index': data.marcoIndex,'border-radius': data.img1Forma+'% !important', 'transform': 'rotate('+data.img1Rotate+'deg)', 'left':data.img1Traslate+'px'} ">
                        </div>



                    </div>

                    <div class="col-12 text-center animate__animated animate__fadeIn">
                        <h2 class=" textInit {{data.nombreFont}}   animate__animated {{data.nombreEfecto}} {{data.nombreEfectoRep}}"
                            [style]="{'font-size': data.nombreSize+'px','top':data.topTitle+'px','color':data.cTexto,'text-shadow':data.nShTit+'px '+data.nShTit+'px ' +data.nShTit +'px' + data.cShTit}">
                            {{data.nombreFiesta}}
                        </h2>
                        <h3 class="{{data.tipoFont}} textInit    animate__animated {{data.tipoEfecto}} {{data.tipoEfectoRep}}"
                            [style]="{'font-size': data.tipoSize+'px','top':data.tipoTop+'px','color':data.cTexto,'text-shadow':data.nShSubTit+'px '+data.nShSubTit+'px ' +data.nShSubTit +'px' + data.cShSubTit}">
                            {{data.tipoFiesta}}
                        </h3>
                    </div>
                    <div class="row  ">
                        <div class="col-10 text-center ma">
                            <div class="ma divisor" [style]="{'background-color':data.cSecond}"> </div>
                            <p class="{{data.textoInvFont}}  parrafo mb-2  animate__animated {{data.mensajeEfecto}} {{data.mensajeEfectoRep}}"
                                [style]="{'font-size': data.textoInvSize+'px','color':data.cTexto,'text-align':data.mensajeAlign,'text-shadow':data.nShTexto+'px '+data.nShTexto+'px ' +data.nShTexto +'px' + data.cShTexto}">
                                {{(data.mensaje1!='')?data.mensaje1:'Mensaje de la invitación'}}
                            </p>
                        </div>
                        <div class="col-12 col-md-6 text-center ma   animate__animated animate__fadeIn"
                            *ngIf="padres.length>0">
                            <div class="ma divisor" [style]="{'background-color':data.cSecond}"> </div>



                            <h3 class=" animate__animated {{data.cabeceraFont}} {{data.cabeceraEfecto}} {{data.cabeceraEfectoRep}}"
                                [style]="{'font-size': data.cabeceraSize +'px','color':data.cTexto,'text-shadow':data.nShCab+'px '+data.nShCab+'px ' +data.nShCab +'px' + data.cShCab}">
                                {{data.titlePadres}}
                            </h3>
                            <table class="table">
                                <thead class="{{data.textoInvFont}}"
                                    [style]="{'font-size': data.textoInvSize+'px','color':data.cTexto}"
                                    *ngIf="padres.length >0">
                                    <tr *ngFor="let padre of padres">
                                        <th [style]="{'font-size': data.textoInvSize+'px','color':data.cTexto}">
                                            {{padre.name}}
                                        </th>

                                    </tr>

                                </thead>

                            </table>

                        </div>

                    </div>

                </div>


            </div>




            <div class="principal "
                [style]="{'background-image': 'url('+url+'/upload/invitaciones/'+data.fondoInvitacionUp}"
                *ngIf="data.fondoInvitacionCheck">
                <div class="presentacion text-center" id="presentacion">

                    <div class="row">
                        <div class="col-12 animate__animated {{data.efectoImg1}} {{data.repEfectoImg1}}"
                            style="z-index: 2;">
                            <!--    <img class="frame" src="/assets/invitaciones/frames/frame5.png"> -->
                            <!-- <img class="shadow imagenFiesta" src="/assets/images/example/fiesta.webp"> -->


                            <ng-container *ngIf="data.marcoFoto=='' && !data.marcoFotoCheck">
                                <div [style]="{'margin-top':data.marcoFotoTop+'px'}"></div>
                            </ng-container>
                            <ng-container *ngIf="data.marcoFoto!='' && !data.marcoFotoCheck">

                                <img class="frame" [src]="url+'/upload/fondos/'+getImg(data.marcoFoto)"
                                    [style]="{'width':data.marcoFotoWidth+'px','margin-top':data.marcoFotoTop+'px'}">
                            </ng-container>
                            <ng-container *ngIf="data.marcoFoto=='' && data.marcoFotoCheck">
                                <div [style]="{'margin-top':data.marcoFotoTop+'px'}"></div>
                            </ng-container>
                            <ng-container *ngIf="data.marcoFoto!='' && data.marcoFotoCheck">

                                <img class="frame" [src]="url+'/upload/invitaciones/'+data.marcoFotoUp"
                                    [style]="{'width':data.marcoFotoWidth+'px','margin-top':data.marcoFotoTop+'px'}">
                            </ng-container>

                            <img class="shadow imagenFiesta" [src]="url+'/upload/invitaciones/'+data.img1"
                                [style]="{'width':+data.img1Size+'px','height':+data.img1Height+'px', 'margin-top':+data.img1Top+'px','z-index': data.marcoIndex,'border-radius': data.img1Forma+'% !important', 'transform': 'rotate('+data.img1Rotate+'deg)', 'left':data.img1Traslate+'px'} ">
                        </div>



                    </div>

                    <div class="col-12 text-center animate__animated animate__fadeIn">
                        <h2 class=" textInit {{data.nombreFont}}   animate__animated {{data.nombreEfecto}} {{data.nombreEfectoRep}}"
                            [style]="{'font-size': data.nombreSize+'px','top':data.topTitle+'px','color':data.cTexto,'text-shadow':data.nShTit+'px '+data.nShTit+'px ' +data.nShTit +'px' + data.cShTit}">
                            {{data.nombreFiesta}}
                        </h2>
                        <h3 class="{{data.tipoFont}} textInit    animate__animated {{data.tipoEfecto}} {{data.tipoEfectoRep}}"
                            [style]="{'font-size': data.tipoSize+'px','top':data.tipoTop+'px','color':data.cTexto,'text-shadow':data.nShSubTit+'px '+data.nShSubTit+'px ' +data.nShSubTit +'px' + data.cShSubTit}">
                            {{data.tipoFiesta}}
                        </h3>
                    </div>
                    <div class="row  ">
                        <div class="col-10 text-center ma">
                            <div class="ma divisor" [style]="{'background-color':data.cSecond}"> </div>
                            <p class="{{data.textoInvFont}}  parrafo mb-2  animate__animated {{data.mensajeEfecto}} {{data.mensajeEfectoRep}}"
                                [style]="{'font-size': data.textoInvSize+'px','color':data.cTexto,'text-align':data.mensajeAlign,'text-shadow':data.nShTexto+'px '+data.nShTexto+'px ' +data.nShTexto +'px' + data.cShTexto}">
                                {{(data.mensaje1!='')?data.mensaje1:'Mensaje de la invitación'}}
                            </p>
                        </div>
                        <div class="col-12 col-md-6 text-center ma   animate__animated animate__fadeIn"
                            *ngIf="padres.length>0">
                            <div class="ma divisor" [style]="{'background-color':data.cSecond}"> </div>



                            <h3 class=" animate__animated {{data.cabeceraFont}} {{data.cabeceraEfecto}} {{data.cabeceraEfectoRep}}"
                                [style]="{'font-size': data.cabeceraSize +'px','color':data.cTexto,'text-shadow':data.nShCab+'px '+data.nShCab+'px ' +data.nShCab +'px' + data.cShCab}"
                                *ngIf="padres.length>0">
                                {{data.titlePadres}}
                            </h3>
                            <table class="table">
                                <thead class="{{data.textoInvFont}}"
                                    [style]="{'font-size': data.textoInvSize+'px','color':data.cTexto}">
                                    <tr *ngFor="let padre of padres">
                                        <th [style]="{'font-size': data.textoInvSize+'px','color':data.cTexto}">
                                            {{padre.name}}
                                        </th>

                                    </tr>
                                </thead>

                            </table>

                        </div>

                    </div>

                </div>


            </div>







        </div>
    </div>





    <div *ngIf="data.type == 'presentacion'" class="animate__animated animate__fadeIn">
        <div id="intro">

            <div class="backPresentacion">
                <div class="row">

                    <div class="col-6 animate__animated animate__bounceInLeft" style=" height: 100vh; background-image: url('/assets/invitaciones/background/rosa2.png');
              background-repeat: no-repeat;
                background-size: 100% 100vh;
                background-position: center top;
                background-attachment: fixed;">

                    </div>
                    <div class="col-6 animate__animated animate__bounceInRight" style=" height: 100vh; background-image: url('/assets/invitaciones/background/azul1.png');
              background-repeat: no-repeat;
                background-size: 100% 100vh;
                background-position: center top;
                background-attachment: fixed;">

                    </div>
                </div>
            </div>

            <div id="imgPresentacion" class="presentacion dn ">


                <h3 class="subTitleInv"> {{data.tipoFiesta}}</h3>
                <h2 class="  titleInv">
                    {{data.nombreFiesta}}
                </h2>




                <a class="botonVer nlink inviVer pointer" (click)="closePresentacion()">VE tu invitacion</a>
            </div>
        </div>

    </div>

    <div *ngIf="data.type == 'cabeceras'"
        class=" text-center animate__animated {{data.cabeceraEfecto}} {{data.cabeceraEfectoRep}}">

        <h3 class="{{data.cabeceraFont}} ma"
            [style]="{'font-size': data.cabeceraSize +'px','color':data.cTexto,'text-shadow':data.nShCab+'px '+data.nShCab+'px ' +data.nShCab +'px' + data.cShCab}">
            Mis Padres
        </h3>

    </div>


    <div *ngIf="data.type == 'imgIntro'">
        <div id="imgPresentacion" class="presentacion dn ">


            <h3 class="subTitleInv {{data.nombreFont}}">{{data.tipoFiesta}}</h3>
            <h2 class="  titleInv {{data.nombreFont}}">
                {{data.nombreFiesta}}
            </h2>
            <!-- <img class="frame" src="/assets/invitaciones/frames/frame5.png">
                <img class="pic"
                    src="https://images.vexels.com/media/users/3/194431/isolated/preview/c4cf153f679fd56bfcb727098db09e0c-mis-quince-anos-letras-estrelladas.png?width=360"
                    alt="">
        
         -->



            <a class="botonVer nlink inviVer {{data.textoInvFont}} pointer" (click)="closePresentacion()">Ve tu
                invitacion</a>
        </div>
        <div class="row" style="overflow: hidden; width: 100% !important; max-height: 400px; padding: 20px;">

            <div class="col-6 animate__animated {{data.efectoImgLeft}} {{data.repImgLeft}}"
                *ngIf="!data.imgIntroLeftCheck" style=" height: 100vh; background-image: url('{{url}}/upload/fondos/{{getImg(data.imgIntroLeft)}}');
              background-repeat: no-repeat;
                background-size: 100% 100%;
                background-position: center top;
                background-attachment: fixed;">

            </div>

            <div class="col-6 animate__animated {{data.efectoImgLeft}} {{data.repImgLeft}}"
                *ngIf="data.imgIntroLeftCheck" style=" height: 100vh; background-image: url('{{url}}/upload/invitaciones/{{data.imgIntroLeftUp}}');
              background-repeat: no-repeat;
                background-size: 100% 100%;
                background-position: center top;
                background-attachment: fixed;">

            </div>
            <div class="col-6 animate__animated {{data.efectoImgRight}} {{data.repImgRight}}"
                *ngIf="!data.imgIntroRightCheck" style=" height: 100vh; background-image: url('{{url}}/upload/fondos/{{getImg(data.imgIntroRight)}}');
              background-repeat: no-repeat;
                background-size: 100% 100%;
                background-position: center top;
                background-attachment: fixed;">

            </div>
            <div class="col-6 animate__animated {{data.efectoImgRight}} {{data.repImgRight}}"
                *ngIf="data.imgIntroRightCheck" style=" height: 100vh; background-image: url('{{url}}/upload/invitaciones/{{data.imgIntroRightUp}}');
              background-repeat: no-repeat;
                background-size: 100% 100%;
                background-position: center top;
                background-attachment: fixed;">

            </div>
        </div>



    </div>

    <div *ngIf="data.type == 'iconos'">

        <div class="row">
            <div class="col-12 text-center ma">

                <img src="/assets/icons/bear.png" class="ma"
                    [style]="{'width':data.iconSize+'px','height':data.iconSize+'px'}">
            </div>
        </div>
    </div>





    <div *ngIf="data.type == 'timer'">
        <div class="container-fluid timer btp" [style]="{'border-color':data.cSecond}">
            <div class="countdown">
                <div class="col-12 text-center font1" style="font-size: 50px;">
                    {{text}}
                </div>
                <div class="countdown-block  _animate__zoomIn animate__animated animate__zoomIn"
                    style="visibility: visible;">
                    <span class="days time-elem">
                        <span class="top"
                            [style]="{'background-color':data.cSecond,'transform': 'perspective(300px)' ,'color': '#ffffff'} ">{{dias}}</span>
                        <span class="top-back">
                            <span>{{dias}}</span>
                        </span>
                        <span class="bottom"
                            [style]="{'background-color':data.cSecond,'transform': 'perspective(300px)','color': '#ffffff'}">{{dias}}</span>
                        <span class="bottom-back">
                            <span>{{dias}}</span>
                        </span>
                    </span>
                    <span class="title-timer font-weight-bold" [style]="{'color':data.cTexto}">Dias</span>
                </div>

                <div class="countdown-block  _animate__zoomIn animate__animated animate__zoomIn"
                    style="visibility: visible;">
                    <span class="hours time-elem">
                        <span class="top"
                            [style]="{'background-color':data.cSecond,'transform': 'perspective(300px)','color': '#ffffff'}">{{horas}}</span>
                        <span class="top-back">
                            <span>{{horas}}</span>
                        </span>
                        <span class="bottom"
                            [style]="{'background-color':data.cSecond,'transform': 'perspective(300px)','color': '#ffffff'}">{{horas}}</span>
                        <span class="bottom-back">
                            <span>{{horas}}</span>
                        </span>
                    </span>
                    <span class="title-timer font-weight-bold" [style]="{'color':data.cTexto}">Horas</span>
                </div>

                <div class="countdown-block  _animate__zoomIn animate__animated animate__zoomIn"
                    style="visibility: visible;">
                    <span class="minutes time-elem">
                        <span class="top"
                            [style]="{'background-color':data.cSecond,'transform': 'perspective(300px)','color': '#ffffff'}">{{minutos}}</span>
                        <span class="top-back">
                            <span>{{minutos}}</span>
                        </span>
                        <span class="bottom"
                            [style]="{'background-color':data.cSecond,'transform': 'perspective(300px)','color': '#ffffff'}">{{minutos}}</span>
                        <span class="bottom-back">
                            <span>{{minutos}}</span>
                        </span>
                    </span>
                    <span class="title-timer font-weight-bold" [style]="{'color':data.cTexto}">Minutos</span>
                </div>

                <div class="countdown-block  _animate__zoomIn animate__animated animate__zoomIn"
                    style="visibility: visible;">
                    <span class="seconds time-elem">
                        <span class="top"
                            [style]="{'background-color':data.cSecond,'transform': 'perspective(300px)','color': '#ffffff'}">{{segundos}}</span>
                        <span class="top-back">
                            <span>{{segundos}}</span>
                        </span>
                        <span class="bottom"
                            [style]="{'background-color':data.cSecond,'transform': 'perspective(300px)','color': '#ffffff'}">{{segundos}}</span>
                        <span class="bottom-back">
                            <span>{{segundos}}</span>
                        </span>
                    </span>
                    <span class="title-timer font-weight-bold" [style]="{'color':data.cTexto}">Segundos</span>
                </div>
            </div>
        </div>
    </div>



</div>