<app-header></app-header>

<body id="top" class="animate__animated animate__fadeIn">

    <main>




        <section class="hero-section d-flex justify-content-center align-items-center" id="section_1">
            <div class="container">
                <div class="row">

                    <div class="col-lg-8 col-12 mx-auto">
                        <h1 class="text-white text-center">Marketplace Ticket party</h1>

                        <h6 class="text-center">Complementa tu evento </h6>


                    </div>

                </div>
            </div>
        </section>



        <section class="explore-section section-padding" id="section_2">
            <div class="container">

                <div class="col-12 text-center">
                    <h2 class="mb-3">Proveedores</h2>

                </div>


            </div>
            <ng-container *ngIf="proveedores">

                <app-proveedores-items [proveedores]="proveedores"></app-proveedores-items>
            </ng-container>
            <!--     <app-market-items [items]="items"></app-market-items> -->




        </section>





    </main>

    <app-footer></app-footer>
</body>