<div class="container-fluid timer btp">
    <div class="countdown">
        <div class="col-12 text-center font1" style="font-size: 50px;">
            {{text}}
        </div>
        <div class="countdown-block  _animate__zoomIn animate__animated animate__zoomIn" style="visibility: visible;">
            <span class="days time-elem">
                <span class="top" style="transform: perspective(300px);">{{dias}}</span>
                <span class="top-back" style="">
                    <span>{{dias}}</span>
                </span>
                <span class="bottom">{{dias}}</span>
                <span class="bottom-back">
                    <span>{{dias}}</span>
                </span>
            </span>
            <span class="title-timer font-weight-bold">Dias</span>
        </div>

        <div class="countdown-block  _animate__zoomIn animate__animated animate__zoomIn" style="visibility: visible;">
            <span class="hours time-elem">
                <span class="top" style="transform: perspective(300px);">{{horas}}</span>
                <span class="top-back" style="">
                    <span>{{horas}}</span>
                </span>
                <span class="bottom">{{horas}}</span>
                <span class="bottom-back">
                    <span>{{horas}}</span>
                </span>
            </span>
            <span class="title-timer font-weight-bold">Horas</span>
        </div>

        <div class="countdown-block  _animate__zoomIn animate__animated animate__zoomIn" style="visibility: visible;">
            <span class="minutes time-elem">
                <span class="top" style="transform: perspective(300px);">{{minutos}}</span>
                <span class="top-back" style="">
                    <span>{{minutos}}</span>
                </span>
                <span class="bottom">{{minutos}}</span>
                <span class="bottom-back">
                    <span>{{minutos}}</span>
                </span>
            </span>
            <span class="title-timer font-weight-bold">Minutos</span>
        </div>

        <div class="countdown-block  _animate__zoomIn animate__animated animate__zoomIn" style="visibility: visible;">
            <span class="seconds time-elem">
                <span class="top" style="transform: perspective(300px);">{{segundos}}</span>
                <span class="top-back" style="">
                    <span>{{segundos}}</span>
                </span>
                <span class="bottom">{{segundos}}</span>
                <span class="bottom-back">
                    <span>{{segundos}}</span>
                </span>
            </span>
            <span class="title-timer font-weight-bold">Segundos</span>
        </div>
    </div>
</div>