<div id="intro">
    <div class="backPresentacion">
        <div class="row" style=" height: 100vh;
        background-image: url('{{url}}/upload/invitaciones/{{data.bgIntro}}');
 background-repeat: no-repeat;
   background-size: 100% 100vh;
   background-position: center top;
   background-attachment: fixed;">


            <div class="col-6 animate__animated {{data.efectoImgLeft}} {{data.repImgLeft}}"
                *ngIf="!data.imgIntroLeftCheck" style=" height: 100vh;
             background-image: url('{{url}}/upload/fondos/{{getImg(data.imgIntroLeft)}}');
      background-repeat: no-repeat;
        background-size: 100% 100vh;
        background-position: center top;
        background-attachment: fixed;">
            </div>
            <div class="col-6 animate__animated {{data.efectoImgLeft}} {{data.repImgLeft}}"
                *ngIf="data.imgIntroLeftCheck" style=" height: 100vh;
             background-image: url('{{url}}/upload/invitaciones/{{data.imgIntroLeftUp}}');
      background-repeat: no-repeat;
        background-size: 100% 100vh;
        background-position: center top;
        background-attachment: fixed;">
            </div>






            <div class="col-6 animate__animated {{data.efectoImgRight}} {{data.repImgRight}}"
                *ngIf="!data.imgIntroRightCheck" style=" height: 100vh; 
            background-image: url('{{url}}/upload/fondos/{{getImg(data.imgIntroRight)}}');
      background-repeat: no-repeat;
        background-size: 100% 100vh;
        background-position: center top;
        background-attachment: fixed;">

            </div>
            <div class="col-6 animate__animated {{data.efectoImgRight}} {{data.repImgRight}}"
                *ngIf="data.imgIntroRightCheck" style=" height: 100vh; 
            background-image: url('{{url}}/upload/invitaciones/{{data.imgIntroRightUp}}');
      background-repeat: no-repeat;
        background-size: 100% 100vh;
        background-position: center top;
        background-attachment: fixed;">

            </div>
        </div>
    </div>

    <div id="imgPresentacion" class="presentacion dn ">




        <h2 class=" mt-5 titleInv {{data.nombreFont}}"
            [style]="{'color':data.cTexto,'font-size':data.marcoSizeTitle+'px','text-shadow':data.nShSubTit+'px '+data.nShSubTit+'px ' +data.nShSubTit +'px' + data.cShSubTit}">
            {{data.nombreFiesta}}
        </h2>
        <h3 class="subTitleInv {{data.nombreFont}}"
            [style]="{'color':data.cTexto,'font-size':data.marcoSizeSubtitle+'px','text-shadow':data.nShTit+'px '+data.nShTit+'px ' +data.nShTit +'px' + data.cShTit}">
            {{data.tipoFiesta}} </h3>

        <!-- <img class="frame" src="/assets/invitaciones/frames/frame5.png">
        <img class="pic"
            src="https://images.vexels.com/media/users/3/194431/isolated/preview/c4cf153f679fd56bfcb727098db09e0c-mis-quince-anos-letras-estrelladas.png?width=360"
            alt="">

 -->



        <a class="botonVer nlink inviVer {{data.textoInvFont}} pointer"
            [style]="{'color':data.cSecond,'text-shadow':data.nShTit+'px '+data.nShTit+'px ' +data.nShTit +'px' + data.cShTit}"
            (click)="closePresentacion()">Ve tu invitación </a>
    </div>
</div>
<div id="end"></div>