<ng-container *ngIf="data.vistaTemp && !loading">

    <!-- Padres -->
    <div class="col-12 mt-3" [style]="{ 'background-color': data.cPrincipal, 'margin': auto,'border-radius':'10px'}"
        *ngIf=" data.padresCheck  && type=='padres'">

        <div class="row text-center" style="margin: auto;">
            <h1 class="mt-3 {{data.nombreFont}}" [style]="{'color':data.cWhite}">Padres</h1>
            <div class="col-12 mt-3" [style]="{'text-align': 'center', 'margin': 'auto'}">
                <div class="mt-3"
                    [style]="{'width': '100%','text-align': 'center','margin':'auto', 'background-color': data.cPrincipal}">

                    <div style="width: 80%; max-width: 450px; margin: auto;" class="mb-5">
                        <div class="card  p-0 nborder">


                            <table *ngIf="padres.length >0">
                                <ng-container *ngFor="let pad of padres">

                                    <tr
                                        [style]="{ 'border-top': '2px solid' + data.cPrincipal, 'height': '60px', 'line-height': '60px'}">

                                        <th class="upper">
                                            <span [style]="{'color':data.cSecond}">{{pad.tipo}}</span>
                                        </th>
                                    </tr>
                                    <tr
                                        [style]="{ 'border-top': '2px solid' +data.cPrincipal, 'height': '60px', 'line-height': '60px'}">
                                        <th class="text-center   upper">
                                            <span class="  lato-regular-italic mt-2"
                                                [style]="{'color':data.cPrincipal}">{{pad.name}}</span>
                                        </th>

                                    </tr>
                                </ng-container>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>






    </div>
    <!-- Padrinos -->

    <div class="col-12 mt-3" [style]="{ 'background-color': data.cPrincipal, 'margin': auto,'border-radius':'10px'}"
        *ngIf=" data.padrinosCheck && type=='padrinos'">

        <div class="row text-center" style="margin: auto;">
            <h1 class="mt-3 {{data.nombreFont}}" [style]="{'color':data.cWhite}">Padrinos</h1>
            <div class="col-12 mt-3" [style]="{'text-align': 'center', 'margin': 'auto'}">
                <div class="mt-3"
                    [style]="{'width': '100%','text-align': 'center','margin':'auto', 'background-color': data.cPrincipal}">

                    <div style="width: 80%; max-width: 450px; margin: auto;" class="mb-5">
                        <div class="card  p-0 nborder">


                            <table *ngIf="padrinos.length >0">
                                <ng-container *ngFor="let pad of padrinos">


                                    <tr
                                        [style]="{ 'border-top': '2px solid' +data.cPrincipal, 'height': '60px', 'line-height': '60px'}">
                                        <th class="text-center   upper">
                                            <span class="  lato-regular-italic mt-2"
                                                [style]="{'color':data.cPrincipal}">{{pad.name}}</span>
                                        </th>

                                    </tr>
                                </ng-container>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>






    </div>

    <!-- Chambelanes -->

    <div class="col-12 mt-3" [style]="{ 'background-color': data.cPrincipal, 'margin': auto,'border-radius':'10px'}"
        *ngIf=" data.chambelanesCheck && type=='chambelanes'">

        <div class="row text-center" style="margin: auto;">
            <h1 class="mt-3 {{data.nombreFont}}" [style]="{'color':data.cWhite}">Chambelanes</h1>
            <div class="col-12 mt-3" [style]="{'text-align': 'center', 'margin': 'auto'}">
                <div class="mt-3"
                    [style]="{'width': '100%','text-align': 'center','margin':'auto', 'background-color': data.cPrincipal}">

                    <div style="width: 80%; max-width: 450px; margin: auto;" class="mb-5">
                        <div class="card  p-0 nborder">


                            <table *ngIf="chambelanes.length >0">
                                <ng-container *ngFor="let pad of chambelanes">


                                    <tr
                                        [style]="{ 'border-top': '2px solid' +data.cPrincipal, 'height': '60px', 'line-height': '60px'}">
                                        <th class="text-center   upper">
                                            <span class="  lato-regular-italic mt-2"
                                                [style]="{'color':data.cPrincipal}">{{pad.name}}</span>
                                        </th>

                                    </tr>
                                </ng-container>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>






    </div>


    <!-- Menu -->
    <div class="col-12 col-md-8  ma mt-3 text-center"
        [style]="{ 'background-color': data.cPrincipal, 'margin': auto,'border-radius':'10px'}"
        *ngIf=" data.menuCheck && type=='menu'">


        <h1 [style]="{'color':data.cWhite}">Menu</h1>




        <div class="card  p-0 nborder">


            <table *ngIf="menu.length >0">
                <ng-container *ngFor="let pad of menu">

                    <tr [style]="{   'height': '60px', 'line-height':'50px'}">

                        <th class="upper">
                            <span [style]="{'color':data.cSecond}">{{pad.tipo}}</span>
                        </th>
                        <th class="upper">
                            <span [style]="{'color':data.cPrincipal}">{{pad.name}}</span>
                        </th>
                    </tr>


                </ng-container>
            </table>
        </div>

    </div>

    <!-- Musica -->


    <div class="col-12 col-md-8 ma mt-3 text-center"
        [style]="{ 'background-color': data.cPrincipal, 'margin': auto,'border-radius':'10px'}"
        *ngIf=" data.musicaCheck && type=='musica'">


        <h1 [style]="{'color':data.cWhite}">Música</h1>




        <div class="card  p-0 nborder">


            <table *ngIf="musica.length >0">
                <ng-container *ngFor="let pad of musica">

                    <tr [style]="{   'height': '60px', 'line-height':'50px'}">

                        <th class="upper">
                            <span [style]="{'color':data.cSecond}">{{pad.tipo}}</span>
                        </th>
                        <th class="upper">
                            <span [style]="{'color':data.cPrincipal}">{{pad.name}}</span>
                        </th>
                    </tr>


                </ng-container>
            </table>
        </div>

    </div>


    <!-- Codigo de Vestimenta -->




    <div [style]=" {'background-color': data.cPrincipal, 'margin': 'auto', 'border-radius':'10px'}"
        *ngIf=" data.codigoVestimentaCheck  && type=='codigoVestimenta' && type=='codigoVestimenta' ">


        <div class="col-12 col-md-6 mt-3 text-center ma">
            <h1 class="mt-3 {{data.nombreFont}}" [style]="{color:data.cWhite}">
                Código de vestimenta
            </h1>
        </div>

        <div class="col-12 col-md-6 mt-3 text-center ma">
            <div class="  mt-3 "
                [style]="{'width': '100%','text-align': 'center','margin':'auto', 'background-color': data.cPrincipal}">
                <div style="width: 80%; max-width: 450px; margin: auto;" class="mb-5"
                    *ngIf=" data.codigoVestimentaCheck ">
                    <div class="card  p-0 nborder">
                        <table class="ma">
                            <tr class="ma"
                                [style]="{ 'border-top': '2px solid ' +data.cPrincipal, 'height': '60px', 'line-height': '60px'}">

                                <th class="upper ma">
                                    <span class="ma"
                                        [style]="{'color':data.cPrincipal}">{{data.codigoVestimentaMujer}}</span>
                                </th>
                                <th class="upper">
                                    <img [src]="url+'/upload/invitaciones/'+((data.codigoVestimentaMujerImg !== '') ? data.codigoVestimentaMujerImg :'notImage') "
                                        class="card-img-top ma">
                                </th>
                            </tr>
                            <tr
                                [style]="{ 'border-top': '2px solid '+ data.cPrincipal, 'height': '60px', 'line-height': '60px'}">

                                <th class="upper">
                                    <span [style]="{'color':data.cPrincipal}">{{data.codigoVestimentaHombre}}</span>
                                </th>
                                <th class="upper">
                                    <img [src]="url+'/upload/invitaciones/'+((data.codigoVestimentaHombreImg !== '') ? data.codigoVestimentaHombreImg :'notImage') "
                                        class="card-img-top ma">
                                </th>
                            </tr>



                        </table>
                    </div>
                </div>
            </div>
        </div>








    </div>



    <!-- Mesa de regalos -->

    <div class="col-12 mt-3 text-center" *ngIf="data.mesaRegalosCheck && type=='mesaRegalos'"
        [style]="{   'border-radius':'10px'}">


        <div class="col-12">

            <h2 class="mt-3 {{data.nombreFont}}" [style]="{'color':data.cPrincipal}">Mesa de
                regalos</h2>
        </div>

        <div class="col-12 col-md-6 text-center ma">
            <div class="card   nborder">
                <img [src]="url+'/upload/invitaciones/'+((data.mesaRegalosImg !== '') ? data.mesaRegalosImg :'notImage') "
                    class="card-img-top ma">
                <div class="card-body">
                    <a href="{{data.mesaRegalosUrl}}" class="pointer" [style]="{'color':data.cPrincipal}"
                        target="_blank" rel="noopener noreferrer">

                        <h5 class="card-title mt-2 dancing upper">{{data.mesaRegalosLugar}}</h5>
                    </a>
                    <br>




                </div>
            </div>
        </div>




    </div>



    <!-- Itinerario -->
    <div class="col-12 mt-3 text-center" *ngIf=" data.itinerarioCheck  && type=='itinerario'"
        [style]="{'background-color':data.cPrincipal,'width': '100%','text-align': 'center','margin':'auto','padding':'30px'} ">




        <div class="col-12 col-md-6 ma">
            <div class="card  p-0 nborder">


                <h5 class="  card-title mt-2 dancing text-center" [style]="{'color':data.cPrincipal}">
                    {{data.itinerarioName}}
                </h5>
                <table *ngIf="itinerarios.length >0">
                    <tr class=" text-center">
                        <th class="upper text-center" [style]="{'color':data.cPrincipal}">Evento</th>
                        <th class="upper text-center" [style]="{'color':data.cPrincipal}">
                            Horario</th>
                    </tr>
                    <tr class="text-center" [style]=" { 'height': '60px', 'line-height': '60px'}"
                        *ngFor="let iti of itinerarios">
                        <th class="text-center   upper">
                            <span class="  lato-regular-italic mt-2 text-center"
                                [style]="{'color':data.cPrincipal}">{{iti.name}}</span>
                        </th>
                        <th class="upper text-center">
                            <span [style]="{'color':data.cSecond}">{{iti.hr}}</span>
                        </th>
                    </tr>
                </table>
            </div>
        </div>
    </div>


    <!-- Notas -->


    <div class="col-12 mt-3  text-center" *ngIf=" data.notaCheck  && type=='notas'"
        [style]="{'width': '100%','text-align': 'center','margin':'auto'}">
        <div class="row">

            <div class="col-12 "
                [style]="{'background-color':data.cPrincipal ,'border-top-left-radius':'20px','border-top-right-radius':'20px' }">

                <h2 class="mt-3 {{data.nombreFont}}" [style]="{'color':data.cWhite}"> Notas</h2>
            </div>
        </div>
        <ul
            [style]="{'background-color':data.cSecond,'color':data.cWhite,'list-style': 'none','border-bottom-left-radius':'20px','border-bottom-right-radius':'20px' }">
            <li class="upper" *ngFor="let nota of  notas">
                <b [style]="{'font-weight': '800', 'color': data.cPrincipal, 'padding ':'0',  }">
                    {{nota.texto}}
                </b>
            </li>
        </ul>




    </div>


    <!-- Footer -->
    <div class="  mt-3  text-center" *ngIf="  type=='footer'"
        [style]="{'width': '100%','height': '100px','line-height': '100px','text-align': 'center','margin':'auto', 'background-color':data.cPrincipal}">

        <b [style]="{'color': data.cWhite}">
            <a href="/core" [style]="{'color':data.cWhite, 'text-decoration':'none','cursor':'pointer'}">

                <img src="../../../../../../../../favicon.ico"
                    style="width: 35px; padding: 3px; background-color: white;" alt="">
                Tickets party
            </a>
        </b>
    </div>




</ng-container>

<ng-container *ngIf="!data.vistaTemp && !loading">

    <!-- Padres -->
    <div class="col-12 mt-3" [style]="{ 'background-color': data.cPrincipal, 'margin': auto,'border-radius':'10px'}"
        *ngIf=" data.padresCheck  && type=='padres'">

        <div class="row text-center" style="margin: auto;">
            <h1 class="mt-3 {{data.nombreFont}}" [style]="{'color':data.cWhite}">Padres</h1>
            <div class="col-12 mt-3" [style]="{'text-align': 'center', 'margin': 'auto'}">
                <div class="mt-3"
                    [style]="{'width': '100%','text-align': 'center','margin':'auto', 'background-color': data.cPrincipal}">

                    <div style="width: 80%; max-width: 450px; margin: auto;" class="mb-5">
                        <div class="card  p-0 nborder">


                            <table *ngIf="padres.length >0">
                                <ng-container *ngFor="let pad of padres">

                                    <tr [style]="{ 'border-top': '2px solid' + data.cPrincipal, 'height': '60px',  }">

                                        <th class="upper">
                                            <span [style]="{'color':data.cSecond}">{{pad.tipo}}</span>
                                        </th>
                                    </tr>
                                    <tr [style]="{ 'border-top': '2px solid' +data.cPrincipal, 'height': '60px',  }">
                                        <th class="text-center   upper">
                                            <span class="  lato-regular-italic mt-2"
                                                [style]="{'color':data.cPrincipal}">{{pad.name}}</span>
                                        </th>

                                    </tr>
                                </ng-container>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>






    </div>
    <!-- Padrinos -->

    <div class="col-12 mt-3" [style]="{ 'background-color': data.cPrincipal, 'margin': auto,'border-radius':'10px'}"
        *ngIf=" data.padrinosCheck && type=='padrinos'">

        <div class="row text-center" style="margin: auto;">
            <h1 class="mt-3 {{data.nombreFont}}" [style]="{'color':data.cWhite}">Padrinos</h1>
            <div class="col-12 mt-3" [style]="{'text-align': 'center', 'margin': 'auto'}">
                <div class="mt-3"
                    [style]="{'width': '100%','text-align': 'center','margin':'auto', 'background-color': data.cPrincipal}">

                    <div style="width: 80%; max-width: 450px; margin: auto;" class="mb-5">
                        <div class="card  p-0 nborder">


                            <table *ngIf="padrinos.length >0">
                                <ng-container *ngFor="let pad of padrinos">


                                    <tr [style]="{ 'border-top': '2px solid' +data.cPrincipal, 'height': '60px',  }">
                                        <th class="text-center    upper">
                                            <span class="  lato-regular-italic mt-2"
                                                [style]="{'color':data.cPrincipal}">{{pad.name}}</span>
                                        </th>

                                    </tr>
                                </ng-container>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>






    </div>

    <!-- Chambelanes -->

    <div class="col-12 mt-3" [style]="{ 'background-color': data.cPrincipal, 'margin': auto,'border-radius':'10px'}"
        *ngIf=" data.chambelanesCheck && type=='chambelanes'">

        <div class="row text-center" style="margin: auto;">
            <h1 class="mt-3 {{data.nombreFont}}" [style]="{'color':data.cWhite}">Chambelanes</h1>
            <div class="col-12 mt-3" [style]="{'text-align': 'center', 'margin': 'auto'}">
                <div class="mt-3"
                    [style]="{'width': '100%','text-align': 'center','margin':'auto', 'background-color': data.cPrincipal}">

                    <div style="width: 80%; max-width: 450px; margin: auto;" class="mb-5">
                        <div class="card  p-0 nborder">


                            <table *ngIf="chambelanes.length >0">
                                <ng-container *ngFor="let pad of chambelanes">


                                    <tr [style]="{ 'border-top': '2px solid' +data.cPrincipal, 'height': '60px',  }">
                                        <th class="text-center   upper">
                                            <span class="  lato-regular-italic mt-2"
                                                [style]="{'color':data.cPrincipal}">{{pad.name}}</span>
                                        </th>

                                    </tr>
                                </ng-container>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>






    </div>


    <!-- Menu -->
    <div class="col-12 col-md-8  ma mt-3 text-center"
        [style]="{ 'background-color': data.cPrincipal, 'margin': auto,'border-radius':'10px'}"
        *ngIf=" data.menuCheck && type=='menu'">


        <h1 [style]="{'color':data.cWhite}">Menu</h1>




        <div class="card  p-0 nborder">


            <table *ngIf="menu.length >0">
                <ng-container *ngFor="let pad of menu">

                    <tr [style]="{   'height': '60px',  }">

                        <th class="upper">
                            <span [style]="{'color':data.cSecond}">{{pad.tipo}}</span>
                        </th>
                        <th class="upper">
                            <span [style]="{'color':data.cPrincipal}">{{pad.name}}</span>
                        </th>
                    </tr>


                </ng-container>
            </table>
        </div>

    </div>

    <!-- Musica -->


    <div class="col-12 col-md-8 ma mt-3 text-center"
        [style]="{ 'background-color': data.cPrincipal, 'margin': auto,'border-radius':'10px'}"
        *ngIf=" data.musicaCheck && type=='musica'">


        <h1 [style]="{'color':data.cWhite}">Música</h1>




        <div class="card  p-0 nborder">


            <table *ngIf="musica.length >0">
                <ng-container *ngFor="let pad of musica">

                    <tr [style]="{   'height': '60px', 'line-height':'50px'}">

                        <th class="upper">
                            <span [style]="{'color':data.cSecond}">{{pad.tipo}}</span>
                        </th>
                        <th class="upper">
                            <span [style]="{'color':data.cPrincipal}">{{pad.name}}</span>
                        </th>
                    </tr>


                </ng-container>
            </table>
        </div>

    </div>


    <!-- Codigo de Vestimenta -->




    <div [style]=" {'background-color': data.cPrincipal, 'margin': 'auto', 'border-radius':'10px'}"
        *ngIf=" data.codigoVestimentaCheck  && type=='codigoVestimenta' && type=='codigoVestimenta' ">

        <div class="row text-center" style="margin: auto;">
            <h1 class="mt-3 {{data.nombreFont}}" [style]="{color:data.cWhite}">
                Código de vestimenta
            </h1>
            <div class="col-12 col-md-6 mt-3" style="text-align: center; margin: auto;">
                <div class="  mt-3 "
                    [style]="{'width': '100%','text-align': 'center','margin':'auto', 'background-color': data.cPrincipal}">
                    <div style="width: 80%; max-width: 450px; margin: auto;" class="mb-5"
                        *ngIf=" data.codigoVestimentaCheck ">
                        <div class="card  p-0 nborder">
                            <table class="ma">
                                <tr class="ma"
                                    [style]="{ 'border-top': '2px solid ' +data.cPrincipal, 'height': '60px', 'line-height': '60px'}">


                                    <th class="upper">
                                        <img [src]="url+'/upload/invitaciones/'+((data.codigoVestimentaMujerImg !== '') ? data.codigoVestimentaMujerImg :'notImage') "
                                            class="card-img-top ma">
                                    </th>
                                </tr>
                                <tr
                                    [style]="{ 'border-top': '2px solid '+ data.cPrincipal, 'height': '60px', 'line-height': '60px'}">


                                    <th class="upper">
                                        <img [src]="url+'/upload/invitaciones/'+((data.codigoVestimentaHombreImg !== '') ? data.codigoVestimentaHombreImg :'notImage') "
                                            class="card-img-top ma">
                                    </th>
                                </tr>



                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>






    </div>



    <!-- Mesa de regalos -->

    <div class="col-12 mt-3 text-center" *ngIf="data.mesaRegalosCheck && type=='mesaRegalos'"
        [style]="{   'border-radius':'10px'}">


        <div class="col-12">

            <h2 class="mt-3 {{data.nombreFont}}" [style]="{'color':data.cPrincipal}">Mesa de
                regalos</h2>
        </div>

        <div class="col-12 col-md-6 text-center ma">
            <div class="card   nborder">
                <img [src]="url+'/upload/invitaciones/'+((data.mesaRegalosImg !== '') ? data.mesaRegalosImg :'notImage') "
                    class="card-img-top ma">
                <div class="card-body">
                    <a href="{{data.mesaRegalosUrl}}" class="pointer" [style]="{'color':data.cPrincipal}"
                        target="_blank" rel="noopener noreferrer">

                        <h5 class="card-title mt-2 dancing upper">{{data.mesaRegalosLugar}}</h5>
                    </a>
                    <br>




                </div>
            </div>
        </div>




    </div>



    <!-- Itinerario -->
    <div class="col-12 mt-3 text-center" *ngIf=" data.itinerarioCheck  && type=='itinerario'"
        [style]="{'background-color':data.cPrincipal,'width': '100%','text-align': 'center','margin':'auto','padding':'30px'} ">



        <div class="col-12 col-md-6 ma">
            <div class="card  p-0 nborder">


                <h5 class="  card-title mt-2 dancing text-center" [style]="{'color':data.cPrincipal}">
                    {{data.itinerarioName}}
                </h5>
                <table *ngIf="itinerarios.length >0">
                    <tr class=" text-center">
                        <th class="upper text-center" [style]="{'color':data.cPrincipal}">Evento</th>
                        <th class="upper text-center" [style]="{'color':data.cPrincipal}">
                            Horario</th>
                    </tr>
                    <tr class="text-center" [style]=" { 'height': '60px', 'line-height': '60px'}"
                        *ngFor="let iti of itinerarios">
                        <th class="text-center   upper">
                            <span class="  lato-regular-italic mt-2 text-center"
                                [style]="{'color':data.cPrincipal}">{{iti.name}}</span>
                        </th>
                        <th class="upper text-center">
                            <span [style]="{'color':data.cSecond}">{{iti.hr}}</span>
                        </th>
                    </tr>
                </table>
            </div>
        </div>
    </div>


    <!-- Notas -->


    <div class="col-12 mt-3  text-center" *ngIf=" data.notaCheck  && type=='notas'"
        [style]="{'width': '100%','text-align': 'center','margin':'auto'}">
        <div class="row">

            <div class="col-12 "
                [style]="{'background-color':data.cPrincipal ,'border-top-left-radius':'20px','border-top-right-radius':'20px' }">

                <h2 class="mt-3 {{data.nombreFont}}" [style]="{'color':data.cWhite}"> Notas</h2>
            </div>
        </div>
        <ul
            [style]="{'background-color':data.cSecond,'color':data.cWhite,'list-style': 'none','border-bottom-left-radius':'20px','border-bottom-right-radius':'20px' ,'padding':'none'}">
            <li class="upper" *ngFor="let nota of  notas">
                <b [style]="{'font-weight': '800', 'color': data.cPrincipal, 'padding ':'15px',  }">
                    {{nota.texto}}
                </b>
            </li>
        </ul>




    </div>
    <!-- Footer -->
    <div class="  mt-3  text-center" *ngIf="  type=='footer'"
        [style]="{'width': '100%','height': '100px','line-height': '100px','text-align': 'center','margin':'auto', 'background-color':data.cPrincipal}">

        <b [style]="{'color': data.cWhite}">
            <a href="/core" [style]="{'color':data.cWhite, 'text-decoration':'none','cursor':'pointer'}">

                <img src="../../../../../../../../favicon.ico"
                    style="width: 35px; padding: 3px; background-color: white;" alt="">
                Tickets party
            </a>
        </b>
    </div>
</ng-container>