<div id="intro">

    <div class="backPresentacion">
        <div class="row">
            <div class="col-6 animate__animated animate__bounceInLeft" style=" height: 100vh; background-image: url('/assets/invitaciones/background/rosa2.png');
      background-repeat: no-repeat;
        background-size: 100% 100vh;
        background-position: center top;
        background-attachment: fixed;">

            </div>
            <div class="col-6 animate__animated animate__bounceInRight" style=" height: 100vh; background-image: url('/assets/invitaciones/background/azul1.png');
      background-repeat: no-repeat;
        background-size: 100% 100vh;
        background-position: center top;
        background-attachment: fixed;">

            </div>
        </div>
    </div>

    <div id="imgPresentacion" class="presentacion dn ">


        <h3 class="subTitleInv"> Mis XV años</h3>
        <h2 class="  titleInv">
            Mariana López
        </h2>
        <!-- <img class="frame" src="/assets/invitaciones/frames/frame5.png">
        <img class="pic"
            src="https://images.vexels.com/media/users/3/194431/isolated/preview/c4cf153f679fd56bfcb727098db09e0c-mis-quince-anos-letras-estrelladas.png?width=360"
            alt="">

 -->



        <a class="botonVer nlink inviVer pointer" (click)="closePresentacion()">VE tu invitacion</a>
    </div>
</div>