<app-loading *ngIf="loading"></app-loading>
<div class="qrcodeImage" *ngIf="!loading">
    <label for="customRange2" class="form-label">
        QR de tu pagina {{urlLink}}
    </label>


    <qrcode [qrdata]="urlLink" [allowEmptyString]="true" [ariaLabel]="'QR Code image with the following content...'"
        [cssClass]="'center'" [elementType]="'canvas'" [errorCorrectionLevel]="'M'" [colorDark]="obj.colores[0].value"
        [colorLight]="'#FFFFFF'" [title]="urlLink" [width]=" rango.value "
        [imageSrc]="url+'/upload/proveedores/'+obj.img" [imageHeight]="100" [imageWidth]="100">
    </qrcode>

</div>