<div class="row" *ngIf="proveedor">
    <div id="print-section" style="display: none;">
        <div class="container">
            <header class="row mt-5  ">
                <div class="  col-md-8  m-auto text-center ">
                    <img src="{{url}}/upload/proveedores/{{proveedor.img}}"
                        style=" width: 100%; max-width: 300px; padding: 20px" alt="{{proveedor.nombre}}">
                </div>
            </header>
        </div>
        <div class="container" *ngIf="proveedor.colores.length==2">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 [style]="{'color':proveedor.colores[0].value, 'font-weight':'800', 'margin-top':'25px'}">
                        Ve nuestra pagina
                    </h2>
                    <div class="qrcodeImage">
                        <qrcode [qrdata]="urlLink" [allowEmptyString]="true" [ariaLabel]="proveedor.nombre"
                            [cssClass]="'center'" [colorDark]="proveedor.colores[0].value" [colorLight]="'#ffffffff'"
                            [elementType]="'img'" [errorCorrectionLevel]="'H'"
                            [imageSrc]="url+'/upload/proveedores/'+proveedor.img" [margin]="4" [scale]="1"
                            [title]="proveedor.nombre" [width]="350">
                        </qrcode>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<div class="row mt-5">
    <div class="col-6 ma text-center">

        <button printSectionId="print-section" type="button" class="btn but" printSectionId="ticket"
            styleSheetFile="assets/css/bootstrap.min.css" ngxPrint (click)="printMe()" ngxPrint>Hoja de presentación
        </button>
    </div>
</div>