<app-header></app-header>
<main>
    <app-loading class="animated1 fadeIn" *ngIf="loading"></app-loading>
    <app-message class="animated1 fadeIn" *ngIf="msnOk"></app-message>
    <section class="contact-section section-padding section-bg animated1 fadeIn " id="section_5" *ngIf="!loading">
        <div class="container bw">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12 col-12 text-center">
                            <h2 class="mb-5" *ngIf="edit=='true'">Editar evento</h2>
                            <h2 class="mb-5" *ngIf="edit=='false'">Ver evento</h2>
                        </div>
                        <form [formGroup]="form" (ngSubmit)="onSubmit()">
                            <div class="row" *ngIf="rol.includes('ADM')">
                                <div class="col-12   mb-3   mt-3 ">
                                    <div class="form-group">
                                        <div style="width: 100%;" class="ma text-center">

                                            <label class="form-check-label ma " for="example">
                                                Ejemplo
                                            </label>
                                        </div>
                                        <div style="width: 100%;" class="ma text-center">

                                            <input class="form-check-input ma mt-4" type="checkbox" id="example"
                                                formControlName="example" style="margin-left:50px;margin-right: 50px;">
                                        </div>


                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-6 mt-3">
                                    <div class="form-group">
                                        <label for="nombre">Nombre</label>
                                        <input type="text" class="form-control upper" id="nombre"
                                            formControlName="nombre" required placeholder="Nombre"
                                            [readonly]="edit==='false'">
                                    </div>
                                    <span *ngIf="submited && errorControl['nombre'].errors " class="error">Es
                                        requerido
                                    </span>
                                </div>

                                <div class="col-12 col-md-6 mt-3">

                                    <div class="form-group" *ngIf="edit ==='true'">
                                        <label for="evento">Evento</label>
                                        <select name="" id="evento" formControlName="evento" class="form-control upper">
                                            <option value="">Selecciona un evento</option>
                                            <option [value]="item.uid" *ngFor="let item of eventos">{{item.nombre}}
                                            </option>
                                        </select>
                                    </div>
                                    <span *ngIf="submited && errorControl['evento'].errors " class="error">Es
                                        requerido
                                    </span>
                                    <div class="form-group" *ngIf="edit ==='false'">

                                        <div class="form-group">
                                            <label for="evento">Evento</label>
                                            <input type="text" class="form-control upper" id="evento"
                                                placeholder="Evento" formControlName="evento"
                                                [readonly]="edit==='false'">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6  mb-3   mt-3 ">
                                    <div class="form-group">
                                        <div style="width: 100%;" class="ma text-center">

                                            <label class="form-check-label ma " for="checking">
                                                Checking
                                            </label>
                                        </div>
                                        <div style="width: 100%;" class="ma text-center">

                                            <input class="form-check-input ma mt-4" type="checkbox" id="checking"
                                                formControlName="checking" style="margin-left:50px;margin-right: 50px;">
                                        </div>


                                    </div>
                                </div>
                                <div class="col-12 col-md-6 mt-3" *ngIf="this.form.value.checking">
                                    <div class="form-group">
                                        <label for="cantidad">Cantidad invitados</label>
                                        <input type="text" class="form-control upper" id="cantidad"
                                            formControlName="cantidad" placeholder="Cantidad"
                                            [readonly]="edit==='false'">
                                    </div>
                                    <span *ngIf="submited && errorControl['cantidad'].errors " class="error">Es
                                        requerido
                                    </span>
                                </div>

                                <div class="col-12 col-md-6 mt-3">
                                    <div class="form-group">
                                        <label for="fecha">Fecha</label>
                                        <input type="datetime-local" class="form-control upper" id="fecha"
                                            formControlName="fecha" required placeholder="Fecha"
                                            [readonly]="edit==='false'">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 mt-3" *ngIf="usuarios">
                                    <div class="form-group" *ngIf="edit=='true'">
                                        <label for="usuarioFiesta">Usuario fiesta</label>
                                        <select name="" id="usuarioFiesta" formControlName="usuarioFiesta"
                                            class="form-control upper">
                                            <option value="">Selecciona al anfitrión</option>

                                            <option [value]="item.uid" *ngFor="let item of usuarios">{{item.nombre }}
                                                {{item.apellidoPaterno }} {{item.apellidoMaterno }} <b
                                                    *ngIf="rol === ADM &&  usuarios">
                                                    <ng-container>

                                                        {{item.usuarioCreated.email?item.usuarioCreated.email:''}}
                                                    </ng-container>

                                                </b>
                                            </option>
                                        </select>
                                        <span *ngIf="submited && errorControl['usuarioFiesta'].errors " class="error">Es
                                            requerido
                                        </span>
                                    </div>



                                    <div class="form-group" *ngIf="edit=='false'">
                                        <label for="usuarioFiesta">usuarioFiesta</label>
                                        <input type="text" class="form-control upper" id="usuarioFiesta"
                                            placeholder="usuarioFiesta" formControlName="usuarioFiesta"
                                            [readonly]="edit==='false'">
                                    </div>


                                </div>


                                <div class="col-12 col-md-6 mt-3">
                                    <div class="form-group" *ngIf="edit=='true'">
                                        <label for="invitacion">Invitación</label>
                                        <select name="" id="invitacion" formControlName="invitacion" #invi
                                            class="form-control upper">
                                            <option value=""></option>
                                            <option value="default">Invitación dinámica</option>
                                            <option value="byFile">Sube tu invitación</option>
                                            <!-- <option [value]="item.uid" *ngFor="let item of salones">{{item.nombre }} <b
                                                    *ngIf="rol ===ADM && usuarios">{{item.usuarioCreated.email}}</b>
                                            </option> -->
                                        </select>
                                    </div>
                                    <span *ngIf="submited && errorControl['invitacion'].errors " class="error">Es
                                        requerido
                                    </span>
                                    <div class="form-group" *ngIf="edit=='false'">
                                        <label for="invitacion">Invitación</label>
                                        <input type="text" class="form-control upper" id="invitacion"
                                            placeholder="Invitación" formControlName="invitacion"
                                            [readonly]="edit==='false'">
                                    </div>
                                </div>
                                <div class="col-12     mt-3">
                                    <div class="form-group" *ngIf="edit=='true'">
                                        <label for="salon">Ubicación</label>
                                        <select name="" id="salon" formControlName="salon" #salon
                                            class="form-control upper" #sal (change)="selectSalon($event)">
                                            <option value="">Selecciona una ubicación</option>
                                            <option [value]="item.uid" *ngFor="let item of salones">{{item.nombre }}
                                                <b *ngIf="rol ===ADM && usuarios && item.usuarioCreated">{{item.usuarioCreated?item.usuarioCreated.email
                                                    :"Usuario borrado"}}</b>
                                            </option>
                                        </select>
                                    </div>
                                    <span *ngIf="submited && errorControl['salon'].errors " class="error">Es
                                        requerido
                                    </span>
                                    <div class="form-group" *ngIf="edit=='false'">
                                        <label for="salon">Ubicación</label>
                                        <input type="text" class="form-control upper" id="salon" placeholder="Ubicación"
                                            formControlName="salon" [readonly]="edit==='false'">
                                    </div>
                                </div>

                                <div class="col-12 col-md-6  mb-3   mt-3 ">
                                    <div class="form-group">
                                        <div style="width: 100%;" class="ma text-center">

                                            <label class="form-check-label ma " for="mesaOk">
                                                Por mesa
                                            </label>
                                        </div>
                                        <div style="width: 100%;" class="ma text-center">

                                            <input class="form-check-input ma mt-4" type="checkbox" id="mesaOk"
                                                formControlName="mesaOk" style="margin-left:50px;margin-right: 50px;">
                                        </div>


                                    </div>
                                </div>
                                <div class="col-12 col-md-6  mb-3   mt-3 ">
                                    <div class="form-group">
                                        <div style="width: 100%;" class="ma text-center">

                                            <label class="form-check-label ma " for="galeria">
                                                Galería
                                            </label>
                                            <i *ngIf="this.form.value.galeria && rol != ADM"
                                                class="icon-ok-circled prima"></i>
                                            <i *ngIf="!this.form.value.galeria && rol != ADM"
                                                class="icon-cancel-circled second"></i>
                                        </div>
                                        <div class="secondB white text-center" style="padding:5px; border-radius: 20px;"
                                            *ngIf="rol != ADM">
                                            <b>Si desea cambiar la galería contactar con nosotros</b>
                                        </div>
                                        <div style="width: 100%;  " class="ma text-center" *ngIf="rol == ADM">

                                            <input class="form-check-input ma mt-4" type="checkbox" id="galeria"
                                                formControlName="galeria" style="margin-left:50px;margin-right: 50px;">
                                        </div>


                                    </div>
                                </div>

                                <div class="col-12 text-center mt-5">
                                    <h4>
                                        Imagen de evento
                                    </h4>
                                </div>
                                <div class="col-12 col-md-12 mt-3 text-center">
                                    <div class=" image-upload" class="text-center">

                                        <label for="file-input" [ngClass]=" {'pointer':edit ==='true'}">

                                            <ng-container *ngIf="fiesta" class="text-center">
                                                <img *ngIf="fiesta.img ==='' && !imgTemp   "
                                                    [src]="url+'/upload/fiestas/default.jpg'+fiesta.img"
                                                    alt="Click aquí para subir tu foto"
                                                    title="Click aquí para subir tu foto" class="img-avatar">
                                                <img *ngIf="fiesta.img !=='' && !imgTemp   "
                                                    [src]="url+'/upload/fiestas/'+fiesta.img"
                                                    alt="Click aquí para subir tu foto"
                                                    title="Click aquí para subir tu foto" class="img-avatar">

                                            </ng-container>
                                        </label>

                                        <input id="file-input" type="file" class="ion-no-border"
                                            (change)="cambiarImagen($event,'img')" *ngIf="edit ==='true'" />



                                    </div>
                                </div>
                                <div class="col-12 text-center mt-5">
                                    <h4>
                                        Croquis de mesas
                                    </h4>
                                </div>
                                <div class="col-12 col-md-12 mt-3 text-center">
                                    <div class=" image-upload" class="text-center">

                                        <label for="file-input2" [ngClass]=" {'pointer':edit ==='true'}">

                                            <ng-container *ngIf="fiesta" class="text-center">

                                                <img *ngIf="fiesta.croquis ==='' && !imgTemp   "
                                                    [src]="url+'/upload/fiestas/default.jpg'+fiesta.croquis"
                                                    alt="Click aquí para subir tu foto"
                                                    title="Click aquí para subir tu foto" class="img-avatar">

                                                <img *ngIf="fiesta.croquis !=='' && !imgTemp   "
                                                    [src]="url+'/upload/fiestas/'+fiesta.croquis"
                                                    alt="Click aquí para subir tu foto"
                                                    title="Click aquí para subir tu foto" class="img-avatar">

                                            </ng-container>
                                        </label>

                                        <input id="file-input2" type="file" class="ion-no-border"
                                            (change)="cambiarImagen($event ,'croquis')" *ngIf="edit ==='true'" />



                                    </div>
                                </div>
                                <ng-container class="mt-5">
                                    <div class="col-12 col-md-3 mt-3">
                                        <div class="form-group">
                                            <label for="calle">Calle</label>
                                            <input type="text" class="form-control upper" id="calle"
                                                formControlName="calle" placeholder="Calle" readonly>
                                        </div>
                                        <span *ngIf="submited && errorControl['calle'].errors " class="error">Es
                                            requerido
                                        </span>
                                    </div>
                                    <div class="col-6 col-md-3 mt-3">
                                        <div class="form-group">
                                            <label for="numeroExt">Número exterior</label>
                                            <input type="text" class="form-control upper" id="numeroExt"
                                                formControlName="numeroExt" placeholder="Número exterior" readonly>
                                        </div>
                                        <span *ngIf="submited && errorControl['numeroExt'].errors " class="error">Es
                                            requerido
                                        </span>
                                    </div>
                                    <div class="col-6 col-md-3 mt-3">
                                        <div class="form-group">
                                            <label for="numeroInt">Número interior</label>
                                            <input type="text" class="form-control upper" id="numeroInt"
                                                formControlName="numeroInt" placeholder="Número interior" readonly>
                                        </div>
                                    </div>
                                    <div class="col-6 col-md-3 mt-3">
                                        <div class="form-group">
                                            <label for="municipioDelegacion">Municipio o Delegación</label>
                                            <input type="text" class="form-control upper" id="municipioDelegacion"
                                                formControlName="municipioDelegacion"
                                                placeholder="Municipio o Delegacion" readonly>
                                        </div>
                                        <span *ngIf="submited && errorControl['municipioDelegacion'].errors "
                                            class="error">Es
                                            requerido
                                        </span>
                                    </div>
                                    <div class="col-6 col-md-3 mt-3">
                                        <div class="form-group">
                                            <label for="coloniaBarrio">Colonia o Barrio</label>
                                            <input type="text" class="form-control upper" id="coloniaBarrio"
                                                formControlName="coloniaBarrio" placeholder="Colonia o Barrio" readonly>
                                        </div>
                                        <span *ngIf="submited && errorControl['coloniaBarrio'].errors " class="error">Es
                                            requerido
                                        </span>
                                    </div>
                                    <div class="col-6 col-md-3 mt-3">
                                        <div class="form-group">
                                            <label for="estado">Estado</label>
                                            <input type="text" class="form-control upper" id="estado"
                                                formControlName="estado" placeholder="Estado" readonly>
                                        </div>
                                    </div>
                                    <div class="col-6 col-md-3 mt-3">
                                        <div class="form-group">
                                            <label for="cp">Código postal</label>
                                            <input type="text" class="form-control upper" id="cp" formControlName="cp"
                                                placeholder="Código postal" readonly>
                                        </div>
                                        <span *ngIf="submited && errorControl['cp'].errors " class="error">Es
                                            requerido
                                        </span>
                                    </div>
                                    <div class="col-6 col-md-3 mt-3" readonly>
                                        <div class="form-group">
                                            <label for="pais">País</label>
                                            <input type="text" class="form-control upper" id="pais"
                                                formControlName="pais" placeholder="País" readonly>
                                        </div>
                                        <span *ngIf="submited && errorControl['pais'].errors " class="error">Es
                                            requerido
                                        </span>
                                    </div>
                                    <div class="col-12 col-md-12 mt-3">
                                        <span *ngIf="submited && errorControl['comoLlegar'].errors " class="error">Es
                                            requerido
                                        </span>
                                        <div class="form-group">
                                            <label for="long">Indicaciones adicionales de esta dirección</label>
                                            <textarea class="form-control upper" id="comoLlegar" rows="4"
                                                style="resize: none;" placeholder="Como llegar"
                                                formControlName="comoLlegar" readonly> </textarea>
                                        </div>
                                    </div>
                                </ng-container>


                            </div>

                            <div class="row mt-5 text-center">

                                <div class="col-12 col-md-6  mt-3 text-center " *ngIf="edit==='true'">
                                    <button type="submit" class="btn btn-lg btn-block but  ">Editar</button>

                                </div>
                                <div class="col-12 col-md-6  mt-3 text-center ma">
                                    <button class="btn btn-lg btn-block btn-warning" (click)="back()">Regresar</button>

                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>

        </div>
    </section>



</main>
<app-footer></app-footer>