<ng-container *ngIf="data.confirmacionCheck =='true' || data.confirmacionCheck ==true">
    <div class="  text-center  mt-3 btp "
        [style]="{'background-color': 'white','width':'100%','text-align':'center','border-color':data.cSecond }">
        <div class="row">
            <h3 class=" mt-5 animate__animated {{data.cabeceraFont}} {{data.cabeceraEfecto}} {{data.cabeceraEfectoRep}} ma text-center"
                [style]=" {'font-size': data.cabeceraSize +'px','color':data.cTexto}">
                Codigo Vestimenta
            </h3>
            <div class="ma divisor" [style]="{'background-color':data.cSecond}"> </div>
        </div>
        <div class="row text-center  " style="margin-top: 15px;">

            <div class="col-6 ma text-center">



            </div>
        </div>
    </div>
</ng-container>