<app-header></app-header>
<div class="animate__animated animate__fadeIn">

    <!--  <section class="hero-section d-flex justify-content-center align-items-center" id="section_1">
        <div class="container">
            <div class="row">

                <div class="col-lg-8 col-12 mx-auto text-center">
                    <img src="assets/images/lg.png" style="width:250px" alt="">
                

                </div>

            </div>
        </div>
    </section> -->
    <section class="featured-section" style="padding-bottom: 0px !important">
        <div class="container text-center pad1y">
            <h3 class="   upper welcome">Bienvenido</h3>


        </div>
    </section>
    <section class="explore-section section-padding" id="section_2">
        <div class="container">

            <div class="col-12 text-center">
                <h2 class="mb-4">Asegúrate que su evento, se lleve a cabo sin contratiempos.</h2>
            </div>

        </div>


        <div class="container-fluid mb-3">
            <div class="row">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="design-tab" data-bs-toggle="tab"
                            data-bs-target="#marketplace-eventos-tab" type="button" role="tab"
                            aria-controls="marketplace-eventos-tab" aria-selected="true">Marketplace para
                            eventos</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="tipo-evento-tab" data-bs-toggle="tab"
                            data-bs-target="#tipo-centro-evento-tab" type="button" role="tab"
                            aria-controls="tipo-centro-evento-tab" aria-selected="false">Tipo de centro de
                            eventos</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="tipo-evento-tab" data-bs-toggle="tab"
                            data-bs-target="#tipo-evento-tab-pane" type="button" role="tab"
                            aria-controls="tipo-evento-tab-pane" aria-selected="false">Tipo de eventos</button>
                    </li>

                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="invitacion-tab" data-bs-toggle="tab"
                            data-bs-target="#invitacion-tab-pane" type="button" role="tab"
                            aria-controls="invitacion-tab-pane" aria-selected="false">Invitación
                        </button>
                    </li>



                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="checking-tab" data-bs-toggle="tab"
                            data-bs-target="#checking-tab-pane" type="button" role="tab"
                            aria-controls="checking-tab-pane" aria-selected="false">Checking</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="galeria-tab" data-bs-toggle="tab"
                            data-bs-target="#galeria-tab-pane" type="button" role="tab" aria-controls="galeria-tab-pane"
                            aria-selected="false">Galería</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="proveedor-tab" data-bs-toggle="tab"
                            data-bs-target="#proveedor-tab-pane" type="button" role="tab"
                            aria-controls="proveedor-tab-pane" aria-selected="false">Quiero ser proveedor</button>
                    </li>
                </ul>
            </div>
        </div>

        <div class="container">
            <div class="row">

                <div class="col-12">
                    <div class="tab-content" id="myTabContent">

                        <div class="tab-pane fade show active" id="marketplace-eventos-tab" role="tabpanel"
                            aria-labelledby="design-tab" tabindex="0">
                            <div class="row">
                                <div class=" col-12 mb-4 mb-lg-3 ma">
                                    <div class="custom-block bg-white shadow-lg text-center">

                                        <div class="d-flex  ma">
                                            <div class="ma title text-center">
                                                <h5 class="mb-2 ma">Tener una plataforma en línea que centralice todo lo
                                                    relacionado con la logística de eventos, desde la creación de
                                                    invitaciones digitales hasta la búsqueda de proveedores, puede hacer
                                                    que la planificación sea mucho más fácil y
                                                    eficiente.
                                                </h5>


                                            </div>
                                        </div>
                                        <ul class="mt-3" style="list-style: none; padding: 0;">
                                            <li>
                                                Es importante aclarar que tu plataforma solo se encarga de realizar
                                                cotizaciones
                                            </li>

                                            <li>
                                                Los pagos se gestionan
                                                directamente entre los usuarios y los proveedores
                                            </li>


                                        </ul>
                                        <div class="ma"
                                            style="width: 300px; padding: 20px; background-color: var(--cPrimary);border: 5px solid var(--cSecond);border-radius: 20px;">

                                            <img src="assets/images/lg.png" style="width:250px" alt="">
                                        </div>
                                    </div>
                                </div>



                                <!--  <div class="col-lg-6 col-md-6 col-12">
                                                                <div class="custom-block bg-white shadow-lg">
                                                                    <a href="topics-detail.html">
                                                                        <div class="d-flex">
                                                                            <div>
                                                                                <h5 class="mb-2">Educator</h5>
                                
                                                                                <p class="mb-0">Lorem Ipsum dolor sit amet consectetur</p>
                                                                            </div>
                                
                                                                            <span class="badge bg-education rounded-pill ms-auto">75</span>
                                                                        </div>
                                
                                                                        <img src="/assets/images/topics/undraw_Educator_re_ju47.png"
                                                                            class="custom-block-image img-fluid" alt="">
                                                                    </a>
                                                                </div>
                                                            </div> -->
                            </div>
                        </div>
                        <div class="tab-pane fade  " id="tipo-centro-evento-tab" role="tabpanel"
                            aria-labelledby="design-tab" tabindex="0">
                            <div class="  bg-white shadow-lg text-center mt-3 mb-3"
                                style="padding: 50px; border-radius: 20px; ">
                                <div class="d-flex  ma mt-3 mb-3">
                                    <div class="ma title text-center">
                                        <h5 class="mb-2 ma">¡Eso es una gran idea! Utilizar invitaciones digitales puede
                                            ser
                                            una excelente manera de
                                            facilitar la organización y la
                                            gestión de eventos en cualquier tipo de centro.
                                        </h5>


                                    </div>
                                </div>
                            </div>
                            <div class="row text-start">
                                <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                                    <div class="custom-block bg-white shadow-lg">

                                        <div class="d-flex">
                                            <div class="ma title text-center">
                                                <h5 class="mb-2 ma">Salón de eventos</h5>

                                            </div>

                                        </div>

                                        <img src="/assets/icons/evento.png" class="custom-block-image img-fluid" alt="">

                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                                    <div class="custom-block bg-white shadow-lg">
                                        <div class="d-flex">
                                            <div class="ma title text-center">
                                                <h5 class="mb-2 ma">Escuelas</h5>
                                            </div>
                                        </div>
                                        <img src="/assets/icons/school.png" class="custom-block-image img-fluid" alt="">

                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6 col-12 ma  ">
                                    <div class="custom-block bg-white shadow-lg">
                                        <div class="d-flex">
                                            <div class="ma title text-center">
                                                <h5 class="mb-2 ma">Grupos sociales</h5>
                                            </div>
                                        </div>
                                        <img src="/assets/icons/grupos.png" class="custom-block-image img-fluid" alt="">
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-12   mt-3">
                                    <div class="custom-block bg-white shadow-lg">
                                        <div class="d-flex">
                                            <div class="ma title text-center">
                                                <h5 class="mb-2 ma">Particulares</h5>
                                            </div>
                                        </div>
                                        <img src="/assets/icons/person.png" class="custom-block-image img-fluid" alt="">
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-12   mt-3">
                                    <div class="custom-block bg-white shadow-lg">
                                        <div class="d-flex">
                                            <div class="ma title text-center">
                                                <h5 class="mb-2 ma">Club's deportivos</h5>
                                            </div>
                                        </div>
                                        <img src="/assets/icons/sport.png" class="custom-block-image img-fluid" alt="">
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-12   mt-3">
                                    <div class="custom-block bg-white shadow-lg">
                                        <div class="d-flex">
                                            <div class="ma title text-center">
                                                <h5 class="mb-2 ma">Cualquier centro de eventos</h5>
                                            </div>
                                        </div>
                                        <img src="/assets/icons/icon-152x152.png" class="custom-block-image img-fluid"
                                            alt="">

                                    </div>
                                </div>
                            </div>
                        </div>









                        <div class="tab-pane fade" id="tipo-evento-tab-pane" role="tabpanel"
                            aria-labelledby="tipo-evento-tab" tabindex="0">
                            <div class="  bg-white shadow-lg text-center mt-3 mb-3"
                                style="padding: 50px; border-radius: 20px; ">
                                <div class="d-flex  ma mt-3 mb-3">
                                    <div class="ma title text-center">
                                        <h5 class="mb-2 ma">
                                            ¡Perfecto Prepararte para cualquier tipo de eventos!
                                        </h5>


                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-3 ma">
                                    <div class="custom-block bg-white shadow-lg">

                                        <div class="d-flex">
                                            <div class="ma title text-center">
                                                <h5 class="mb-2 ma">Cumpleaños</h5>

                                                <!--  <p class="mb-0">Lorem Ipsum dolor sit amet consectetur</p> -->
                                            </div>

                                            <!--    <span class="badge bg-advertising rounded-pill ms-auto">30</span> -->
                                        </div>

                                        <img src="/assets/icons/birthday.png" class="custom-block-image img-fluid"
                                            alt="">

                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-3 ma">
                                    <div class="custom-block bg-white shadow-lg">

                                        <div class="d-flex">
                                            <div class="ma title text-center">
                                                <h5 class="mb-2 ma">Eventos sociales</h5>

                                                <!--  <p class="mb-0">Lorem Ipsum dolor sit amet consectetur</p> -->
                                            </div>

                                            <!--    <span class="badge bg-advertising rounded-pill ms-auto">30</span> -->
                                        </div>

                                        <img src="/assets/icons/social.png" class="custom-block-image img-fluid" alt="">

                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-3 ma">
                                    <div class="custom-block bg-white shadow-lg">

                                        <div class="d-flex">
                                            <div class="ma title text-center">
                                                <h5 class="mb-2 ma">Eventos laborales</h5>
                                            </div>
                                        </div>
                                        <img src="/assets/icons/people.png" class="custom-block-image img-fluid" alt="">
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-3 ma">
                                    <div class="custom-block bg-white shadow-lg">
                                        <div class="d-flex">
                                            <div class="ma title text-center">
                                                <h5 class="mb-2 ma">Eventos escolares</h5>
                                            </div>
                                        </div>
                                        <img src="/assets/icons/escolar.png" class="custom-block-image img-fluid"
                                            alt="">
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-3 ma">
                                    <div class="custom-block bg-white shadow-lg">
                                        <div class="d-flex">
                                            <div class="ma title text-center">
                                                <h5 class="mb-2 ma">Y muchos más</h5>
                                            </div>
                                        </div>
                                        <img src="/assets/icons/icon-152x152.png" class="custom-block-image img-fluid"
                                            alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="invitacion-tab-pane" role="tabpanel"
                            aria-labelledby="invitacion-tab" tabindex="0">


                            <div class="  bg-white shadow-lg text-center mt-3 mb-3"
                                style="padding: 50px; border-radius: 20px; ">
                                <div class="d-flex  ma mt-3 mb-3">
                                    <div class="ma title text-center">
                                        <h5 class="mb-2 ma">
                                            Tienes la opción de editar las invitaciones digitales a tu gusto es una
                                            característica fundamental para personalizar los eventos a tu manera.
                                        </h5>


                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class=" col-12 mb-4 mb-lg-0">
                                    <div class="custom-block bg-white shadow-lg">

                                        <div class="d-flex">
                                            <div class="ma title text-center">
                                                <h5 class="mb-2 ma">Crea y edita tu invitación</h5>


                                            </div>
                                            <!-- 
                                                <span class="badge bg-finance rounded-pill ms-auto">30</span> -->
                                        </div>

                                        <img src="/assets/icons/invitacion.png" class="custom-block-image img-fluid"
                                            alt="">

                                    </div>
                                </div>

                                <!--  <div class="col-lg-6 col-md-6 col-12">
                                    <div class="custom-block custom-block-overlay">
                                        <div class="d-flex flex-column h-100">
                                            <img src="/assets/images/businesswoman-using-tablet-analysis-graph-company-finance-strategy-statistics-success-concept-planning-future-office-room.jpg"
                                                class="custom-block-image img-fluid" alt="">
    
                                            <div class="custom-block-overlay-text d-flex">
                                                <div>
                                                    <h5 class="text-white mb-2">Finance</h5>
    
                                                    <p class="text-white">Lorem ipsum dolor, sit amet consectetur
                                                        adipisicing elit. Sint animi necessitatibus aperiam
                                                        repudiandae nam omnis</p>
    
                                                    <a href="topics-detail.html" class="btn custom-btn mt-2 mt-lg-3">Learn
                                                        More</a>
                                                </div>
    
                                                <span class="badge bg-finance rounded-pill ms-auto">25</span>
                                            </div>
    
                                            <div class="social-share d-flex">
                                                <p class="text-white me-4">Share:</p>
    
                                                <ul class="social-icon">
                                                    <li class="social-icon-item">
                                                        <a href="#" class="social-icon-link bi-twitter"></a>
                                                    </li>
    
                                                    <li class="social-icon-item">
                                                        <a href="#" class="social-icon-link bi-facebook"></a>
                                                    </li>
    
                                                    <li class="social-icon-item">
                                                        <a href="#" class="social-icon-link bi-pinterest"></a>
                                                    </li>
                                                </ul>
    
                                                <a href="#" class="custom-icon bi-bookmark ms-auto"></a>
                                            </div>
    
                                            <div class="section-overlay"></div>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                        </div>

                        <div class="tab-pane fade" id="galeria-tab-pane" role="tabpanel" aria-labelledby="galeria-tab"
                            tabindex="0">
                            <div class="row">
                                <div class=" col-12 mb-4 mb-lg-3 ma">
                                    <div class="custom-block bg-white shadow-lg">

                                        <div class="d-flex">
                                            <div class="ma title text-center">
                                                <h5 class="mb-2">Incorpora la función que permita a los invitados subir
                                                    y descargar fotos del evento es una excelente manera de fomentar
                                                    la interacción y crear recuerdos compartidos.</h5>


                                            </div>

                                            <!--      <span class="badge bg-music rounded-pill ms-auto">45</span> -->
                                        </div>

                                        <img src="/assets/icons/galeria.png" class="custom-block-image img-fluid" alt=""
                                            style="min-width: 380px !important;">


                                    </div>
                                </div>

                                <!--  <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-3 ma">
                                    <div class="custom-block bg-white shadow-lg">
                                        <a href="topics-detail.html">
                                            <div class="d-flex">
                                                <div>
                                                    <h5 class="mb-2">Online Music</h5>
    
                                                    <p class="mb-0">Lorem Ipsum dolor sit amet consectetur</p>
                                                </div>
    
                                                <span class="badge bg-music rounded-pill ms-auto">45</span>
                                            </div>
    
                                            <img src="/assets/images/topics/undraw_happy_music_g6wc.png"
                                                class="custom-block-image img-fluid" alt="">
                                        </a>
                                    </div>
                                </div>
    
                                <div class="col-lg-4 col-md-6 col-12 ma mt-3">
                                    <div class="custom-block bg-white shadow-lg">
                                        <a href="topics-detail.html">
                                            <div class="d-flex">
                                                <div>
                                                    <h5 class="mb-2">Podcast</h5>
    
                                                    <p class="mb-0">Lorem Ipsum dolor sit amet consectetur</p>
                                                </div>
    
                                                <span class="badge bg-music rounded-pill ms-auto">20</span>
                                            </div>
    
                                            <img src="/assets/images/topics/undraw_Podcast_audience_re_4i5q.png"
                                                class="custom-block-image img-fluid" alt="">
                                        </a>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                        <div class="tab-pane fade" id="proveedor-tab-pane" role="tabpanel"
                            aria-labelledby="proveedor-tab" tabindex="0">
                            <div class="row">
                                <div class=" col-12 mb-4 mb-lg-3 ma">
                                    <div class="custom-block bg-white shadow-lg">



                                        <div class="ma title text-center">
                                            <h5 class="mb-2">Proveedor de servicios y productos</h5>


                                        </div>



                                        <img src="/assets/icons/proveedor.png" class="custom-block-image img-fluid"
                                            alt="" style="min-width: 380px !important;">
                                        <div class="col-12 col-md-8 ma " style="text-align: justify;">
                                            <p class="mb-2">En la gestión de <b
                                                    style="color:var(--cPrimary)">oportunidades</b> a través de redes
                                                sociales,
                                                la
                                                práctica de adjuntar imágenes individuales de cada producto resulta
                                                <b style="color:var(--cPrimary)">INEFICIENTE</b>.
                                            </p>


                                            <p>
                                                Se recomienda, en cambio, proporcionar un código <b
                                                    style="color:var(--cPrimary)">QR</b>. que
                                                enlace directamente a su página personal en
                                                <b style="color:var(--cPrimary)">TicketParty</b>.
                                            </p>
                                            <p style="width: 100%; text-align: center; margin: auto;">

                                                <img src="/assets/icons/QRExample.png" alt="QR TicketParty"
                                                    style="width: 80%; margin: auto;max-width: 350px;">
                                            </p>

                                            <p>
                                                Este enfoque optimiza la comunicación al presentar la
                                                totalidad de su catálogo de productos mediante un
                                                único enlace conciso.
                                            </p>
                                            <p style="width: 100%; text-align: center; margin: auto;">

                                                <img src="/assets/icons/paginaProveedor.png" alt="QR TicketParty"
                                                    style="width: 80%; margin: auto;max-width: 350px;">
                                            </p>
                                        </div>

                                    </div>
                                </div>



                            </div>
                        </div>

                        <div class="tab-pane fade" id="checking-tab-pane" role="tabpanel" aria-labelledby="checking-tab"
                            tabindex="0">

                            <div class="  bg-white shadow-lg text-center mt-3 mb-3"
                                style="padding: 50px; border-radius: 20px; ">
                                <div class="d-flex  ma mt-3 mb-3">
                                    <div class="ma title text-center">
                                        <h5 class="mb-2 ma">
                                            Check-in en tiempo real es excelente para la gestión de eventos! Permitir
                                            que los organizadores tengan acceso a
                                            información actualizada sobre su evento puede hacer que la experiencia sea
                                            mucho más fluida.
                                        </h5>


                                    </div>

                                </div>
                                <ul style="list-style: none;">
                                    <li>
                                        Cantidad de boletos habilitados
                                    </li>
                                    <li>
                                        Cantidad de boletos ocupados
                                    </li>
                                    <li>
                                        Cantidad de invitaciones creadas
                                    </li>
                                    <li>
                                        La gente que visualizo o confirmo la invitación
                                    </li>
                                    <li>
                                        La gente esta en el evento
                                    </li>
                                    <li>
                                        Check-In por QR o Lista de invitados
                                    </li>
                                </ul>
                            </div>

                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-12 mb-4 mb-lg-3 ma">
                                    <div class="custom-block bg-white shadow-lg">

                                        <div class="d-flex  ma">
                                            <div class="ma title text-center">
                                                <h5 class="mb-2 ma">Checking por código QR
                                                </h5>
                                            </div>
                                        </div>
                                        <img src="/assets/icons/QRExample.png" class="custom-block-image img-fluid"
                                            alt="">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-12 mb-4 mb-lg-3 ma">
                                    <div class="custom-block bg-white shadow-lg">

                                        <div class="d-flex  ma">
                                            <div class="ma title text-center">
                                                <h5 class="mb-2 ma">Visualización en tiempo real
                                                </h5>
                                            </div>
                                        </div>

                                        <img src="/assets/icons/evento-checking.png"
                                            class="custom-block-image img-fluid" alt="">
                                    </div>
                                </div>




                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>








    </section>
</div>


<app-footer></app-footer>