<app-header></app-header>
<section class="explore-section section-padding" id="section_2">
    <div class="container">

        <div class="col-12 text-center">
            <h2 class="mb-4">Invitaciones</h2>
        </div>

    </div>


    <div class="container-fluid">
        <div class="row">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="boda-tab" data-bs-toggle="tab" data-bs-target="#boda-tab-pane"
                        type="button" role="tab" aria-controls="boda-tab-pane" aria-selected="true">Boda</button>
                </li>

                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="xvanos-tab" data-bs-toggle="tab" data-bs-target="#xvanos-tab-pane"
                        type="button" role="tab" aria-controls="xvanos-tab-pane" aria-selected="false">XV años</button>
                </li>

                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="graduaciones-tab" data-bs-toggle="tab"
                        data-bs-target="#graduaciones-tab-pane" type="button" role="tab"
                        aria-controls="graduaciones-tab-pane" aria-selected="false">Graduaciones</button>
                </li>

                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="bautizos-tab" data-bs-toggle="tab" data-bs-target="#bautizos-tab-pane"
                        type="button" role="tab" aria-controls="bautizos-tab-pane"
                        aria-selected="false">Bautizos</button>
                </li>

                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="otros-tab" data-bs-toggle="tab" data-bs-target="#otros-tab-pane"
                        type="button" role="tab" aria-controls="otros-tab-pane" aria-selected="false">Otros</button>
                </li>
            </ul>
        </div>
    </div>

    <div class="container">
        <div class="row">

            <div class="col-12">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="boda-tab-pane" role="tabpanel" aria-labelledby="boda-tab"
                        tabindex="0">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-12 mb-4 mt-5 mb-lg-0">
                                <div class="custom-block bg-white shadow-lg">
                                    <a routerLink="/invitaciones/bodas/boda1">
                                        <div class="d-flex">
                                            <div>
                                                <h5 class="mb-2">Boda 1</h5>

                                                <p class="mb-0">Invitación para una boda en salón</p>
                                            </div>

                                            <span class="badge bg-design rounded-pill ms-auto">14</span>
                                        </div>

                                        <img src="assets/images/topics/undraw_Remote_design_team_re_urdx.png"
                                            class="custom-block-image img-fluid" alt="">
                                    </a>
                                </div>
                            </div>


                        </div>
                    </div>

                    <div class="tab-pane fade" id="xvanos-tab-pane" role="tabpanel" aria-labelledby="xvanos-tab"
                        tabindex="0">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-12 mb-4 mt-5 mb-lg-0">
                                <div class="custom-block bg-white shadow-lg">
                                    <a href="topics-detail.html">
                                        <div class="d-flex">
                                            <div>
                                                <h5 class="mb-2">Boda 1</h5>

                                                <p class="mb-0">Invitación para una boda en salón</p>
                                            </div>

                                            <span class="badge bg-design rounded-pill ms-auto">14</span>
                                        </div>

                                        <img src="assets/images/topics/undraw_Remote_design_team_re_urdx.png"
                                            class="custom-block-image img-fluid" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="graduaciones-tab-pane" role="tabpanel"
                        aria-labelledby="graduaciones-tab" tabindex="0">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-12 mb-4 mt-5 mb-lg-0">
                                <div class="custom-block bg-white shadow-lg">
                                    <a href="topics-detail.html">
                                        <div class="d-flex">
                                            <div>
                                                <h5 class="mb-2">Boda 1</h5>

                                                <p class="mb-0">Invitación para una boda en salón</p>
                                            </div>

                                            <span class="badge bg-design rounded-pill ms-auto">14</span>
                                        </div>

                                        <img src="assets/images/topics/undraw_Remote_design_team_re_urdx.png"
                                            class="custom-block-image img-fluid" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="bautizos-tab-pane" role="tabpanel" aria-labelledby="bautizos-tab"
                        tabindex="0">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-12 mb-4 mt-5 mb-lg-0">
                                <div class="custom-block bg-white shadow-lg">
                                    <a href="topics-detail.html">
                                        <div class="d-flex">
                                            <div>
                                                <h5 class="mb-2">Boda 1</h5>

                                                <p class="mb-0">Invitación para una boda en salón</p>
                                            </div>

                                            <span class="badge bg-design rounded-pill ms-auto">14</span>
                                        </div>

                                        <img src="assets/images/topics/undraw_Remote_design_team_re_urdx.png"
                                            class="custom-block-image img-fluid" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="otros-tab-pane" role="tabpanel" aria-labelledby="otros-tab"
                        tabindex="0">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-12 mb-4 mt-5 mb-lg-0">
                                <div class="custom-block bg-white shadow-lg">
                                    <a href="topics-detail.html">
                                        <div class="d-flex">
                                            <div>
                                                <h5 class="mb-2">Boda 1</h5>

                                                <p class="mb-0">Invitación para una boda en salón</p>
                                            </div>

                                            <span class="badge bg-design rounded-pill ms-auto">14</span>
                                        </div>

                                        <img src="assets/images/topics/undraw_Remote_design_team_re_urdx.png"
                                            class="custom-block-image img-fluid" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>