<app-header></app-header>
<main>
    <app-loading class="animated1 fadeIn" *ngIf="loading"></app-loading>
    <app-message class="animated1 fadeIn" *ngIf="msnOk"></app-message>
    <section class="contact-section section-padding section-bg animated1 fadeIn " id="section_5" *ngIf="!loading">
        <div class="container bw">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12 col-12 text-center">
                            <h2 class="mb-5">Crear post</h2>
                        </div>
                        <form [formGroup]="form" (ngSubmit)="onSubmit()">
                            <div class="row">
                                <div class="col-6 col-md-12 mt-3 ma">
                                    <div class="form-group text-center">
                                        <label for="nombre">Titulo</label>
                                        <input type="text" class="form-control upper" id="titulo"
                                            formControlName="titulo" required placeholder="Titulo">
                                    </div>
                                    <span *ngIf="submited && errorControl['titulo'].errors " class="error">Es requerido
                                    </span>
                                </div>
                                <div class="col-6 col-md-12 mt-3 ma">
                                    <div class="form-group">
                                        <label for="categoria">Categoria</label>
                                        <select name="categoria" id="categoria" formControlName="categoria" #categoria
                                            class="form-control upper">
                                            <option [value]="ct.id" *ngFor="let ct of categorias">{{ct.nombre}}</option>

                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12  text-center mt-3">
                                    <div class="form-group">
                                        <label for="contenido">Contenido</label>
                                        <div class="NgxEditor__Wrapper">
                                            <ngx-editor-menu [editor]="contenido" [toolbar]="toolbar">
                                            </ngx-editor-menu>
                                            <ngx-editor [editor]="contenido" formControlName="contenido"></ngx-editor>
                                        </div>
                                    </div>
                                    <span *ngIf="submited && errorControl['contenido'].errors " class="error">Es
                                        requerido
                                    </span>
                                </div>



                            </div>

                            <div class="row mt-5 text-center">

                                <div class="col-12 col-md-6  mt-3 text-center ">
                                    <button type="submit" class="btn btn-lg btn-block but  ">Crear</button>

                                </div>
                                <div class="col-12 col-md-6 mt-3 text-center">
                                    <button class="btn btn-lg btn-block btn-warning" (click)="back()">Regresar</button>

                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>

        </div>
    </section>



</main>
<app-footer></app-footer>