<footer class="site-footer section-padding">
    <div class="container">
        <div class="row">

            <div class="col-lg-3 col-12 mb-4 pb-2">
                <a class="navbar-brand mb-2" routerLink="/core/inicio">

                    <img src="assets/images/logo.svg" style="width:100px" alt="">
                    <span> {{ver}}</span>
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <h6 class="site-footer-title mb-3">Recursos</h6>

                <ul class="site-footer-links">
                    <li class="site-footer-link-item">
                        <a routerLink="/core/inicio" class="site-footer-link">Inicio</a>
                    </li>
                    <li class="site-footer-link-item">
                        <a routerLink="/core/about" class="site-footer-link">Quienes somos</a>
                    </li>

                    <li class="site-footer-link-item" *ngIf="!rol">
                        <a routerLink="/auth/register" class="site-footer-link">Registro</a>
                    </li>
                    <!-- 
                    <li class="site-footer-link-item">
                        <a routerLink="/core/faqs" class="site-footer-link">FAQs</a>
                    </li>
 -->

                </ul>
            </div>

            <div class="col-lg-3 col-md-4 col-6 mb-4 mb-lg-0">
                <h6 class="site-footer-title mb-3">Información</h6>

                <p class="text-white d-flex mb-1">
                    <a href="tel: 5570698830" class="site-footer-link">
                        5570698830
                    </a>
                </p>

                <p class="text-white d-flex">
                    <a href="mailto:myticketparty@cochisweb.com" class="site-footer-link">

                        info&#64;cochisweb.com
                    </a>
                </p>
                <ul style="list-style: none;margin: 0;padding: 0;" class="text-start">
                    <li class="redesLI">
                        <a href="https://www.facebook.com/people/My-TicketParty/61563610657240/" target="_blank">

                            <i class="bi bi-facebook cWhite"></i>
                        </a>
                    </li>
                    <li class="redesLI">
                        <a href="https://www.instagram.com/my_ticketparty?fbclid=IwZXh0bgNhZW0CMTAAAR0ndzkTHoNynjC3vuQDtmfStfxSwGAW9jZ8HUznNE50f3k53hs8-Hl_-mo_aem_ALVk9cfTT8AczNb98Q1xng"
                            target="_blank">

                            <i class="bi bi-instagram cWhite"></i>
                        </a>
                    </li>
                    <li class="redesLI">
                        <a href="https://www.tiktok.com/@my.ticket.party/" target="_blank">

                            <i class="bi bi-tiktok cWhite"></i>
                        </a>
                    </li>
                    <li class="redesLI">
                        <a href="https://api.whatsapp.com/send?phone=5215570698830&text=Hola%20requiero%20informacion"
                            target="_blank">

                            <i class="bi bi-whatsapp cWhite"></i>
                        </a>
                    </li>



                </ul>

            </div>

            <div class="col-lg-3 col-md-4 col-12 mt-4 mt-lg-0 ms-auto">


                <p class="copyright-text mt-lg-5 mt-4">Copyright © <b
                        style="color: #81d0c7; font-weight: 800;">TicketParty</b> .
                    <br>
                    <!--  Creador <a href="https://cochisweb.com"
                        style="color:#13547a;text-decoration: none; font-weight: 800;">CochisWeb.com</a> -->
                </p>

            </div>

        </div>
    </div>
</footer>