<footer class="site-footer section-padding">
    <div class="container">
        <div class="row">

            <div class="col-lg-3 col-12 mb-4 pb-2">
                <a class="navbar-brand mb-2" href="index.html">

                    <img src="assets/images/logo.png" style="width:100px" alt="">
                    <span> {{ver}}</span>
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <h6 class="site-footer-title mb-3">Recursos</h6>

                <ul class="site-footer-links">
                    <li class="site-footer-link-item">
                        <a routerLink="/" class="site-footer-link">Inicio</a>
                    </li>
                    <li class="site-footer-link-item">
                        <a routerLink="/core/about" class="site-footer-link">Quienes somos</a>
                    </li>

                    <li class="site-footer-link-item" *ngIf="!rol">
                        <a routerLink="/auth/register" class="site-footer-link">Registro</a>
                    </li>

                    <li class="site-footer-link-item">
                        <a href="#" class="site-footer-link">FAQs</a>
                    </li>


                </ul>
            </div>

            <div class="col-lg-3 col-md-4 col-6 mb-4 mb-lg-0">
                <h6 class="site-footer-title mb-3">Information</h6>

                <p class="text-white d-flex mb-1">
                    <a href="tel: 5566828251" class="site-footer-link">
                        5566828251
                    </a>
                </p>

                <p class="text-white d-flex">
                    <a href="mailto:info@cochisweb.com" class="site-footer-link">
                        info@cochisweb.com
                    </a>
                </p>
            </div>

            <div class="col-lg-3 col-md-4 col-12 mt-4 mt-lg-0 ms-auto">


                <p class="copyright-text mt-lg-5 mt-4">Copyright © <b
                        style="color: #81d0c7; font-weight: 800;">TicketParty</b> .
                    <br>
                    <!--  Creador <a href="https://cochisweb.com"
                        style="color:#13547a;text-decoration: none; font-weight: 800;">CochisWeb.com</a> -->
                </p>

            </div>

        </div>
    </div>
</footer>