dark-modal .modal-content {
    background-color: #292b2c;
    color: white;
}

.dark-modal .close {
    color: white;
}

.light-blue-backdrop {
    background-color: #5cb3fd;
}

.dp-modal-header {
    display: flex;
    background-color: red;
    border-radius: 5px 5px 0 0;
    color: #e2dfdf;
    padding: 1px 1px 1px 14px;
}