<div class="presentacion text-center">

    <div class="row">
        <div class="col-12">
            <img class="frame" src="/assets/invitaciones/frames/frame5.png">
            <img class="shadow imagenFiesta" src="/assets/images/example/fiesta.webp">
        </div>
        <hr>
        <div class="col-12">
            <h1 class=" textInit font1     ">
                Mariana López
            </h1>
        </div>

    </div>
    <div class="ma divisor"> </div>
    <div class="clear"></div>
    <div class="row text-center w-100" style="margin-top: 650px;">
        <div class="col-10 text-center ma">
            <div class="ma"> </div>
            <p class="font1  parrafo mb-2 _animate__zoomIn animate__animated animate__zoomIn">
                Mis 15 años marcan el comienzo de una nueva etapa de mi vida. Una etapa maravillosa donde el amor y
                la alegría están conmigo. Por eso quiero compartir este día tan especial con todas las personas a
                las que amo y me aman, y tú tienes que ser parte de esta fiesta
            </p>
        </div>
    </div>





    <div class="row text-center w-100">
        <div class="col-12 col-md-6 text-center ma">


            <div class="ma divisor"> </div>
            <h3>
                Mis Padres
            </h3>
            <ul>
                <li>
                    Madre del festejado
                </li>
                <li>
                    Padre del festejado
                </li>
            </ul>

        </div>
        <div class="col-12 col-md-6 text-center ma">


            <div class="ma divisor"> </div>
            <h3>
                Mis Padrinos
            </h3>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>

                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>

                    </tr>
                </tbody>
            </table>


        </div>
    </div>
</div>