<div class="animate__animated {{data.invitacionEfecto}}">



    <div class="principal " *ngIf="(data.fondoInvitacionCheck ==false || data.fondoInvitacionCheck =='false')"
        [style]="{'background-image': 'url('+url+'/upload/fondos/'+getImg(data.fondoInvitacion)+')'}">



        <div class="presentacion text-center" id="presentacion">

            <div class="row">
                <div class="col-12 animate__animated {{data.efectoImg1}} {{data.repEfectoImg1}}" style="z-index: 2;">
                    <!--    <img class="frame" src="/assets/invitaciones/frames/frame5.png"> -->
                    <!-- <img class="shadow imagenFiesta" src="/assets/images/example/fiesta.webp"> -->


                    <ng-container *ngIf="data.marcoFoto=='' && !data.marcoFotoCheck">
                        <div [style]="{'margin-top':data.marcoFotoTop+'px'}"></div>
                    </ng-container>
                    <ng-container *ngIf="data.marcoFoto!='' && !data.marcoFotoCheck">

                        <img class="frame" [src]="url+'/upload/fondos/'+getImg(data.marcoFoto)"
                            [style]="{'width':data.marcoFotoWidth+'px','margin-top':data.marcoFotoTop+'px'}">
                    </ng-container>
                    <ng-container *ngIf="data.marcoFoto=='' && data.marcoFotoCheck">
                        <div [style]="{'margin-top':data.marcoFotoTop+'px'}"></div>
                    </ng-container>
                    <ng-container *ngIf="data.marcoFoto!='' && data.marcoFotoCheck">

                        <img class="frame" [src]="url+'/upload/invitaciones/'+data.marcoFotoUp"
                            [style]="{'width':data.marcoFotoWidth+'px','margin-top':data.marcoFotoTop+'px'}">
                    </ng-container>

                    <img class="shadow imagenFiesta" [src]="url+'/upload/invitaciones/'+data.img1"
                        [style]="{'z-index': data.marcoIndex, 'width':+data.img1Size+'px','height':+data.img1Height+'px', 'margin-top':+data.img1Top+'px','border-radius': data.img1Forma+'% !important','left':data.img1Traslate+'px', 'transform': 'rotate('+data.img1Rotate+'deg)', }">
                </div>



            </div>

            <div class="col-12 text-center animate__animated animate__fadeIn">
                <h2 class=" textInit {{data.nombreFont}}   animate__animated {{data.nombreEfecto}} {{data.nombreEfectoRep}}"
                    [style]="{'font-size': data.nombreSize+'px','top':data.topTitle+'px','color':data.cTexto,'text-shadow':data.nShTit+'px '+data.nShTit+'px ' +data.nShTit +'px' + data.cShTit }">
                    {{data.nombreFiesta}}
                </h2>
                <h3 class="{{data.tipoFont}} textInit    animate__animated {{data.tipoEfecto}} {{data.tipoEfectoRep}}"
                    [style]="{'font-size': data.tipoSize+'px','top':data.tipoTop+'px','color':data.cTexto,'text-shadow':data.nShSubTit+'px '+data.nShSubTit+'px ' +data.nShSubTit +'px' + data.cShSubTit}">
                    {{data.tipoFiesta}}
                </h3>
            </div>
            <div class="row  ">
                <div class="col-10 text-center ma">
                    <div class="ma divisor" [style]="{'background-color':data.cSecond}"> </div>
                    <p class="{{data.textoInvFont}}  parrafo mb-2  animate__animated {{data.mensajeEfecto}} {{data.mensajeEfectoRep}}"
                        [style]="{'font-size': data.textoInvSize+'px','color':data.cTexto,'text-align':data.mensajeAlign,'text-shadow':data.nShTexto+'px '+data.nShTexto+'px ' +data.nShTexto +'px' + data.cShTexto}">
                        {{(data.mensaje1!='')?data.mensaje1:'Mensaje de la invitación'}}
                    </p>
                </div>
                <ng-container *ngIf="padres">

                    <div class="col-12 col-md-6 text-center ma   animate__animated animate__fadeIn"
                        *ngIf="padres.length >0">
                        <div class="ma divisor" [style]="{'background-color':data.cSecond}"> </div>



                        <h3 class=" animate__animated {{data.cabeceraFont}} {{data.cabeceraEfecto}} {{data.cabeceraEfectoRep}}"
                            [style]="{'font-size': data.cabeceraSize +'px','color':data.cTexto,'text-shadow':data.nShSubTit+'px '+data.nShSubTit+'px ' +data.nShSubTit +'px' + data.cShCab}">
                            {{data.titlePadres}}
                        </h3>
                        <table class="table">
                            <thead class="{{data.textoInvFont}}"
                                [style]="{'font-size': data.textoInvSize+'px','color':data.cTexto}">
                                <tr *ngFor="let padre of padres">
                                    <th
                                        [style]="{'font-size': data.textoInvSize+'px','color':data.cTexto,'text-shadow':data.nShTexto+'px '+data.nShTexto+'px ' +data.nShTexto +'px' + data.cShTexto}">
                                        {{padre.name}}
                                    </th>

                                </tr>

                            </thead>

                        </table>

                    </div>
                </ng-container>

            </div>

        </div>
        <app-padrinos-desing [data]="data" [bgsframes]="bgsframes"> </app-padrinos-desing>

    </div>

    <div class="principal" *ngIf="(data.fondoInvitacionCheck==true || data.fondoInvitacionCheck ==='true')"
        [style]="{'background-image': 'url('+url+'/upload/invitaciones/'+data.fondoInvitacionUp}">


        <div class="presentacion text-center" id="presentacion">

            <div class="row">
                <div class="col-12 animate__animated {{data.efectoImg1}} {{data.repEfectoImg1}}" style="z-index: 2;">
                    <!--    <img class="frame" src="/assets/invitaciones/frames/frame5.png"> -->
                    <!-- <img class="shadow imagenFiesta" src="/assets/images/example/fiesta.webp"> -->


                    <ng-container *ngIf="data.marcoFoto=='' && !data.marcoFotoCheck">
                        <div [style]="{'margin-top':data.marcoFotoTop+'px'}"></div>
                    </ng-container>
                    <ng-container *ngIf="data.marcoFoto!='' && !data.marcoFotoCheck">

                        <img class="frame" [src]="url+'/upload/fondos/'+getImg(data.marcoFoto)"
                            [style]="{'width':data.marcoFotoWidth+'px','margin-top':data.marcoFotoTop+'px'}">
                    </ng-container>
                    <ng-container *ngIf="data.marcoFoto=='' && data.marcoFotoCheck">
                        <div [style]="{'margin-top':data.marcoFotoTop+'px'}"></div>
                    </ng-container>
                    <ng-container *ngIf="data.marcoFoto!='' && data.marcoFotoCheck">

                        <img class="frame" [src]="url+'/upload/invitaciones/'+data.marcoFotoUp"
                            [style]="{'width':data.marcoFotoWidth+'px','margin-top':data.marcoFotoTop+'px'}">
                    </ng-container>

                    <img class="shadow imagenFiesta" [src]="url+'/upload/invitaciones/'+data.img1"
                        [style]="{'z-index': data.marcoIndex, 'width':+data.img1Size+'px','height':+data.img1Height+'px', 'margin-top':+data.img1Top+'px','border-radius': data.img1Forma+'% !important','left':data.img1Traslate+'px', 'transform': 'rotate('+data.img1Rotate+'deg)', }">
                </div>



            </div>

            <div class="col-12 text-center animate__animated animate__fadeIn">
                <h2 class=" textInit {{data.nombreFont}}   animate__animated {{data.nombreEfecto}} {{data.nombreEfectoRep}}"
                    [style]="{'font-size': data.nombreSize+'px','top':data.topTitle+'px','color':data.cTexto,'text-shadow':data.nShTit+'px '+data.nShTit+'px ' +data.nShTit +'px' + data.cShTit }">
                    {{data.nombreFiesta}}
                </h2>
                <h3 class="{{data.tipoFont}} textInit    animate__animated {{data.tipoEfecto}} {{data.tipoEfectoRep}}"
                    [style]="{'font-size': data.tipoSize+'px','top':data.tipoTop+'px','color':data.cTexto,'text-shadow':data.nShSubTit+'px '+data.nShSubTit+'px ' +data.nShSubTit +'px' + data.cShSubTit}">
                    {{data.tipoFiesta}}
                </h3>
            </div>
            <div class="row  ">
                <div class="col-10 text-center ma">
                    <div class="ma divisor" [style]="{'background-color':data.cSecond}"> </div>
                    <p class="{{data.textoInvFont}}  parrafo mb-2  animate__animated {{data.mensajeEfecto}} {{data.mensajeEfectoRep}}"
                        [style]="{'font-size': data.textoInvSize+'px','color':data.cTexto,'text-align':data.mensajeAlign,'text-shadow':data.nShTexto+'px '+data.nShTexto+'px ' +data.nShTexto +'px' + data.cShTexto}">
                        {{(data.mensaje1!='')?data.mensaje1:'Mensaje de la invitación'}}
                    </p>
                </div>
                <ng-container *ngIf="padres">

                    <div class="col-12 col-md-6 text-center ma   animate__animated animate__fadeIn"
                        *ngIf="padres.length>0">
                        <div class="ma divisor" [style]="{'background-color':data.cSecond}"> </div>



                        <h3 class=" animate__animated {{data.cabeceraFont}} {{data.cabeceraEfecto}} {{data.cabeceraEfectoRep}}"
                            [style]="{'font-size': data.cabeceraSize +'px','color':data.cTexto,'text-shadow':data.nShSubTit+'px '+data.nShSubTit+'px ' +data.nShSubTit +'px' + data.cShCab}">
                            {{data.titlePadres}}
                        </h3>
                        <table class="table">
                            <thead class="{{data.textoInvFont}}"
                                [style]="{'font-size': data.textoInvSize+'px','color':data.cTexto}">
                                <tr *ngFor="let padre of padres">
                                    <th
                                        [style]="{'font-size': data.textoInvSize+'px','color':data.cTexto,'text-shadow':data.nShTexto+'px '+data.nShTexto+'px ' +data.nShTexto +'px' + data.cShTexto}">
                                        {{padre.name}}
                                    </th>

                                </tr>

                            </thead>

                        </table>

                    </div>
                </ng-container>

            </div>

        </div>

        <app-padrinos-desing [data]="data" [bgsframes]="bgsframes"> </app-padrinos-desing>
    </div>




</div>