<div class="clear"></div>
<div class="_animate__zoomIn animate__animated animate__zoomIn btp" style="background-color: white;">
    <div>
        <h2 class="font1 text-center  " style="visibility: visible;font-size: 50px;">
            Padrinos</h2>
        <div class="ma divisor" [style]="{'background-color':data.cSecond}"> </div> animate__animated animate__fadeIn ">
    </div>
    <div class="container">
        <div class="row text-center">
            <div class="col-6 col-md-4 ma">
                <img src="/assets/icons/church.png" alt="">
                <h5 class="font1" style="font-weight: bold;">Misa</h5>
                <h3 class="font1">Pedro Infante</h3>

            </div>
            <div class="col-6 col-md-4 ma">
                <img src="/assets/icons/church.png" alt="">
                <h5 class="font1" style="font-weight: bold;">Misa</h5>
                <h3 class="font1">Pedro Infante</h3>

            </div>
            <div class="col-6 col-md-4 ma">
                <img src="/assets/icons/church.png" alt="">
                <h5 class="font1" style="font-weight: bold;">Misa</h5>
                <h3 class="font1">Pedro Infante</h3>

            </div>
            <div class="col-6 col-md-4 ma">
                <img src="/assets/icons/church.png" alt="">
                <h5 class="font1" style="font-weight: bold;">Misa</h5>
                <h3 class="font1">Pedro Infante</h3>

            </div>
            <div class="col-6 col-md-4 ma">
                <img src="/assets/icons/church.png" alt="">
                <h5 class="font1" style="font-weight: bold;">Misa</h5>
                <h3 class="font1">Pedro Infante</h3>

            </div>
            <div class="col-6 col-md-4 ma">
                <img src="/assets/icons/church.png" alt="">
                <h5 class="font1" style="font-weight: bold;">Misa</h5>
                <h3 class="font1">Pedro Infante</h3>

            </div>


        </div>

    </div>




</div>



</div>