<ng-container
    *ngIf="fiesta && fiesta.galeria && (data.fondoInvitacionCheck=='false' || data.fondoInvitacionCheck==false) ">
    <div class="w-100 bg-1-img py-4 border-color btp"
        [style]="{'background-color':'white','border-color':data.cSecond,
'background-image':'url('+url+'/upload/fondos/'+getImg(data.fondoInvitacion)+')' , 'background-attachment': 'fixed', 'background-size': '100% 100%', 'background-repeat': 'no-repeat', 'background-position': 'center top','border-color':data.cSecond}">
        <div class="row">
            <h3 class=" mt-5 animate__animated {{data.cabeceraFont}} {{data.cabeceraEfecto}} {{data.cabeceraEfectoRep}} ma text-center"
                [style]=" {'font-size': data.cabeceraSize +'px','color':data.cTexto}">
                {{data.galeryTitle}}
            </h3>
            <div class="ma divisor" [style]="{'background-color':data.cSecond}"> </div>
        </div>
        <div class="row text-center  " style="margin-top: 15px;">

            <div *ngIf="fiesta && data" id="galeriaFiesta">

                <div class="row" *ngIf="fiesta.galeria">
                    <div class="col-6  ma text-center">
                        <button type="button" class="btn mt-3 mb-3" tabindex="0"
                            [style]="{'background-color': data.cSecond, 'border': '3px solid'+ data.cTexto, 'color': data.cTexto,'width':'100% !important'}"
                            routerLink="/galeria/fst/{{fiesta.uid}}/blt/{{boleto.uid}}">
                            {{data.galeryButtom}} <i class="bi bi-images"
                                [style]="{'color': data.cTexto,'font-size': '30px','margin-left':'10px'}"></i></button>
                    </div>

                    <div class="col-12 text-center {{data.textoInvFont}}">
                        <h5 class="{{data.textoInvFont}}"
                            [style]="{' font-size':data.textoInvSize ,'color':data.cTexto}">
                            {{data.galeryText}}
                        </h5>
                    </div>
                    <div class="col-6 text-center ma qrcodeImage text-center  mg ma pt-3"
                        *ngIf="(data.imgQrCheck=='true' || data.imgQrCheck)">
                        <qrcode [qrdata]="urlT+'/core/galeria/fst/'+fiesta.uid+'/blt/'+boleto.uid"
                            [allowEmptyString]="true" [ariaLabel]="data.nombreFiesta" [cssClass]="'center'"
                            [elementType]="'canvas'" [errorCorrectionLevel]="'M'"
                            [imageSrc]="(fiesta.img!=='')?url+'/upload/fiestas/'+fiesta.img:url+'/upload/fiestas/default.jpg'"
                            [imageHeight]="75" [imageWidth]="75" [margin]="4" [scale]="1" [colorDark]="data.cTexto"
                            [colorLight]="'#FFFFFF'" [title]="data.nombreFiesta" [width]=" 300">
                        </qrcode>
                    </div>
                    <div class="col-6 text-center ma qrcodeImage text-center  mg ma pt-3"
                        *ngIf="(data.imgQrCheck=='false' || !data.imgQrCheck)">
                        <qrcode [qrdata]="urlT+'/core/galeria/fst/'+fiesta.uid+'/blt/'+boleto.uid"
                            [allowEmptyString]="true" [ariaLabel]="data.nombreFiesta" [cssClass]="'center'"
                            [elementType]="'canvas'" [errorCorrectionLevel]="'M'" [margin]="4" [scale]="1"
                            [colorDark]="data.cTexto" [colorLight]="'#FFFFFF'" [title]="data.nombreFiesta"
                            [width]=" 300">
                        </qrcode>
                    </div>
                </div>
            </div>



        </div>
    </div>
</ng-container>

<ng-container
    *ngIf="fiesta && fiesta.galeria && (data.fondoInvitacionCheck=='true' || data.fondoInvitacionCheck==true) ">
    <div class="_animate__zoomIn animate__animated animate__zoomIn btp"
        [style]="{'background-color':'white','border-color':data.cSecond,
'background-image':'url('+url+'/upload/invitaciones/'+ data.fondoInvitacionUp+')' , 'background-attachment': 'fixed', 'background-size': '100% 100%', 'background-repeat': 'no-repeat', 'background-position': 'center top','border-color':data.cSecond}">
        <div class="row">
            <h3 class=" mt-5 animate__animated {{data.cabeceraFont}} {{data.cabeceraEfecto}} {{data.cabeceraEfectoRep}} ma text-center"
                [style]=" {'font-size': data.cabeceraSize +'px','color':data.cTexto}">
                {{data.galeryTitle}}
            </h3>
            <div class="ma divisor" [style]="{'background-color':data.cSecond}"> </div>
        </div>
        <div class="row text-center  " style="margin-top: 15px;">

            <div *ngIf="fiesta && data" id="galeriaFiesta">

                <div class="row" *ngIf="fiesta.galeria">
                    <div class="col-6  ma text-center">
                        <button type="button" class="btn mt-3 mb-3" tabindex="0"
                            [style]="{'background-color': data.cSecond, 'border': '3px solid'+ data.cTexto, 'color': data.cTexto,'width':'100% !important'}"
                            routerLink="/galeria/fst/{{fiesta.uid}}/blt/{{boleto.uid}}">
                            {{data.galeryButtom}}<i class="bi bi-images"
                                [style]="{'color': data.cTexto,'font-size': '30px','margin-left':'10px'}"></i></button>
                    </div>

                    <div class="col-12 text-center {{data.textoInvFont}}">
                        <h5 class="{{data.textoInvFont}}"
                            [style]="{' font-size':data.textoInvSize ,'color':data.cTexto}">
                            {{data.galeryText}}
                        </h5>
                    </div>
                    <div class="col-6 text-center ma qrcodeImage text-center  mg ma pt-3"
                        *ngIf="(data.imgQrCheck=='true' || data.imgQrCheck)">
                        <qrcode [qrdata]="urlT+'/core/galeria/fst/'+fiesta.uid+'/blt/'+boleto.uid"
                            [allowEmptyString]="true" [ariaLabel]="data.nombreFiesta" [cssClass]="'center'"
                            [elementType]="'canvas'" [errorCorrectionLevel]="'M'"
                            [imageSrc]="(fiesta.img!=='')?url+'/upload/fiestas/'+fiesta.img:url+'/upload/fiestas/default.jpg'"
                            [imageHeight]="75" [imageWidth]="75" [margin]="4" [scale]="1" [colorDark]="data.cTexto"
                            [colorLight]="'#FFFFFF'" [title]="data.nombreFiesta" [width]=" 300">
                        </qrcode>
                    </div>
                    <div class="col-6 text-center ma qrcodeImage text-center  mg ma pt-3"
                        *ngIf="(data.imgQrCheck=='false' || !data.imgQrCheck)">
                        <qrcode [qrdata]="urlT+'/core/galeria/fst/'+fiesta.uid+'/blt/'+boleto.uid"
                            [allowEmptyString]="true" [ariaLabel]="data.nombreFiesta" [cssClass]="'center'"
                            [elementType]="'canvas'" [errorCorrectionLevel]="'M'" [margin]="4" [scale]="1"
                            [colorDark]="data.cTexto" [colorLight]="'#FFFFFF'" [title]="data.nombreFiesta"
                            [width]=" 300">
                        </qrcode>
                    </div>
                </div>
            </div>



        </div>
    </div>
</ng-container>








<ng-container *ngIf="!fiesta && (data.fondoInvitacionCheck=='false' || data.fondoInvitacionCheck==false)">
    <div class="  text-center  mt-3 btp "
        [style]="{'background-color':'white','border-color':data.cSecond,
'background-image':'url('+url+'/upload/fondos/'+getImg(data.fondoInvitacion)+')' , 'background-attachment': 'fixed', 'background-size': '100% 100%', 'background-repeat': 'no-repeat', 'background-position': 'center top','border-color':data.cSecond}">
        <div class="row">
            <h3 class=" animate__animated {{data.cabeceraFont}} {{data.cabeceraEfecto}} {{data.cabeceraEfectoRep}} ma text-center"
                [style]=" {'font-size': data.cabeceraSize +'px','color':data.cTexto}">
                {{data.galeryTitle}}
            </h3>
            <div class="ma divisor" [style]="{'background-color':data.cSecond}"> </div>
        </div>
        <div class="row text-center  " style="margin-top: 15px;">




            <div *ngIf="!fiesta" id="galeriaFiesta">


                <div class="col-6 ma text-center">


                    <button type="button" class="btn mt-3 mb-3" tabindex="0"
                        [style]="{'background-color': data.cSecond, 'border': '3px solid'+ data.cTexto, 'color': data.cTexto,'width':'100% !important'}">
                        SUBE TUS FOTOS DEL EVENTO <i class="bi bi-images"
                            [style]="{'color': data.cTexto,'font-size': '30px','margin-left':'10px'}"></i></button>
                </div>
                <div class="col-12 text-center {{data.textoInvFont}}">
                    <h5 class="{{data.textoInvFont}}" [style]="{'font-size':data.textoInvSize ,'color':data.cTexto}">
                        {{data.galeryText}}
                    </h5>
                </div>
                <div class="col-6 text-center ma qrcodeImage text-center  mg ma pt-3">
                    <qrcode [qrdata]="'https://www.myticketparty.com/core'" [allowEmptyString]="true"
                        [ariaLabel]="data.nombreFiesta" [cssClass]="'center'" [elementType]="'canvas'"
                        [errorCorrectionLevel]="'M'" [imageSrc]="url+'/upload/fiestas/default.jpg'"
                        [colorDark]="data.cTexto" [colorLight]="'#FFFFFF'" [title]="data.nombreFiesta" [width]=" 300">
                    </qrcode>

                </div>

            </div>

        </div>
    </div>
</ng-container>


<ng-container *ngIf="!fiesta && (data.fondoInvitacionCheck=='true' || data.fondoInvitacionCheck==true)">
    <div class="  text-center  mt-3 btp "
        [style]="{'background-color':'white','border-color':data.cSecond,
'background-image':'url('+url+'/upload/invitaciones/'+ data.fondoInvitacionUp+')' , 'background-attachment': 'fixed', 'background-size': '100% 100%', 'background-repeat': 'no-repeat', 'background-position': 'center top','border-color':data.cSecond}">
        <div class="row">
            <h3 class=" animate__animated {{data.cabeceraFont}} {{data.cabeceraEfecto}} {{data.cabeceraEfectoRep}} ma text-center"
                [style]=" {'font-size': data.cabeceraSize +'px','color':data.cTexto}">
                {{data.galeryTitle}}
            </h3>
            <div class="ma divisor" [style]="{'background-color':data.cSecond}"> </div>
        </div>
        <div class="row text-center  " style="margin-top: 15px;">




            <div *ngIf="!fiesta" id="galeriaFiesta">


                <div class="col-6 ma text-center">


                    <button type="button" class="btn mt-3 mb-3" tabindex="0"
                        [style]="{'background-color': data.cSecond, 'border': '3px solid'+ data.cTexto, 'color': data.cTexto,'width':'100% !important'}">
                        {{data.galeryButtom}} <i class="bi bi-images"
                            [style]="{'color': data.cTexto,'font-size': '30px','margin-left':'10px'}"></i></button>
                </div>
                <div class="col-12 text-center {{data.textoInvFont}}">
                    <h5 class="{{data.textoInvFont}}" [style]="{'font-size':data.textoInvSize ,'color':data.cTexto}">
                        {{data.galeryText}}
                    </h5>
                </div>
                <div class="col-6 text-center ma qrcodeImage text-center  mg ma pt-3">
                    <qrcode [qrdata]="'https://www.myticketparty.com/core'" [allowEmptyString]="true"
                        [ariaLabel]="data.nombreFiesta" [cssClass]="'center'" [elementType]="'canvas'"
                        [errorCorrectionLevel]="'M'" [imageSrc]="url+'/upload/fiestas/default.jpg'"
                        [colorDark]="data.cTexto" [colorLight]="'#FFFFFF'" [title]="data.nombreFiesta" [width]=" 300">
                    </qrcode>

                </div>

            </div>

        </div>
    </div>
</ng-container>