<div class="clear"></div>
<div class="_animate__zoomIn animate__animated animate__zoomIn btp">
    <div>
        <h2 class="font1 text-center  " style="visibility: visible;font-size: 50px;">
            Menu</h2>
        <div class="ma divisor" [style]="{'background-color':data.cSecond}"> </div> animate__animated animate__fadeIn ">
    </div>
    <div class="container">
        <div class="row text-center">
            <div class="col-6 col-md-4 col-lg-3 ma">
                <img src="/assets/icons/food1.png" alt="">
                <h4 class="font1" style="font-weight: bold;">Entrada</h4>
                <p>
                    Morralito crujiente de queso brie en espejo de mole de tamarindo
                </p>

            </div>
            <div class="col-6 col-md-4 col-lg-3 ma">
                <img src="/assets/icons/food1.png" alt="">
                <h4 class="font1" style="font-weight: bold;">Entrada</h4>
                <p>
                    Morralito crujiente de queso brie en espejo de mole de tamarindo
                </p>

            </div>
            <div class="col-6 col-md-4 col-lg-3 ma">
                <img src="/assets/icons/food1.png" alt="">
                <h4 class="font1" style="font-weight: bold;">Entrada</h4>
                <p>
                    Morralito crujiente de queso brie en espejo de mole de tamarindo
                </p>

            </div>
            <div class="col-6 col-md-4 col-lg-3 ma">
                <img src="/assets/icons/food1.png" alt="">
                <h4 class="font1" style="font-weight: bold;">Entrada</h4>
                <p>
                    Morralito crujiente de queso brie en espejo de mole de tamarindo
                </p>

            </div>
            <div class="col-6 col-md-4 col-lg-3 ma">
                <img src="/assets/icons/food1.png" alt="">
                <h4 class="font1" style="font-weight: bold;">Entrada</h4>
                <p>
                    Morralito crujiente de queso brie en espejo de mole de tamarindo
                </p>

            </div>
            <div class="col-6 col-md-4 col-lg-3 ma">
                <img src="/assets/icons/food1.png" alt="">
                <h4 class="font1" style="font-weight: bold;">Entrada</h4>
                <p>
                    Morralito crujiente de queso brie en espejo de mole de tamarindo
                </p>

            </div>
            <div class="col-6 col-md-4 col-lg-3 ma">
                <img src="/assets/icons/food1.png" alt="">
                <h4 class="font1" style="font-weight: bold;">Entrada</h4>
                <p>
                    Morralito crujiente de queso brie en espejo de mole de tamarindo
                </p>

            </div>




        </div>

    </div>




</div>



</div>