<app-loading *ngIf="loading"></app-loading>

<ng-container *ngIf="!loading ">



    <div class="row text-center fixed-top" *ngIf="btnBack">

        <div class="col-6 text-center" style="margin:auto">
            <button class="btn btn-lg btn-block btn-warning mt-3"
                routerLink="/core/invitaciones/editar-invitacion/true/{{invitacion.fiestaId}}">
                Seguir editando
            </button>
        </div>
    </div>
    <div class="row text-center fixed-top" *ngIf="rol   && count==0 && copyId ">

        <div class="col-12 col-md-6 text-center" style="margin:auto">
            <button class="btn btn-lg btn-block btn-warning mt-3" (click)="regresar()">
                Regresar
            </button>
        </div>
        <div class="col-12 col-md-6 text-center" style="margin:auto">
            <button class="btn btn-lg btn-block btn-warning mt-3" (click)="copiarInvitacion(invitacion)">
                Copiar invitación
            </button>
        </div>
    </div>

    <hr *ngIf="btnBack">

    <ng-container [style]="{ 'background-color':invitacion.cWhite} ">


        <div style="width: 100%;">
            <app-principal [data]="dataPrincipal"></app-principal>
        </div>


        <div style="width: 100%;">

            <app-invitacion-card [data]="dataInvitacionCard"></app-invitacion-card>

        </div>

        <div style="width: 100%;">


            <app-mensaje-card [data]="dataMensajeCard"></app-mensaje-card>




        </div>
        <div class="row  ">


            <app-listas-card [data]="dataListasCard" type="padres"></app-listas-card>
            <app-listas-card [data]="dataListasCard" type="padrinos"></app-listas-card>
            <app-listas-card [data]="dataListasCard" type="chambelanes"></app-listas-card>




        </div>

        <div class="row mt-3">

            <app-donde-card [data]="dataDondeCard" [fiesta]="fiesta" type="donde"></app-donde-card>
        </div>

        <div class="row mt-3">

            <app-donde-card [data]="dataDondeCard" [fiesta]="fiesta" type="hospedaje"></app-donde-card>
        </div>


        <div class="row mt-3">
            <app-listas-card [data]="dataListasCard" type="menu"></app-listas-card>
        </div>
        <div class="row mt-3">
            <app-listas-card [data]="dataListasCard" type="musica"></app-listas-card>
        </div>
        <div class="row mt-3">
            <app-listas-card [data]="dataListasCard" type="codigoVestimenta"></app-listas-card>
        </div>
        <div class="row mt-3">
            <app-listas-card [data]="dataListasCard" type="mesaRegalos"></app-listas-card>
        </div>
        <div class="row mt-3">
            <app-listas-card [data]="dataListasCard" type="itinerario"></app-listas-card>
        </div>
        <div class="row mt-3">
            <app-qr-card [data]="dataListasCard" [fiesta]="fiesta" [boleto]="boleto"></app-qr-card>
        </div>
        <div class="row  ">
            <app-listas-card [data]="dataListasCard" type="notas"></app-listas-card>
        </div>
        <div>
            <app-listas-card [data]="dataListasCard" type="footer"></app-listas-card>
        </div>






        <ng-container class=" sticky-bottom " *ngIf="isMusic">
            <div class="col-12 ma" style="text-align: center;">
                <audio preload="auto" autoplay [src]="url+'/upload/sound/'+musicaInvitacion" class="ma" id="myAudio"
                    [loop]="musicRepit">
                </audio>

            </div>
            <button class="botonF1" [style]="{'background-color': invitacion.cPrincipal, 'color':invitacion.cWhite}"
                (click)="playStop()" id="boton">

                <span><i class="bi bi-stop"></i></span>
            </button>
        </ng-container>

    </ng-container>
</ng-container>