<div class="  text-center  mt-3 btp " style="background-color: white;width: 100%;text-align: center; ">
    <div class="row">
        <h2 class="font1 text-center  " style="visibility: visible;font-size: 50px;">
            Confirmación</h2>
        <div class="ma divisor" [style]="{'background-color':data.cSecond}"> </div> animate__animated animate__fadeIn ">
    </div>
</div>
<div class="row text-center  " style="margin-top: 15px;">

    <div class="col-6 ma text-center">

        <div class="qrcodeImage text-center  ma  mt-3">
            <qrcode [qrdata]="'Hola'" [allowEmptyString]="true"
                [ariaLabel]="'QR Code image with the following content...'" [cssClass]="'center'"
                [elementType]="'canvas'" [errorCorrectionLevel]="'M'" [imageHeight]="50" [imageWidth]="50" [margin]="4"
                [scale]="1" [colorDark]="'#13547a'" [colorLight]="'#ffffff'" [title]="'Hola'" [width]="200">
            </qrcode>
            <button class="btn  upper  mb-3" [style]="{'background-color': '#e6e5f3', 'color':'#000'}" type="button">
                Confirmación
            </button>
            <button _ngcontent-ng-c3567673567="" type="button" class="btn mt-3 mb-3" tabindex="0"
                style="background-color: rgb(44, 99, 101); border: 3px solid rgb(131, 153, 116); color: rgb(226, 215, 210);">
                Sube
                tus fotos la galería de fotos <i _ngcontent-ng-c3567673567="" class="bi bi-images"
                    style="color: rgb(131, 153, 116); font-size: 30px; margin-left: 10px;"></i></button>

        </div>

    </div>
</div>
</div>