 .visible {
     opacity: 1;
     transform: translateY(0);
 }

 .noVisible {
     opacity: 0;
 }

 .scroll-container {
     height: 1200px;
     overflow-y: auto;

 }

 .item {
     background: #f4f4f4;
     margin: 5px 0;
     padding: 10px;
     border-radius: 5px;
 }