<app-loading *ngIf="loading"></app-loading>

<div>
    <div class="row text-center fixed-top" *ngIf="btnBack">

        <div class="col-6 text-center" style="margin:auto">
            <button class="btn btn-lg btn-block btn-warning mt-3"
                routerLink="/core/invitaciones/editar-invitacion/true/{{invitacion.fiestaId}}">
                Seguir editando
            </button>
        </div>
    </div>
    <div class="row text-center fixed-top" *ngIf="rol   && count==0 && copyId ">

        <div class="col-12 col-md-6 text-center" style="margin:auto">
            <button class="btn btn-lg btn-block btn-warning mt-3" (click)="regresar()">
                Regresar
            </button>
        </div>
        <div class="col-12 col-md-6 text-center" style="margin:auto">
            <button class="btn btn-lg btn-block btn-warning mt-3" (click)="copiarInvitacion(invitacion)">
                Copiar invitación
            </button>
        </div>
    </div>



    <div id="newStyle " style="text-align:center !important;width: 98%; margin:auto !important; overflow: hidden;">

        <div id="presentacion" class="animate__animated">
            <app-presentacion (view)="closePresentacion($event)" *ngIf="!loading && presentacionView"
                [data]="invitacion" [bgsframes]="bgsframes"></app-presentacion>
        </div>

        <div id="invitacion" *ngIf="invitacionView" class="animate__animated invitacion scroll-container "
            (scroll)="onScroll($event)">


            <!--  <div class="scroll-container" (scroll)="onScroll($event)">
            <div *ngFor="let item of visibleItems" class="item">
                {{ item }}
            </div>
        </div> -->
            <div>

                <app-music-desing [data]="invitacion"></app-music-desing>
            </div>
            <div class="clear"></div>
            <app-principal-template-desing [data]="invitacion" [fiesta]="fiesta"
                [bgsframes]="bgsframes"></app-principal-template-desing>


            <div id="timer" class="ma noVisible animate__animated animate__fadeIn">
                <app-timer [data]="invitacion" [date]="date"></app-timer>
            </div>
            <div class="clear"></div>
            <div id="dondeCuando" class="ma noVisible animate__animated animate__fadeIn">
                <app-donde-cuando [data]="invitacion" [bgsframes]="bgsframes"></app-donde-cuando>
            </div>
            <div class="clear"></div>
            <div id="galery" class="ma  noVisible animate__animated animate__fadeIn">
                <app-galeria-desing [data]="invitacion"></app-galeria-desing>
            </div>

            <div class="clear"></div>
            <div id="chambelanes" class="ma noVisible animate__animated animate__fadeIn">
                <app-chambelanes-desing [data]="invitacion"></app-chambelanes-desing>
            </div>
            <div class="clear"></div>
            <!--      <div id="vestimenta" class="ma  ">
            <app-vestimenta-desing [data]="invitacion"></app-vestimenta-desing>
        </div> -->
            <div id="programa" class="ma  noVisible animate__animated animate__fadeIn">
                <app-programa-desing [data]="invitacion" [bgsframes]="bgsframes"></app-programa-desing>
            </div>
            <div class="clear"></div>
            <div id="menu" class="ma noVisible animate__animated animate__fadeIn">
                <app-menu-desing [data]="invitacion" [bgsframes]="bgsframes"></app-menu-desing>
            </div>
            <div class="clear"></div>
            <div id="mesa-regalos" class="ma noVisible animate__animated animate__fadeIn">
                <app-mesa-regalos-desing [data]="invitacion" [bgsframes]="bgsframes"></app-mesa-regalos-desing>
            </div>
            <div class="clear"></div>
            <div id="hospedaje" class="ma noVisible animate__animated animate__fadeIn">
                <app-hospedaje-desing [data]="invitacion"></app-hospedaje-desing>
            </div>
            <div class="clear"></div>
            <div id="sobres" class="ma   noVisible animate__animated animate__fadeIn">
                <app-sobres-desing [data]="invitacion"></app-sobres-desing>
            </div>
            <div class="clear"></div>
            <div id="notas" class="ma noVisible animate__animated animate__fadeIn">
                <app-notas-desing [bgsframes]="bgsframes" [data]="invitacion"></app-notas-desing>
            </div>

            <div class="clear"></div>
            <div id="codigo" class="ma   noVisible animate__animated animate__fadeIn">
                <app-codigo-desing [data]="invitacion"></app-codigo-desing>
            </div>
            <div class="clear"></div>
            <div id="qr" class="ma noVisible animate__animated animate__fadeIn">
                <ng-container *ngIf="boleto">
                    <app-qr-desing [bgsframes]="bgsframes" [data]="invitacion" [boleto]="boleto"
                        [fiesta]="fiesta"></app-qr-desing>

                </ng-container>
                <ng-container *ngIf="!boleto">
                    <app-qr-desing [bgsframes]="bgsframes" [data]="invitacion"></app-qr-desing>

                </ng-container>


            </div>
            <div id="confirmacion" class="ma   noVisible animate__animated animate__fadeIn">
                <app-confirmacion-desing [data]="invitacion" [boleto]="boleto"
                    [fiesta]="fiesta"></app-confirmacion-desing>
            </div>
            <div id="galeriaFiesta" class="ma  noVisible animate__animated animate__fadeIn">
                <app-compartir-galeria [data]="invitacion" [boleto]="boleto" [fiesta]="fiesta"
                    [bgsframes]="bgsframes"></app-compartir-galeria>
            </div>


            <div class="mt-3 text-center"
                [style]="{'background-color': invitacion.cSecond, 'height': '100px','line-height':'100px','margin':'auto','text-align':'center','width': '100%'}">
                <b [style]="{color: invitacion.cTexto}">
                    <a routerLink="/core"
                        [style]="{'color': invitacion.cTexto,'cursor': 'pointer','text-decoration':'none'}">
                        <img src="../../../../../../../../favicon.ico" alt=""
                            style="width: 35px; padding: 3px; background-color: white;"> Tickets party </a></b>
            </div>
        </div>


    </div>
</div>