<app-header></app-header>

<body id="top">

    <main>




        <section class="hero-section d-flex justify-content-center align-items-center" id="section_1">
            <div class="container">
                <div class="row">

                    <div class="col-lg-8 col-12 mx-auto">
                        <h1 class="text-white text-center">Bloc</h1>

                        <h2 class="text-center">Brindamos informaciòn util </h2>


                    </div>

                </div>
            </div>
        </section>



        <section class="explore-section section-padding" id="section_2">
            <div class="container">

                <div class="col-12 text-center">
                    <p class="mb-4">Un blog informativo es una página web que se actualiza regularmente y proporciona
                        información sobre un tema específico, como un diario online o un medio de comunicación para
                        compartir conocimientos y experiencias. Estos blogs se utilizan para expresar ideas, informar a
                        los lectores o promocionar productos y servicios
                    </p>
                </div>

            </div>


            <div class="container-fluid">
                <div class="row">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation" *ngIf="isRegister('1')">
                            <button class="nav-link active" id="tab-1" data-bs-toggle="tab" data-bs-target="#tab-1-pane"
                                type="button" role="tab" aria-controls="tab-1-pane" aria-selected="true">
                                Planificación
                            </button>
                        </li>
                        <li class="nav-item" role="presentation" *ngIf="isRegister('2')">
                            <button class="nav-link  " id="tab-2" data-bs-toggle="tab" data-bs-target="#tab-2-pane"
                                type="button" role="tab" aria-controls="tab-2-pane" aria-selected="true">
                                Logística

                            </button>
                        </li>
                        <li class="nav-item" role="presentation" *ngIf="isRegister('3')">
                            <button class="nav-link  " id="tab-3" data-bs-toggle="tab" data-bs-target="#tab-3-pane"
                                type="button" role="tab" aria-controls="tab-3-pane" aria-selected="true">
                                Comunicación

                            </button>
                        </li>
                        <li class="nav-item" role="presentation" *ngIf="isRegister('4')">
                            <button class="nav-link  " id="tab-4" data-bs-toggle="tab" data-bs-target="#tab-4-pane"
                                type="button" role="tab" aria-controls="tab-4-pane" aria-selected="true">
                                Ejecución

                            </button>
                        </li>
                        <li class="nav-item" role="presentation" *ngIf="isRegister('5')">
                            <button class="nav-link  " id="tab-5" data-bs-toggle="tab" data-bs-target="#tab-5-pane"
                                type="button" role="tab" aria-controls="tab-5-pane" aria-selected="true">
                                Seguimiento
                            </button>
                        </li>

                    </ul>
                </div>
            </div>


            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="tab-1-pane" role="tabpanel" aria-labelledby="tab-1"
                    tabindex="1">
                    <div class="row">
                        <ng-container *ngFor="let pt of posts">
                            <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4 mb-lg-0  ma text-center"
                                style="margin-top: 25px;" *ngIf="pt.categoria=='1'">
                                <div class="card">
                                    <img [src]="url+'/upload/posts/'+pt.img" class="card-img-top ma" alt="..."
                                        style="max-width: 150px;">
                                    <div class="card-body">
                                        <h5 class="card-title">{{pt.titulo}}</h5>

                                        <a [routerLink]="'/core/post/'+pt.uid" class="btn but">Más información</a>
                                    </div>
                                </div>
                            </div>
                        </ng-container>

                    </div>


                </div>
                <div class="tab-pane fade " id="tab-2-pane" role="tabpanel" aria-labelledby="tab-2"
                    tabindex="2">
                    <div class="row">
                        <ng-container *ngFor="let pt of posts">
                            <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4 mb-lg-0  ma text-center"
                                style="margin-top: 25px;" *ngIf="pt.categoria=='2'">
                                <div class="card">
                                    <img [src]="url+'/upload/posts/'+pt.img" class="card-img-top ma" alt="..."
                                        style="max-width: 150px;">
                                    <div class="card-body">
                                        <h5 class="card-title">{{pt.titulo}}</h5>

                                        <a href="#" class="btn but">Más información</a>
                                    </div>
                                </div>
                            </div>
                        </ng-container>

                    </div>


                </div>
                <div class="tab-pane fade " id="tab-3-pane" role="tabpanel" aria-labelledby="tab-3"
                    tabindex="3">
                    <div class="row">
                        <ng-container *ngFor="let pt of posts">
                            <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4 mb-lg-0  ma text-center"
                                style="margin-top: 25px;" *ngIf="pt.categoria=='3'">
                                <div class="card">
                                    <img [src]="url+'/upload/posts/'+pt.img" class="card-img-top ma" alt="..."
                                        style="max-width: 150px;">
                                    <div class="card-body">
                                        <h5 class="card-title">{{pt.titulo}}</h5>

                                        <a href="#" class="btn but">Más información</a>
                                    </div>
                                </div>
                            </div>
                        </ng-container>

                    </div>


                </div>
                <div class="tab-pane fade tab-2" id="tab-4-pane" role="tabpanel" aria-labelledby="tab-4"
                    tabindex="4">
                    <div class="row">
                        <ng-container *ngFor="let pt of posts">
                            <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4 mb-lg-0  ma text-center"
                                style="margin-top: 25px;" *ngIf="pt.categoria=='4'">
                                <div class="card">
                                    <img [src]="url+'/upload/posts/'+pt.img" class="card-img-top ma" alt="..."
                                        style="max-width: 150px;">
                                    <div class="card-body">
                                        <h5 class="card-title">{{pt.titulo}}</h5>

                                        <a href="#" class="btn but">Más información</a>
                                    </div>
                                </div>
                            </div>
                        </ng-container>

                    </div>


                </div>
                <div class="tab-pane fade " id="tab-5-pane" role="tabpanel" aria-labelledby="tab-5"
                    tabindex="5">
                    <div class="row">
                        <ng-container *ngFor="let pt of posts">
                            <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4 mb-lg-0  ma text-center"
                                style="margin-top: 25px;" *ngIf="pt.categoria=='5'">
                                <div class="card">
                                    <img [src]="url+'/upload/posts/'+pt.img" class="card-img-top ma" alt="..."
                                        style="max-width: 150px;">
                                    <div class="card-body">
                                        <h5 class="card-title">{{pt.titulo}}</h5>

                                        <a href="#" class="btn but">Más información</a>
                                    </div>
                                </div>
                            </div>
                        </ng-container>

                    </div>


                </div>

            </div>

        </section>


        



    </main>
    <app-footer></app-footer>
</body>