.cte {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.transform {
    float: left;
    height: 450px;
    width: 50%;
    position: relative;
    background-image: url('/assets/invitaciones/background/bg.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center top;


    color: #333;
}

.transformFix {
    background-attachment: fixed;
    background-color: rgba(255, 255, 255, 0.486);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-position: center top;

}

.noOpc {
    opacity: 1;
}

.transform__content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
}

.viewMobile {
    display: none;
}

.viewPC {
    display: block;
}


@media screen and (max-width: 768px) {
    .viewMobile {
        display: block;
    }

    .viewPC {
        display: none;
    }

    .transform {
        width: 100%;
    }


}