<app-header></app-header>
<main>
    <app-loading class="animated1 fadeIn" *ngIf="loading"></app-loading>
    <app-message class="animated1 fadeIn" *ngIf="msnOk"></app-message>
    <section class="contact-section section-padding section-bg animated1 fadeIn " id="section_5" *ngIf="!loading">
        <div class="container bw">
            <div class="card">
                <div class="card-body">
                    <div class="row">

                        <div class="col-lg-12 col-12 text-center">
                            <h2 class="mb-5" *ngIf="rol === ANF">Crear ubicación</h2>
                            <h2 class="mb-5" *ngIf="rol === SLN">Crear centro de eventos</h2>
                        </div>
                        <form [formGroup]="form" (ngSubmit)="onSubmit()">
                            <div class="row">
                                <div class="col-12 col-md-12 mt-3">
                                    <div class="form-group">
                                        <label for="nombre">Nombre</label>
                                        <input type="text" class="form-control upper" id="nombre"
                                            formControlName="nombre" required placeholder="Nombre">
                                    </div>
                                    <span *ngIf="submited && errorControl['nombre'].errors " class="error">Es
                                        requerido</span>
                                </div>
                                <div class="col-12 col-md-6 mt-3">
                                    <div class="form-group">
                                        <label for="calle">Calle</label>
                                        <input type="text" class="form-control upper" id="calle" formControlName="calle"
                                            placeholder="Calle">
                                    </div>
                                    <span *ngIf="submited && errorControl['calle'].errors " class="error">Es
                                        requerido</span>
                                </div>
                                <div class="col-6 col-md-3 mt-3">
                                    <div class="form-group">
                                        <label for="numeroExt">Número exterior</label>
                                        <input type="text" class="form-control upper" id="numeroExt"
                                            formControlName="numeroExt" placeholder="Número exterior">
                                    </div>
                                    <span *ngIf="submited && errorControl['numeroExt'].errors " class="error">Es
                                        requerido</span>
                                </div>
                                <div class="col-6 col-md-3 mt-3">
                                    <div class="form-group">
                                        <label for="numeroInt">Número interior</label>
                                        <input type="text" class="form-control upper" id="numeroInt"
                                            formControlName="numeroInt" placeholder="Número interior">
                                    </div>
                                </div>
                                <div class="col-6 col-md-4 mt-3">
                                    <div class="form-group">
                                        <label for="pais">País</label>
                                        <select name="" id="pais" formControlName="pais" class="form-control upper"
                                            #pais class="form-control upper" (change)="checkPais()">
                                            <option value="">Selecciona un país</option>
                                            <option [value]="item.clave " *ngFor="let item of paises">{{item.nombre }}
                                            </option>
                                        </select>

                                    </div>
                                    <span *ngIf="submited && errorControl['pais'].errors " class="error">Es
                                        requerido</span>
                                </div>
                                <div class="col-6 col-md-4 mt-3  animate__animated animate__fadeIn" *ngIf="isPais">
                                    <div class="form-group">
                                        <label for="cp">Código postal</label>
                                        <input type="text" class="form-control upper" id="cp" formControlName="cp"
                                            placeholder="Código postal" #cp (keyup)="getCps(pais.value,cp.value)">
                                    </div>
                                    <span *ngIf="submited && errorControl['cp'].errors " class="error">Es
                                        requerido</span>
                                </div>
                                <div class="col-6 col-md-4 mt-3  animate__animated animate__fadeIn"
                                    *ngIf="isPais && form.value.cp.length ==5 ">
                                    <div class="form-group">
                                        <label for="estado">Estado</label>
                                        <input type="text" class="form-control upper" id="estado"
                                            formControlName="estado" placeholder="Estado">
                                    </div>
                                    <span *ngIf="submited && errorControl['estado'].errors " class="error">Es
                                        requerido</span>
                                </div>

                                <div class="col-6 col-md-4 mt-3  animate__animated animate__fadeIn"
                                    *ngIf="isPais && form.value.cp.length ==5 && form.value.estado !==''">
                                    <div class="form-group">
                                        <label for="municipioDelegacion">Municipio o Delegación</label>
                                        <select name="" id="municipioDelegacion" formControlName="municipioDelegacion"
                                            class="form-control upper" #municipioDelegacion class="form-control upper">
                                            <option value="">Selecciona un Municipio o Delegación</option>
                                            <option [value]="item " *ngFor="let item of municipios">{{item }}
                                            </option>
                                        </select>




                                    </div>
                                    <span *ngIf="submited && errorControl['municipioDelegacion'].errors "
                                        class="error">Es
                                        requerido</span>
                                </div>
                                <div class="col-6 col-md-4 mt-3  animate__animated animate__fadeIn"
                                    *ngIf="isPais  && form.value.cp.length ==5  && form.value.estado !==''">
                                    <div class="form-group">
                                        <label for="coloniaBarrio">Colonia</label>
                                        <select name="" id="coloniaBarrio" formControlName="coloniaBarrio"
                                            class="form-control upper" #coloniaBarrio class="form-control upper">
                                            <option value="">Selecciona una Colonia</option>
                                            <option [value]="item " *ngFor="let item of colonias">{{item }}
                                            </option>
                                        </select>
                                    </div>
                                    <span *ngIf="submited && errorControl['coloniaBarrio'].errors " class="error">Es
                                        requerido</span>
                                </div>

                                <div class="col-6 col-md-4 mt-3  animate__animated animate__fadeIn"
                                    *ngIf="isPais  && form.value.cp.length ==5  && form.value.estado !==''">
                                    <div class="form-group">
                                        <label for="telefono">Teléfono</label>
                                        <input type="number" class="form-control upper" id="telefono"
                                            placeholder="Teléfono" formControlName="telefono">
                                    </div>
                                    <span *ngIf="submited && errorControl['telefono'].errors " class="error">Es
                                        requerido</span>
                                </div>
                                <div class="col-12 col-md-4 mt-3  animate__animated animate__fadeIn"
                                    *ngIf="isPais  && form.value.cp.length ==5  && form.value.estado !==''">

                                    <div class="form-group">
                                        <label for="email">Correo electrónico</label>

                                        <select name="" id="email" formControlName="email" class="form-control upper">
                                            <option value="" selected>Selecciona un grupo</option>
                                            <ng-container *ngFor="let item of usuarios">
                                                <option [value]="item.email">
                                                    {{item.email}}
                                                </option>
                                            </ng-container>
                                        </select>
                                    </div>
                                    <span *ngIf="submited && errorControl['email'].errors " class="error">Es
                                        requerido</span>
                                </div>

                                <div class="col-12 col-md-4 mt-3  animate__animated animate__fadeIn"
                                    *ngIf="isPais  && form.value.cp.length ==5  && form.value.estado !==''">


                                    <div class="form-group">
                                        <label for="tipoUbicacion">Tipo ubicación</label>

                                        <select name="" id="tipoUbicacion" formControlName="tipoUbicacion"
                                            class="form-control upper">
                                            <option value="" selected>Tipo de ubicación</option>
                                            <ng-container *ngFor="let item of tipoUbicaciones">
                                                {{item.roles | json}}
                                                <option [value]="item.uid"
                                                    *ngIf="item.roles.includes(getRolClave(rol))">
                                                    {{item.nombre}}
                                                </option>
                                            </ng-container>
                                        </select>
                                    </div>
                                    <span *ngIf="submited && errorControl['email'].errors " class="error">Es
                                        requerido</span>
                                </div>

                                <div class="col-12 col-md-12 mt-3" style="display: none;">

                                    <div class="form-group">
                                        <label for="ubicacionGoogle">Ubicación Maps Google</label>
                                        <app-info-ubicacion></app-info-ubicacion>
                                        <input type="text" class="form-control upper" id="ubicacionGoogle"
                                            placeholder="Ingresa link de la ubicación de Google Maps"
                                            formControlName="ubicacionGoogle" required>
                                    </div>
                                </div>
                                <!--  <div class="col-12 col-md-6 mt-3">

                                    <div class="form-group">
                                        <label for="lat">Latitud</label>
                                        <input type="number" class="form-control upper" id="lat" placeholder="Latitud"
                                            formControlName="lat">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 mt-3">

                                    <div class="form-group">
                                        <label for="long">Longitud</label>
                                        <input type="number" class="form-control upper" id="long" placeholder="Longitud"
                                            formControlName="long">
                                    </div>
                                </div> -->
                                <div class="col-12 mt-3" *ngIf="sendCoords">

                                    <app-mapscreen [showBar]="true" (coordenadasSelect)="showCoordenadas($event)"
                                        (coordenadas)="showCoordenadas($event)" [sendCoords]="sendCoords"
                                        [isEditV]="true" type="ubicacionGoogle"></app-mapscreen>
                                    <span *ngIf="submited && errorControl['ubicacionGoogle'].errors "
                                        class="error">Favor de seleccionar la ubicación del entro de evento</span>
                                </div>
                                <div class="col-12 col-md-12 mt-3">

                                    <div class="form-group">
                                        <label for="long">Indicaciones adicionales de esta dirección</label>
                                        <textarea class="form-control upper" id="comoLlegar" rows="4"
                                            style="resize: none;" placeholder="Como llegar"
                                            formControlName="comoLlegar"> </textarea>
                                    </div>
                                </div>

                            </div>

                            <div class="row mt-5 text-center">

                                <div class="col-12 col-md-6  mt-3 text-center">
                                    <button type=" submit" class="btn btn-lg btn-block but  ">Crear</button>

                                </div>
                                <div class="col-12 col-md-6  mt-3 text-center">
                                    <button class="btn btn-lg btn-block btn-warning" (click)="back()">Regresar</button>

                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>

        </div>
    </section>



</main>
<app-footer></app-footer>