<div class="clear"></div>
<div class=" _animate__zoomIn animate__animated animate__zoomIn  mt-5 btp ">

    <div class="wthree_title_agile   ">
        <h2 class="font1 text-center  " style="visibility: visible;font-size: 50px;">
            Momentos</h2>
        <div class="ma divisor" [style]="{'background-color':data.cSecond}"> </div> animate__animated animate__fadeIn ">
    </div>
</div>
<section class=" ">

    <section class="text-center w-100">
        <div class="row">
            <div class="col-4 mb-4 ">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp"
                    class="w-100 shadow-1-strong rounded mb-4 pointer" alt="Boat on Calm Water" data-bs-toggle="modal"
                    data-bs-target="#exampleModal">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain1.webp"
                    class="w-100 shadow-1-strong rounded mb-4 pointer" alt="Wintry Mountain Landscape"
                    data-bs-toggle="modal" data-bs-target="#exampleModal">
            </div>
            <div class="col-4 mb-4 ">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain2.webp"
                    class="w-100 shadow-1-strong rounded mb-4 pointer" alt="Mountains in the Clouds"
                    data-bs-toggle="modal" data-bs-target="#exampleModal">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp"
                    class="w-100 shadow-1-strong rounded mb-4 pointer" alt="Boat on Calm Water" data-bs-toggle="modal"
                    data-bs-target="#exampleModal">
            </div>
            <div class="col-4 mb-4 ">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(18).webp"
                    class="w-100 shadow-1-strong rounded mb-4 pointer" alt="Waves at Sea" data-bs-toggle="modal"
                    data-bs-target="#exampleModal">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain3.webp"
                    class="w-100 shadow-1-strong rounded mb-4 pointer" alt="Yosemite National Park"
                    data-bs-toggle="modal" data-bs-target="#exampleModal">
            </div>
        </div>

    </section>

</section>


</div>
<!-- Modal -->
<div class="modal fade w-100" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-body">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(18).webp"
                    class="w-100 shadow-1-strong rounded mb-4" alt="Waves at Sea" data-bs-toggle="modal"
                    data-bs-target="#exampleModal">
            </div>

        </div>
    </div>
</div>