<div class="clear"></div>
<div class="_animate__zoomIn animate__animated animate__zoomIn btp">
    <div>
        <h2 class="font1 text-center  " style="visibility: visible;font-size: 50px;">
            Mensaje</h2>
        <div class="ma divisor" [style]="{'background-color':data.cSecond}"> </div> animate__animated animate__fadeIn ">
    </div>
    <div class="container">
        <div class="row text-center">
            <div class="col-12 col-md-8 ma text-center">
                <label for="mensaje" class="font1">Dejale un mensaje</label>

                <textarea name="" id="" class="mb-3"
                    style="width: 100%;height: 450px;background-color: aliceblue;"></textarea>
                <button class="btn  upper  mb-3" [style]="{'background-color': '#e6e5f3', 'color':'#000'}"
                    type="button">
                    Enviar
                </button>
            </div>



        </div>

    </div>




</div>



</div>