<app-header></app-header>
<main>
    <app-loading class="animated1 fadeIn" *ngIf="loading"></app-loading>
    <app-message class="animated1 fadeIn" *ngIf="msnOk"></app-message>
    <section class="contact-section section-padding section-bg animated1 fadeIn " id="section_5" *ngIf="!loading">
        <div class="container bw">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12 col-12 text-center">
                            <h2 class="mb-5">Comprar paquete</h2>
                        </div>
                        <form [formGroup]="form">
                            <div class="row">

                                <!--     <div class="col-12 col-md-4 mt-3">

                                    <div class="form-group" *ngIf="paquetes">
                                        <label for="paquetess">Paquetes </label>
                                        <select name="" id="paquetess" formControlName="paquetess"
                                            class="form-control upper" #paquetess class="form-control upper"
                                            (change)="selectPaquete(paquetess.value)">
                                            <option value="">Selecciona un paquetess</option>
                                            <ng-container *ngFor="let item of paquetesss">

                                                <option [value]="item.uid" *ngIf="item.costo!=0">{{item.nombre }}
                                                </option>
                                            </ng-container>
                                        </select>
                                    </div>
                                    <span *ngIf="submited && errorControl['evento'].errors " class="error">Es requerido
                                    </span>
                                </div>
                                <div class="col-12 col-md-4 mt-3">
                                    <div class="form-group">
                                        <label for="cantidadFiestas">Cantidad de fiestas</label>
                                        <input type="text" class="form-control upper" id="cantidadFiestas"
                                            formControlName="cantidadFiestas" required placeholder="Cantidad de fiestas"
                                            readonly>
                                    </div>
                                    <span *ngIf="submited && errorControl['cantidadFiestas'].errors " class="error">Es
                                        requerido
                                    </span>
                                </div>
                                <div class="col-12 col-md-4 mt-3">
                                    <div class="form-group">
                                        <label for="costo">Costo</label>
                                        <input type="text" class="form-control upper" id="costo" formControlName="costo"
                                            required placeholder="Costo" readonly>
                                    </div>
                                    <span *ngIf="submited && errorControl['costo'].errors " class="error">Es
                                        requerido
                                    </span>
                                </div>
 -->
                                <div class="row">

                                    <div class="col-12 ma" style="text-align: center;">

                                        <button class="btn plus ma " style="background-color:#13547a !important ;"
                                            (click)="addPaquete()"> <i class="icon-plus"></i>
                                        </button>
                                    </div>
                                </div>

                                <div formArrayName="paquetes">
                                    <div *ngFor="let paquete of paquetes['controls'] ; let i=index">

                                        <div [formGroupName]="i">
                                            <div class="row">

                                                <div class="col-12 col-md-6 mt-3">

                                                    <div class="form-group">
                                                        <label for="tipo">Tipo</label> 
                                                        <select name="" id="tipo" formControlName="tipo"
                                                            class="form-control upper"
                                                            (change)="setTipos(form.value.paquetes[i].tipo ,i)">
                                                            <option value="">Selecciona un tipo</option>
                                                            <option value="fiestas">Fiesta</option>
                                                            <option value="galerias">Galeria</option>

                                                        </select>
                                                    </div>


                                                    <span
                                                        *ngIf="submited && errorControl['paquetes']['controls'][i]['controls']['tipo'].errors "
                                                        class="error">Es
                                                        requerido
                                                    </span>
                                                </div>
                                                <div class="col-12 col-md-6 mt-3">

                                                    <div class="form-group">
                                                        <label for="paqueteActual">Paquete</label> 
                                                        <select name="" id="paqueteActual"
                                                            formControlName="paqueteActual" class="form-control upper"
                                                            #paqueteActual class="form-control upper"
                                                            (change)="selectPaquete(paqueteActual.value,i)">
                                                            <option value="">Selecciona un paquete </option>
                                                            <ng-container *ngFor="let item of paquetesTipo">

                                                                <option [value]="item.uid"
                                                                    *ngIf="item.costo!=0 && item.tipo ===form.value.paquetes[i].tipo">
                                                                    {{item.nombre }}
                                                                </option>
                                                            </ng-container>
                                                        </select>
                                                    </div>
                                                    <span
                                                        *ngIf="submited && errorControl['paquetes']['controls'][i]['controls']['paqueteActual'].errors "
                                                        class="error">Es
                                                        requerido
                                                    </span>
                                                </div>
                                                <div class="col-12 col-md-4 mt-3">

                                                    <div class="form-group">
                                                        <label for="cantidad">Cantidad</label> 
                                                        <input name="" id="cantidad" formControlName="cantidad"
                                                            class="form-control upper" readonly />

                                                    </div>


                                                    <span
                                                        *ngIf="submited && errorControl['paquetes']['controls'][i]['controls']['cantidad'].errors "
                                                        class="error">Es
                                                        requerido
                                                    </span>
                                                </div>
                                                <div class="col-12 col-md-4 mt-3">

                                                    <div class="form-group">
                                                        <label for="costo">Costo</label> 
                                                        <input name="" id="costo" formControlName="costo"
                                                            class="form-control upper" readonly />

                                                    </div>


                                                    <span
                                                        *ngIf="submited && errorControl['paquetes']['controls'][i]['controls']['costo'].errors "
                                                        class="error">Es
                                                        requerido
                                                    </span>
                                                </div>




                                                <div class=" col-12 col-md-4 mt-4 text-center">

                                                    <button class="btn less " (click)="removePaquete(i)"
                                                        *ngIf="this.form.value.fiesta !==''"> <i
                                                            class="icon-minus"></i></button>

                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>







                            </div>

                            <div class="row mt-5 text-center">

                                <div class="col-12 col-md-6  mt-3 text-center ">
                                    <button type="submit" class="btn btn-lg btn-block but  "
                                        (click)="onSubmit()">Comprar</button>

                                </div>
                                <div class="col-12 col-md-6  mt-3 text-center">
                                    <button class="btn btn-lg btn-block btn-warning" (click)="back()">Regresar</button>

                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>

        </div>
    </section>



</main>
<app-footer></app-footer>