<ng-container *ngIf="data  && (data.chambelanesCheck =='true' || data.chambelanesCheck ==true) ">

    <div class="clear"></div>
    <div class="_animate__zoomIn animate__animated animate__zoomIn btp" [style]="{'border-color':data.cSecond}">
        <div>
            <h3 class="text-center ma animate__animated {{data.cabeceraFont}} {{data.cabeceraEfecto}} {{data.cabeceraEfectoRep}}"
                [style]="{'font-size': data.cabeceraSize +'px','color':data.cTexto}">
                {{data.chambelanText}}
            </h3>
            <div class="ma divisor" [style]="{'background-color':data.cSecond}">
            </div>
            <div class="container transform ">
                <div class="row text-center" *ngIf="data && chambelanes.length>0">
                    <ng-container *ngFor="let cham of chambelanes">

                        <div class="col-6 col-md-4  col-lg-3 ma">
                            <img src="/assets/icons/vals2.png" class="circle" alt="{{cham.name}}"
                                [style]="{'width':data.iconSize+'px','height':data.iconSize+'px'}"
                                *ngIf="  cham.img==undefined">
                            <img [src]="url+'/upload/invitaciones/'+cham.img" class="circle" alt="{{cham.name}}"
                                [style]="{'width':data.iconSize+'px','height':data.iconSize+'px'}"
                                *ngIf=" cham.img != undefined">

                            <h3 class="{{data.textoInvFont}}" [style]="{'color':data.cTexto}">{{cham.name}}</h3>

                        </div>
                    </ng-container>




                </div>

            </div>




        </div>



    </div>
</ng-container>