@font-face {
    font-family: "font1";
    src:
        local("font1"),
        url("/assets/fonts/antiga.otf") format("opentype") tech(color-COLRv1);
}

@font-face {
    font-family: "font2";
    src:
        local("font2"),
        url("/assets/fonts/saiyan.ttf") format("opentype") tech(color-COLRv1);
}

@font-face {
    font-family: "font3";
    src:
        local("font3"),
        url("/assets/fonts/esponja.ttf") format("opentype") tech(color-COLRv1);
}

@font-face {
    font-family: "font4";
    src:
        local("font4"),
        url("/assets/fonts/daemon.ttf") format("opentype") tech(color-COLRv1);
}

@font-face {
    font-family: "font5";
    src:
        local("font5"),
        url("/assets/fonts/boots.ttf") format("opentype") tech(color-COLRv1);
}

@font-face {
    font-family: "font6";
    src:
        local("font6"),
        url("/assets/fonts/rebel.ttf") format("opentype") tech(color-COLRv1);
}

@font-face {
    font-family: "font7";
    src:
        local("font7"),
        url("/assets/fonts/roth.ttf") format("opentype") tech(color-COLRv1);
}

@font-face {
    font-family: "font8";
    src:
        local("font8"),
        url("/assets/fonts/naruto.ttf") format("opentype") tech(color-COLRv1);
}

@font-face {
    font-family: "font9";
    src:
        local("font9"),
        url("/assets/fonts/eternal.ttf") format("opentype") tech(color-COLRv1);
}

@font-face {
    font-family: "font10";
    src:
        local("font10"),
        url("/assets/fonts/solo.otf") format("opentype") tech(color-COLRv1);
}

@font-face {
    font-family: "font11";
    src:
        local("font11"),
        url("/assets/fonts/one_piece.ttf") format("opentype") tech(color-COLRv1);
}

.font1 {
    font-family: 'font1';
    font-weight: 400;
    font-style: normal;
}

.font2 {
    font-family: 'font2';
    font-weight: 400;
    font-style: normal;
}

.font3 {
    font-family: 'font3';
    font-weight: 400;
    font-style: normal;
}

.font4 {
    font-family: 'font4';
    font-weight: 400;
    font-style: normal;
}

.font5 {
    font-family: 'font5';
    font-weight: 400;
    font-style: normal;
}

.font6 {
    font-family: 'font6';
    font-weight: 400;
    font-style: normal;
}

.font7 {
    font-family: 'font7';
    font-weight: 400;
    font-style: normal;
}

.font8 {
    font-family: 'font8';
    font-weight: 400;
    font-style: normal;
}

.font9 {
    font-family: 'font9';
    font-weight: 400;
    font-style: normal;
}

.font10 {
    font-family: 'font10';
    font-weight: 400;
    font-style: normal;
}


.font11 {
    font-family: 'font11';
    font-weight: 400;
    font-style: normal;
}






.pacific {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

.anton-sc-regular {
    font-family: "Anton SC", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.creepster-regular {
    font-family: "Creepster", system-ui;
    font-weight: 400;
    font-style: normal;
}

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
}

.arsenal-sc-regular {
    font-family: "Arsenal SC", serif;
    font-weight: 400;
    font-style: normal;
}

.arsenal-sc-bold {
    font-family: "Arsenal SC", serif;
    font-weight: 700;
    font-style: normal;
}

.arsenal-sc-regular-italic {
    font-family: "Arsenal SC", serif;
    font-weight: 400;
    font-style: italic;
}

.arsenal-sc-bold-italic {
    font-family: "Arsenal SC", serif;
    font-weight: 700;
    font-style: italic;
}