@import url("fonts.css");

:root {
    --cPrimary: #13547a;
    --cSecond: #80d0c7;
    --cWhite: #ffffff;
    --cCloud: #e2dfdf;
    --error: #c83434;
}




textarea,
.textDesc {
    height: 250px;
}

.bw {
    background-color: var(--cWhite);
    border-radius: 20px;
}

.table-over {
    overflow: scroll;
    height: auto;
    width: 100%;
    max-height: 500px;
}

.loadImg {
    width: 50%;
    max-width: 150px;
}

.upper {
    text-transform: uppercase;
}

.cap {
    text-transform: capitalize;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.btn {
    width: 80%;
}

.btn-warning {
    background: var(--cSecond);
    border: 1px solid var(--cSecond);
    color: var(--cWhite);
}

.btn:active {
    background: var(--cSecond);
    border: 1px solid var(--cSecond);
    color: var(--cWhite);
}

.btn-warning:hover {
    color: var(--cWhite);
    background: var(--cSecond);
    border: 1px solid var(--cSecond);
    opacity: .7;
}

.but {
    background: var(--cPrimary) !important;
    color: var(--cWhite) !important;
}

.but:hover {
    color: var(--cWhite);
    background: var(--cPrimary);
    opacity: .7;
}

.but:active {
    color: var(--cWhite);
    background: var(--cPrimary);
    opacity: .7;
}

.but:active {
    color: var(--cWhite);
    background: var(--cPrimary);
    opacity: .7;
}

.but2 {
    background: var(--cSecond) !important;
    color: var(--cWhite) !important;
}

.but2:hover {
    color: var(--cWhite);
    background: var(--cSecond);
    opacity: .7;
}

.but2:active {
    color: var(--cWhite);
    background: var(--cSecond);
    opacity: .7;
}

.card {
    border: none !important;
}

.img-avatar {
    min-width: 150px;
    width: 100%;
    max-width: 250px;
    height: auto;
    margin: auto;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.primary {
    color: var(--cPrimary)
}

input[type="file"] {
    display: none;
}

.error {
    width: 100%;
    background-color: var(--cWhite);
    color: var(--error);
    padding: 0 15px;
}

.plus {
    background: var(--cSecond) !important;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    color: var(--cWhite);
    margin-top: 18px auto;
}

.less {
    background: var(--cSecond) !important;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    color: var(--cWhite);
    margin-top: 18px auto;
}

.list {
    color: var(--cSecond)
}

.lsn {
    list-style: none;
}

.danger {
    padding: 0 10px;
    background-color: var(--cPrimary);
    color: var(--cSecond);
}

.mt-50 {
    margin-top: 50px;
}

.dp-modal-header {
    display: flex;
    background-color: var(--cPrimary) !important;
    border-radius: 5px 5px 0 0;
    color: var(--cCloud);
    padding: 1px 1px 1px 14px;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
}

.prima {
    color: var(--cPrimary) !important;
}

.second {
    color: var(--cSecond) !important;
}

.primaB {
    background-color: var(--cPrimary) !important;
}

.secondB {
    background-color: var(--cSecond) !important;
}

.white {
    color: var(--cWhite);
}

.whiteB {
    background-color: var(--cWhite);
}

.pointer {
    cursor: pointer;
}

.ma {
    margin: auto;
}

.dpB {
    display: block;
}

.dpN {
    display: none;
}

.info {
    background-color: var(--cPrimary);
    color: var(--cWhite);
    margin: auto;
    border: none;
    border-radius: 20px;
    font-weight: 800;
    margin-bottom: 5px;
    font-size: 25px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.tdn {
    text-decoration: none;
}

.title {
    background-color: var(--cPrimary);
    padding: 10px;
    color: var(--cWhite);
    border-radius: 20px;
    line-height: 17px;
    border: 4px solid var(--cSecond);
    margin-bottom: 25px;
}

.img-fluid {
    margin: auto;
}

.pulseAnimation:hover {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    transform: scale(1);
    animation: pulse 2s infinite;
}

.img-fluid-300 {
    margin: auto;
    max-width: 300px;
}

.ma {
    margin: auto;
}

/* fonts */

.font1 {
    font-family: 'font1';
    font-weight: 400;
    font-style: normal;
}

.font2 {
    font-family: 'font2';
    font-weight: 400;
    font-style: normal;
}

.pacific {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

.anton-sc-regular {
    font-family: "Anton SC", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.creepster-regular {
    font-family: "Creepster", system-ui;
    font-weight: 400;
    font-style: normal;
}

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
}

.arsenal-sc-regular {
    font-family: "Arsenal SC", serif;
    font-weight: 400;
    font-style: normal;
}

.arsenal-sc-bold {
    font-family: "Arsenal SC", serif;
    font-weight: 700;
    font-style: normal;
}

.arsenal-sc-regular-italic {
    font-family: "Arsenal SC", serif;
    font-weight: 400;
    font-style: italic;
}

.arsenal-sc-bold-italic {
    font-family: "Arsenal SC", serif;
    font-weight: 700;
    font-style: italic;
}

.range {
    cursor: pointer;
    width: 20px !important;
    height: 20px !important;
    background-color: var(--cPrimary);
    border-radius: 100%;
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
}

.range-icon {
    width: 35px;
    color: var(--cSecond);
    font-size: 25px;
    line-height: 20px;
}


.custom-market-img {

    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    padding: 3px;
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;

}

.img-item-market {
    width: 35px;
    height: 35px;
    padding: 3px;
}

.iconView {
    width: 35px;
    height: 35px;
    padding: 3px;
    margin: auto;
    background-color: #fff;
    border: 3px solid #13547a;


}

.imgSingleProducto {
    width: 100%;
    max-width: 600px;
    max-height: 600px;
}

.titleProducto {
    font-size: 30px;
    text-align: center;
}

.linkProveedor {
    font-size: 20px;
    cursor: pointer;
}

.cantidadProducto {
    font-size: 20px;

}

.descripcionProdructo {
    font-size: 20px;
    text-align: justify;
}

.precioProducto {
    font-size: 25px;
}

.imgToView {
    margin: auto;
    width: 100%;
    max-width: 650px;
    max-height: 500px;
}

.imgSecond {
    display: none;
}

.imgPrimary {
    display: block;
}

.videoPlay {
    width: 100%;
}



.imgViewer {
    height: auto;
}


.title-market {
    font-size: 13px;
    font-weight: 800;
}

.category-market {
    font-size: 10px;
    margin-top: -7px;
}

.list-market {
    font-size: 14px;
}

.select-img-market {
    background-color: #13547a;
}

.item-market {
    width: 50px;
    margin-right: 25px;
    display: inline-block;
}

.item-color-market {
    width: 15px;
    height: 15px;
    margin-right: 15px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    border-radius: 100%;
    display: inline-block;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.carrucel {
    text-align: center;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
}

.ejemploImgDiv {

    margin: auto;
    text-align: center;
    overflow: hidden;
}

.ejemploImg {

    width: 100%;
}

@media screen and (max-width: 760px) {
    .imgSingleProducto {

        max-width: 250px;
        height: 250px;
    }

    .titleProducto {
        text-align: center;
        font-size: 25px;
    }

    .imgViewer {
        height: 250px;
    }

    .imgSecond {
        display: block;
    }

    .imgPrimary {
        display: none;
    }

    .descripcionProdructo {

        text-align: center;
    }

    .ejemploImgDiv {
        width: 100%;
        height: 150px;
        line-height: 150px;
    }


    .carrucel {
        display: none
    }

    .carrucelMobil {
        display: inline-block;
        text-align: center;

        white-space: nowrap;
        padding: 10px;
    }
}

@media screen and (min-width:576px) and (max-width: 768px) {
    .carrucelMobil {
        display: inline-block;
        text-align: center;

        white-space: nowrap;
        padding: 10px;
    }

    .principal {
        width: 100% !important;
        height: auto;
        background-size: 250% 100% !important;
    }
}

@media screen and (min-width:768px) and (max-width: 1024px) {
    .principal {
        width: 100% !important;
        height: auto;
        background-size: 180% 100% !important;
    }

    .ejemploImgDiv {
        width: 80%;
        height: 200px;
        line-height: 200px;
    }

    .carrucelMobil {
        display: none
    }

}

@media screen and (min-width:1024px) {
    .principal {
        width: 100% !important;
        height: auto;
        background-size: 135% !important;
        background-position-x: center;
        background-position-y: center;
    }

    .ejemploImgDiv {
        width: 75%;
        height: 250px;
        line-height: 250px;
    }

    .carrucelMobil {
        display: none
    }
}

.animate__animated {
    --animate-duration: 3s;
}

.table-over {
    min-height: 450px !important;
}

.shadowFin {
    -webkit-box-shadow: 4px 6px 20px -5px rgba(0, 0, 0, 0.75) !important;
    -moz-box-shadow: 4px 6px 20px -5px rgba(0, 0, 0, 0.75) !important;
    box-shadow: 4px 6px 20px -5px rgba(0, 0, 0, 0.75) !important;
}

.btn:focus-visible {
    background-color: #80d0c7 !important;
    color: white !important;
    border: 2px soli #13547a !important;
    box-shadow: none !important;
}

.redesLI {
    margin-top: 5px;
    display: inline-block;
    margin-right: 7px;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 100%;
    color: var(--cWhite) !important;
    background-color: var(--cPrimary);
    transition: all .5s ease-out;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
}

button,
a {
    transition: all .5s ease-out !important;
    -webkit-transition: all .5s ease-out !important;
    -moz-transition: all .5s ease-out !important;
    -ms-transition: all .5s ease-out !important;
    -o-transition: all .5s ease-out !important;
}

.btnClose {
    position: relative;
    top: 20px;
    left: 20px;
    width: 35px;
    height: 35px;
    color: var(--cWhite) !important;
    background-color: var(--cPrimary);
    transition: all .5s ease-out;
    text-align: center;
    border-radius: 100%;
}


.btnClose {
    position: relative;
    top: 20px;
    left: 20px;
    width: 35px;
    height: 35px;
    color: var(--cWhite) !important;
    background-color: var(--cPrimary);
    transition: all .5s ease-out;
    text-align: center;
    border-radius: 100%;
}

.btnClose:hover,
.btn:hover,
.redesLI:hover {

    /* background-color: var(--cSecond) !important;
    color: var(--cPrimary) !important */
}

.welcome {
    font-size: 35px;
    font-weight: 800;
    color: var(--cPrimary);
    text-shadow:
        0 0 5px var(--cWhite),
        0 0 10px var(--cWhite),
        0 0 20px var(--cWhite),
        0 0 40px var(--cWhite),
        0 0 80px var(--cWhite);

    padding: 20px;
    text-align: center;
    ;
}

.comprimir {
    font-size: 12px;
    font-weight: 900;
}


.clear {
    float: none;
    clear: both;
}

.invitacion {
    width: 100%;
    height: auto;
    background-image: url('/assets/invitaciones/background/bg.jpg');

    background-size: 100% auto;
    background-position: center top;
    background-attachment: fixed;
}

.divisor {
    background-color: #f078c4;
    width: 50%;
    height: 3px;
    margin: auto;

    margin-bottom: 20px;
}

.presentacion {
    position: relative;

}

.btp {
    border-top: 3px solid #f078c4;
}

.principal {
    width: 100%;
    height: auto;
    background-image: url('/assets/invitaciones/background/bg.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center top;
    background-attachment: fixed;
}

.timer {

    width: 100%;
    height: auto;
    background-image: url('/assets/invitaciones/background/splashcolor3.jpeg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center top;

}

.frame {
    width: 380px;
    margin-top: 25px;
    margin-bottom: 35px;
}

.textInit {
    width: 100%;
    position: absolute;
    top: 360px;
    left: 0;
    margin: auto;
    text-align: center;
    font-size: 59px;
    letter-spacing: 5px;
    text-shadow: 4px 4px white;
}

.mensaje {
    width: 100%;
    text-align: center !important;
}

.pPrincipal {
    position: absolute;
    width: 100%;
    top: 63%;
    left: 0;
}

.parrafo {
    font-size: 25px;
    font-weight: 700;
    text-align: justify;
    letter-spacing: 3px;
}




.table>:not(caption)>*>* {
    background-color: none !important;
    background: none !important;
    border: none !important;
}





.mensaje {
    width: 100%;
    text-align: center !important;
}

.pPrincipal {
    position: absolute;
    width: 100%;
    top: 63%;
    left: 0;
}

.parrafo {
    font-size: 25px;
    font-weight: 700;
    text-align: justify;
    letter-spacing: 3px;
}



.imagenFiesta {
    background-color: rgba(255, 255, 255, .6);
    position: absolute;
    top: 140px;
    right: 0;
    right: 0;
    right: 0;
    width: 180px;
    height: 180px;
    left: 0;
    margin: 0 auto;

}



.backPresentacion {
    position: absolute;
    /* Se usa para que no se salga la imagen de la caja, ya que la imagen tiene position absolute */
    width: 100%;
    height: 100vh;
    background-color: white;
}



.nlink {
    text-decoration: none;
}

.db {
    display: block;
}

.dn {
    display: none;
}


.name {
    border-radius: 100%;
    background-color: rgba(255, 255, 255, .6);
    position: absolute;

    top: 35%;
    right: 0;
    right: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}



.botonVer {
    background-color: none;
    position: absolute;
    text-align: center;
    text-shadow: 2px 2px 5px white;
    top: 75%;
    right: 0;
    right: 0;
    right: 0;
    left: 0;
    margin: 0 auto;

}


.inviVer {

    letter-spacing: 5px;
    color: var(--cPrimary);
    font-weight: 800;
    font-size: 45px;

}

.titleInv {

    position: absolute;
    text-align: center;
    top: 35%;
    right: 0;
    right: 0;
    right: 0;
    left: 0;
    margin: 0 auto;

    letter-spacing: 5px;
    color: var(--cPrimary);
    font-weight: 800;
    font-size: 85px;
}

.subTitleInv {

    position: absolute;
    text-align: center;
    top: 33%;
    right: 0;
    right: 0;
    right: 0;
    left: 0;
    margin: 0 auto;

    letter-spacing: 2px;
    color: var(--cPrimary);
    font-weight: 900;
    font-size: 30px;
}

.countdown {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.title-timer {
    color: #1c1c1c;
    font-size: 1.25rem;
    text-transform: uppercase;

}

.countdown-block {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 20px;
}

.time-elem {
    color: #1c1c1c;
    position: relative;
    position: relative;
    height: 140px;
    width: 150px;
    background-color: #e9cdd3;
    border-radius: 8px;
    text-align: center;
    font-size: 5.5rem;

    overflow: hidden;
    margin-bottom: 27px;
    line-height: 140px;
    -webkit-box-shadow: 0px 3px 10px #4242428c;
    box-shadow: 0px 3px 10px #4242428c;
}

.time-elem>span {
    position: absolute;
    left: 0px;
    right: 0px;
}

.top {
    z-index: 3;
    background-color: #ebc7cf;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: perspective(200px);
    transform: perspective(200px);
}

.time-elem .top::after,
.time-elem .bottom-back::after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;

}

.bottom {
    z-index: 1;
}

.bottom-back {
    z-index: 2;
    top: 0;
    height: 50%;
    width: 100%;
    overflow: hidden;
    background-color: #ebc7cf;
}

.bottom-back span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.top,
.top-back {
    height: 50%;
    width: 100%;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.top-back {
    z-index: 4;
    bottom: 0;
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    background-color: #e9cdd3;
    -webkit-transform: perspective(200px) rotateX(180deg);
    transform: perspective(200px) rotateX(180deg);
}

.top-back span {
    position: absolute;
    top: -100%;
    left: 0;
    right: 0;
    margin: auto;
}

@media only screen and (max-width: 768px) {
    .countdown-block {
        margin: 15px;
    }

    .title-timer {
        font-size: 0.8rem;
    }

    .time-elem {
        height: 110px;
        width: 120px;
        font-size: 4rem;
        line-height: 110px;
        margin-bottom: 17px;
    }
}

.visible {
    opacity: 1;
    transform: translateY(0);
}

.noVisible {
    opacity: 0;
}

.scroll-container {
    height: 1200px;
    overflow-y: auto;

}

.item {
    background: #f4f4f4;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}