:root {
    --cPrimary: #13547a;
    --cSecond: #80d0c7;
    --cWhite: #ffffff;
    --cCloud: #e2dfdf;
    --error: #c83434;
}

.bw {
    background-color: var(--cWhite);
    border-radius: 20px;
}

.table-over {
    overflow: scroll;
    height: auto;
    width: 100%;
    max-height: 500px;
}

.loadImg {
    width: 50%;
    max-width: 150px;
}

.upper {
    text-transform: uppercase;
}

.cap {
    text-transform: capitalize;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.btn {
    width: 80%;
}

.btn-warning {
    background: var(--cSecond);
    border: 1px solid var(--cSecond);
    color: var(--cWhite);
}

.btn-warning:hover {
    color: var(--cWhite);
    background: var(--cSecond);
    border: 1px solid var(--cSecond);
    opacity: .7;
}

.but {
    background: var(--cPrimary) !important;
    color: var(--cWhite) !important;
}

.but:hover {
    color: var(--cWhite);
    background: var(--cPrimary);
    opacity: .7;
}

.but2 {
    background: var(--cSecond) !important;
    color: var(--cWhite) !important;
}

.but2:hover {
    color: var(--cWhite);
    background: var(--cSecond);
    opacity: .7;
}

.card {
    border: none !important;
}

.img-avatar {
    min-width: 150px;
    width: 100%;
    max-width: 250px;
    height: auto;
    margin: auto;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.primary {
    color: var(--cPrimary)
}

input[type="file"] {
    display: none;
}

.error {
    width: 100%;
    background-color: var(--cWhite);
    color: var(--error);
    padding: 0 15px;
}

.plus {
    background: var(--cSecond) !important;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    color: var(--cWhite);
    margin-top: 18px auto;
}

.less {
    background: var(--error);
    border-radius: 100%;
    width: 50px;
    height: 50px;
    color: var(--cWhite);
    margin-top: 18px auto;
}

.list {
    color: var(--cSecond)
}

.lsn {
    list-style: none;
}

.danger {
    padding: 0 10px;
    background-color: var(--cPrimary);
    color: var(--cSecond);
}

.mt-50 {
    margin-top: 50px;
}

.dp-modal-header {
    display: flex;
    background-color: var(--cPrimary) !important;
    border-radius: 5px 5px 0 0;
    color: var(--cCloud);
    padding: 1px 1px 1px 14px;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
}

.prima {
    color: var(--cPrimary) !important;
}

.second {
    color: var(--cSecond) !important;
}

.secondB {
    background-color: var(--cSecond) !important;
}

.white {
    color: var(--cWhite);
}

.whiteB {
    background-color: var(--cWhite);
}

.pointer {
    cursor: pointer;
}

.ma {
    margin: auto;
}

.dpB {
    display: block;
}

.dpN {
    display: none;
}

.info {
    background-color: var(--cPrimary);
    color: var(--cWhite);
    margin: auto;
    border: none;
    border-radius: 20px;
    font-weight: 800;
    margin-bottom: 5px;
    font-size: 25px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.tdn {
    text-decoration: none;
}

.title {
    background-color: var(--cPrimary);
    padding: 10px;
    color: var(--cWhite);
    border-radius: 20px;
    line-height: 17px;
    border: 4px solid var(--cSecond);
    margin-bottom: 25px;
}

.img-fluid {
    margin: auto;
}

.pulseAnimation:hover {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    transform: scale(1);
    animation: pulse 2s infinite;
}

.img-fluid-300 {
    margin: auto;
    max-width: 300px;
}

.ma {
    margin: auto;
}

/* fonts */
.pacifico {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

.anton-sc-regular {
    font-family: "Anton SC", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.creepster-regular {
    font-family: "Creepster", system-ui;
    font-weight: 400;
    font-style: normal;
}

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
}

.arsenal-sc-regular {
    font-family: "Arsenal SC", serif;
    font-weight: 400;
    font-style: normal;
}

.arsenal-sc-bold {
    font-family: "Arsenal SC", serif;
    font-weight: 700;
    font-style: normal;
}

.arsenal-sc-regular-italic {
    font-family: "Arsenal SC", serif;
    font-weight: 400;
    font-style: italic;
}

.arsenal-sc-bold-italic {
    font-family: "Arsenal SC", serif;
    font-weight: 700;
    font-style: italic;
}

.range {
    cursor: pointer;
    width: 20px !important;
    height: 20px !important;
    background-color: var(--cPrimary);
    border-radius: 100%;
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
}

.range-icon {
    width: 35px;
    color: var(--cSecond);
    font-size: 25px;
    line-height: 20px;
}

@media screen and (min-width:576px) and (max-width: 768px) {
    .principal {
        width: 100% !important;
        height: 750px !important;
        background-size: 250% !important;
    }
}

@media screen and (min-width:768px) and (max-width: 1024px) {
    .principal {
        width: 100% !important;
        height: 750px !important;
        background-size: 180% !important;
    }
}

@media screen and (min-width:1024px) {
    .principal {
        width: 100% !important;
        height: 750px !important;
        background-size: 135% !important;
        background-position-x: center;
        background-position-y: center;
    }
}

.animate__animated {
    --animate-duration: 3s;
}