<app-header></app-header>

<section class="hero-section d-flex justify-content-center align-items-center" id="section_1">

</section>
<section class="featured-section">
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-lg-4 col-12 mb-4 mb-lg-0 ma text-center">
                <h2 class="ma white">Te agradecemos por tu compra</h2>

                <div class="custom-block bg-white shadow-l mt-3">

                    <p>
                        Cualquier duda comunicarse al correo<br>
                        <a href="mailto:myticketparty@cochisweb.com"
                            class="btn btn-lg btn-block btn-warning mt-3">myticketparty&#64;cochisweb.com</a>
                        <br>o en <br>
                        <a class="btn btn-lg btn-block btn-warning mt-3" routerLink="/contact">Contacto</a>
                        <br>

                        <button class="btn btn-lg btn-block but  mt-3" routerLink="/mis-compras">Mis
                            compras</button>
                    </p>


                </div>
            </div>



        </div>
    </div>
</section>
<section class="explore-section section-padding" id="section_2">
    <div class="container">

        <div class="col-12 text-center">


        </div>

    </div>




</section>


<app-footer></app-footer>