<ng-container
    *ngIf="(data.itinerarioCheck =='true' || data.itinerarioCheck ==true) && (data.fondoInvitacionCheck=='false' || data.fondoInvitacionCheck==false)">

    <div class="w-100 bg-1-img py-4 border-color btp"
        [style]="{'background-color':'white','border-color':data.cSecond,
'background-image':'url('+url+'/upload/fondos/'+getImg(data.fondoInvitacion)+')' , 'background-attachment': 'fixed', 'background-size': '100% 100%', 'background-repeat': 'no-repeat', 'background-position': 'center top','border-color':data.cSecond}">
        <div class="row centrar">
            <div class="container  ">
                <div class="row p-0 m-0">
                    <div class="col-md-12">
                        <div class="wthree_title_agile">
                            <h3 class=" animate__animated {{data.cabeceraFont}} {{data.cabeceraEfecto}} {{data.cabeceraEfectoRep}} ma text-center"
                                [style]=" {'font-size': data.cabeceraSize +'px','color':data.cTexto}">
                                Minuto a Minuto
                            </h3>

                            <span class="linea _animate__flipInX animate__animated animate__flipInX"
                                style="visibility: visible;"></span>
                        </div>
                    </div>
                </div>
                <div class="row mt-3 " style=" width: 90%; margin: auto;">
                    <div class="col-md-12 ma ">
                        <ul class="timeline" *ngIf="data && programas.length>0"
                            [style]="{'border-color':data.cSecond+ '!important'}">
                            <ng-container *ngFor="let programa of programas ;let i = index">

                                <ng-container *ngIf="(i%2!=0)">
                                    <li class="_animate__zoomIn animate__animated animate__zoomIn"
                                        [style]="{'border-color':data.cSecond}">
                                        <div class="timeline-badge  shadow {{data.cabeceraFont}}"
                                            [style]="{'background-color':data.cSecond}">{{programa.hr}}</div>
                                        <div class="timeline-panel mt-5" [style]="{'border-color':data.cSecond}">
                                            <div class="timeline-heading text-center">
                                                <ng-container *ngIf="programa.icon !=''">

                                                    <img [src]="url+'/upload/fondos/'+getImg(programa.icon)"
                                                        alt="{{programa.tipo}}" width="40" class="my-3"
                                                        style="filter:invert(0.3)"><br>
                                                </ng-container>
                                                <h4 class="timeline-title {{data.textoInvFont}} "
                                                    [style]="{'color':data.cTexto}">{{programa.name}}</h4>
                                            </div>
                                        </div>
                                    </li>
                                </ng-container>
                                <ng-container *ngIf="(i%2==0)">
                                    <li class="timeline-inverted _animate__zoomIn animate__animated animate__zoomIn"
                                        [style]="{'border-color':data.cSecond}">
                                        <div class="timeline-badge {{data.cabeceraFont}} shadow warning"
                                            [style]="{'background-color':data.cSecond}">{{programa.hr}}</div>
                                        <div class="timeline-panel mt-5" [style]="{'border-color':data.cSecond}">
                                            <div class="timeline-heading text-center">
                                                <ng-container *ngIf="programa.icon !=''">

                                                    <img [src]="url+'/upload/fondos/'+getImg(programa.icon)"
                                                        alt="{{programa.tipo}}" width="40" class="my-3"
                                                        style="filter:invert(0.3)"><br>
                                                </ng-container>
                                                <h4 class="timeline-title {{data.textoInvFont}} "
                                                    [style]="{'color':data.cTexto}">{{programa.name}}</h4>
                                            </div>
                                        </div>
                                    </li>
                                </ng-container>


                            </ng-container>


                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>


<ng-container
    *ngIf="(data.itinerarioCheck =='true' || data.itinerarioCheck ==true) && (data.fondoInvitacionCheck=='true' || data.fondoInvitacionCheck==true)">

    <div class="w-100 bg-1-img py-4 border-color btp"
        [style]="{'background-color':'white','border-color':data.cSecond,
'background-image':'url('+url+'/upload/invitaciones/'+ data.fondoInvitacionUp+')' , 'background-attachment': 'fixed', 'background-size': '100% 100%', 'background-repeat': 'no-repeat', 'background-position': 'center top','border-color':data.cSecond}">
        <div class="row centrar">
            <div class="container  ">
                <div class="row p-0 m-0">
                    <div class="col-md-12">
                        <div class="wthree_title_agile">
                            <h3 class=" animate__animated {{data.cabeceraFont}} {{data.cabeceraEfecto}} {{data.cabeceraEfectoRep}} ma text-center"
                                [style]=" {'font-size': data.cabeceraSize +'px','color':data.cTexto}">
                                Minuto a Minuto
                            </h3>

                            <span class="linea _animate__flipInX animate__animated animate__flipInX"
                                style="visibility: visible;"></span>
                        </div>
                    </div>
                </div>
                <div class="row mt-3 " style=" width: 90%; margin: auto;">
                    <div class="col-md-12 ma ">
                        <ul class="timeline" *ngIf="data && programas.length>0"
                            [style]="{'border-color':data.cSecond+ '!important'}">
                            <ng-container *ngFor="let programa of programas ;let i = index">

                                <ng-container *ngIf="(i%2!=0)">
                                    <li class="_animate__zoomIn animate__animated animate__zoomIn"
                                        [style]="{'border-color':data.cSecond}">
                                        <div class="timeline-badge  shadow {{data.cabeceraFont}}"
                                            [style]="{'background-color':data.cSecond}">{{programa.hr}}</div>
                                        <div class="timeline-panel mt-5" [style]="{'border-color':data.cSecond}">
                                            <div class="timeline-heading text-center">
                                                <img [src]="url+'/upload/fondos/'+getImg(programa.icon)"
                                                    alt="{{programa.tipo}}" width="40" class="my-3"
                                                    style="filter:invert(0.3)"><br>
                                                <h4 class="timeline-title {{data.textoInvFont}} "
                                                    [style]="{'color':data.cTexto}">{{programa.name}}</h4>
                                            </div>
                                        </div>
                                    </li>
                                </ng-container>
                                <ng-container *ngIf="(i%2==0)">
                                    <li class="timeline-inverted _animate__zoomIn animate__animated animate__zoomIn"
                                        [style]="{'border-color':data.cSecond}">
                                        <div class="timeline-badge {{data.cabeceraFont}} shadow warning"
                                            [style]="{'background-color':data.cSecond}">{{programa.hr}}</div>
                                        <div class="timeline-panel mt-5" [style]="{'border-color':data.cSecond}">
                                            <div class="timeline-heading text-center">
                                                <img [src]="url+'/upload/fondos/'+getImg(programa.icon)"
                                                    alt="{{programa.tipo}}" width="50" class="my-3"
                                                    style="filter:invert(0.3)"><br>
                                                <h4 class="timeline-title {{data.textoInvFont}} "
                                                    [style]="{'color':data.cTexto}">{{programa.name}}</h4>
                                            </div>
                                        </div>
                                    </li>
                                </ng-container>


                            </ng-container>


                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>