<app-header></app-header>

<body id="top">

    <main>




        <section class="hero-section d-flex justify-content-center align-items-center" id="section_1">
            <div class="container">
                <div class="row">

                    <div class=" col-12 mx-auto">
                        <h1 class="text-white text-center">Ejemplos</h1>

                        <h6 class="text-center">Invitaciones, Galerías, Envíos y Logística </h6>


                    </div>

                </div>
            </div>
        </section>




        <div class="container">

            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="mb-4">Invitaciones dinámicas</h2>
                </div>

                <ul>
                    <li>
                        Elige si tu evento tendrá división por mesas o no
                    </li>
                    <li>
                        Elige si tu evento contabilizara la cantidad de invitados
                    </li>
                    <li>
                        Edita imágenes
                    </li>
                    <li>
                        Edita textos
                    </li>
                    <li>
                        Edita colores
                    </li>
                    <li>
                        Escoge si existe evento civil, evento social, Hotel, Itinerarios o Notas
                    </li>
                    <li>
                        Escoge si existe evento social
                    </li>
                    <li>
                        Escoge si existe Hotel
                    </li>
                    <li>
                        Escoge si existe Itinerarios o Notas
                    </li>



                </ul>

                <div class=" col-md-6 col-12 mb-4 mb-lg-0 ma text-center" style="margin-top: 25px;">
                    <iframe [src]="sanitizedUrl" class="ma"
                        style="width: 100%; max-width: 450px; height: 600px;"></iframe>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="mb-4">Invitaciones por archivo</h2>
                </div>
                <ul>
                    <li>
                        No importa si es imagen o video tu sube la invitación que se mostrara a tus invitados
                    </li>
                    <li>
                        Edita textos
                    </li>
                    <li>
                        Edita imágenes
                    </li>
                    <li>
                        Edita colores
                    </li>
                    <li>
                        Escoge si existe evento civil, evento social, Hotel, Itinerarios o Notas
                    </li>
                    <li>
                        Escoge si existe evento social
                    </li>
                    <li>
                        Escoge si existe Hotel
                    </li>
                    <li>
                        Escoge si existe Itinerarios o Notas
                    </li>

                </ul>
                <div class=" col-md-6 col-12 mb-4  mt-4 mb-lg-0 ma text-center" style="margin-top: 25px;">
                    <iframe [src]="sanitizedUrlFile" class="ma"
                        style="width: 100%; max-width: 450px; height: 600px;"></iframe>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-12 text-center">
                    <h2 class="mb-4">Verifica invitaciones creadas , cantidad de invitados actuales , cuantos lugares
                        tienes disponibles , cuantos invitados confirmados y cuantos personas ingresaron a tu evento en
                        tiempo real</h2>
                </div>
                <div class=" col-md-6 col-12 mb-4 mt-4 mb-lg-0 ma text-center" style="margin-top: 25px;">
                    <img src="/assets/examples/logistica.png" alt="" style="margin: auto;max-width: 100%;">
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-12 text-center">
                    <h2 class="mb-4">Galerías</h2>
                </div>
                <div class=" col-md-6 col-12 mb-4 mt-4 mb-lg-0 ma text-center" style="margin-top: 25px;">
                    <img src="/assets/examples/galeria.png" alt="" style="margin: auto;max-width: 100%;">
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-12 text-center">
                    <h2 class="mb-4">Envío por Whatsapp</h2>
                </div>
                <div class=" col-md-6 col-12 mb-4 mt-4 mb-lg-0 ma text-center" style="margin-top: 25px;">
                    <img src="/assets/examples/envio_whatsapp.png" alt="" style="margin: auto;max-width: 100%;">
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-12 text-center">
                    <h2 class="mb-4">Envió por correo electrónico</h2>
                </div>
                <div class=" col-md-6 col-12 mb-4 mt-4 mb-lg-0 ma text-center" style="margin-top: 25px;">
                    <img src="/assets/examples/envio_mail.png" alt="" style="margin: auto;max-width: 100%;">
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-12 text-center">
                    <h2 class="mb-4">Recordatorios Push Notifications</h2>
                </div>
                <div class=" col-md-6 col-12 mb-4 mt-4 mb-lg-0 ma text-center" style="margin-top: 25px;">
                    <img src="/assets/examples/envio_push.jpeg" alt="" style="margin: auto;max-width: 100%;">
                </div>
            </div>
        </div>









    </main>

    <app-footer></app-footer>
</body>