<div class="w-100 bg-1-img py-4 border-color btp" style="display: block !important;background-color: white !important;">
    <div class="row centrar">
        <div class="container  ">
            <div class="row p-0 m-0">
                <div class="col-md-12">
                    <div class="wthree_title_agile">
                        <h2 class="font1 text-center  " style="visibility: visible;font-size: 50px;">
                            Minuto a minuto</h2>

                        <span class="linea _animate__flipInX animate__animated animate__flipInX"
                            style="visibility: visible;"></span>
                    </div>
                </div>
            </div>
            <div class="row mt-3 " style=" width: 90%; margin: auto;">
                <div class="col-md-12 ma  ">
                    <ul class="timeline">
                        <li class="_animate__zoomIn animate__animated animate__zoomIn" style="visibility: visible;">
                            <div class="timeline-badge font-1 shadow">14:00 hrs.</div>
                            <div class="timeline-panel mt-5">
                                <div class="timeline-heading text-center">
                                    <img src="/assets/icons/church.png" alt="iglesia" width="40" class="my-3"
                                        style="filter:invert(0.3)"><br>
                                    <h4 class="timeline-title">Ceremonia Religiosa</h4>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted _animate__zoomIn animate__animated animate__zoomIn"
                            style="visibility: visible;">
                            <div class="timeline-badge font-1 shadow warning">15:30 hrs.</div>
                            <div class="timeline-panel mt-5">
                                <div class="timeline-heading text-center">
                                    <img src="/assets/icons/reception.png" alt="recepcion" width="50" class="my-3"
                                        style="filter:invert(0.3)"><br>
                                    <h4 class="timeline-title">Recepción</h4>
                                </div>
                            </div>
                        </li>
                        <li class="_animate__zoomIn animate__animated animate__zoomIn" style="visibility: visible;">
                            <div class="timeline-badge font-1 shadow">16:00 hrs.</div>
                            <div class="timeline-panel mt-5">
                                <div class="timeline-heading text-center">
                                    <img src="/assets/icons/reception.png" alt="entrada" width="40" class="my-3"
                                        style="filter:invert(0.3)"><br>
                                    <h4 class="timeline-title  font-1">Entrada de la Quinceañera</h4>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted _animate__zoomIn animate__animated animate__zoomIn"
                            style="visibility: visible;">
                            <div class="timeline-badge font-1 shadow warning">16:20 hrs.</div>
                            <div class="timeline-panel mt-5">
                                <div class="timeline-heading text-center">
                                    <img src="/assets/icons/reception.png" alt="fotos" width="50" class="my-3"
                                        style="filter:invert(0.3)"><br>
                                    <h4 class="timeline-title  font-1">Sesión de fotos</h4>
                                </div>
                            </div>
                        </li>
                        <li class="_animate__zoomIn animate__animated animate__zoomIn" style="visibility: visible;">
                            <div class="timeline-badge font-1 shadow">17:30 hrs.</div>
                            <div class="timeline-panel mt-5">
                                <div class="timeline-heading text-center">
                                    <img src="/assets/icons/reception.png" alt="brindis" width="50" class="my-3"
                                        style="filter:invert(0.3)"><br>
                                    <h4 class="timeline-title  font-1">Brindis</h4>
                                    <h4>
                                    </h4>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted _animate__zoomIn animate__animated animate__zoomIn"
                            style="visibility: visible;">
                            <div class="timeline-badge font-1 shadow warning">18:00 hrs.</div>
                            <div class="timeline-panel mt-5">
                                <div class="timeline-heading text-center">
                                    <img src="/assets/icons/reception.png" alt="ultimo juguete" width="40" class="my-3"
                                        style="filter:invert(0.3)"><br>
                                    <h4 class="timeline-title  font-1">Entrega de ultimo juguete y coronación</h4>
                                </div>
                            </div>
                        </li>
                        <li class="_animate__zoomIn animate__animated animate__zoomIn" style="visibility: visible;">
                            <div class="timeline-badge font-1 shadow">18:20 hrs.</div>
                            <div class="timeline-panel mt-5">
                                <div class="timeline-heading text-center">
                                    <img src="/assets/icons/reception.png" alt="vals" width="40" class="my-3"
                                        style="filter:invert(0.3)"><br>
                                    <h4 class="timeline-title  font-1">Vals</h4>
                                    <h4>
                                    </h4>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted _animate__zoomIn animate__animated animate__zoomIn"
                            style="visibility: visible;">
                            <div class="timeline-badge font-1 shadow warning">18:50 hrs.</div>
                            <div class="timeline-panel mt-5">
                                <div class="timeline-heading text-center">
                                    <img src="/assets/icons/reception.png" alt="cena" width="40" class="my-3"
                                        style="filter:invert(0.3)"><br>
                                    <h4 class="timeline-title  font-1">Cena</h4>
                                </div>
                            </div>
                        </li>
                        <li class="_animate__zoomIn animate__animated animate__zoomIn" style="visibility: visible;">
                            <div class="timeline-badge font-1 shadow">19:40 hrs.</div>
                            <div class="timeline-panel mt-5">
                                <div class="timeline-heading text-center">
                                    <img src="/assets/icons/reception.png" alt="fiesta" width="50" class="my-3"
                                        style="filter:invert(0.3)"><br>
                                    <h4 class="timeline-title font-1">Fiesta</h4>
                                    <h4>
                                    </h4>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted _animate__zoomIn animate__animated animate__zoomIn"
                            style="visibility: visible;">
                            <div class="timeline-badge font-1 shadow warning">21:00 hrs.</div>
                            <div class="timeline-panel mt-5">
                                <div class="timeline-heading text-center">
                                    <img src="/assets/icons/reception.png" alt="brindis" width="50" class="my-3"
                                        style="filter:invert(0.3)"><br>
                                    <h4 class="timeline-title  font-1">Corte de pastel</h4>
                                </div>
                            </div>
                        </li>
                        <li class="_animate__zoomIn animate__animated animate__zoomIn" style="visibility: visible;">
                            <div class="timeline-badge font-1 shadow">21:20 hrs.</div>
                            <div class="timeline-panel mt-5">
                                <div class="timeline-heading text-center">
                                    <img src="/assets/icons/reception.png" alt="fiesta" width="50" class="my-3"
                                        style="filter:invert(0.3)"><br>
                                    <h4 class="timeline-title  font-1">Fiesta</h4>
                                    <h4>
                                    </h4>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted _animate__zoomIn animate__animated animate__zoomIn"
                            style="visibility: visible;">
                            <div class="timeline-badge font-1 shadow warning">02:00 hrs.</div>
                            <div class="timeline-panel mt-5">
                                <div class="timeline-heading text-center">
                                    <img src="/assets/icons/reception.png" alt="brindis" width="40" class="my-3"
                                        style="filter:invert(0.3)"><br>
                                    <h4 class="timeline-title  font-1">Fin del evento</h4>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>