<div class="clear"></div>
<div class="container">
    <h2 class="font1 text-center animate__animated animate__backInRight " style="visibility: visible;font-size: 50px;">
        Hospedaje recomendado</h2>
    <div class="ma divisor" [style]="{'background-color':data.cSecond}"> </div> animate__animated animate__fadeIn ">
</div>
<div class="row">
    <div class="col-12 col-md-4 col-lg-3  text-center ma">
        <div class="text-center">
            <div class="test-review">
                <div class="card shadow _animate__backInRight animate__animated animate__backInRight"
                    style="visibility: visible;">
                    <div class="w-100"
                        style="height: 350px; background-image: url('https://dynamic-media-cdn.tripadvisor.com/media/photo-o/23/88/2e/42/excellence-riviera-cancun.jpg?w=1200&h=-1&s=1'); background-size: cover; background-position: bottom">
                    </div>
                    <div class="card-body p-3" style="background-color: #e6e5f3;">
                        <div class="container-fluid p-0">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3 class="card-title font-2 mt-2 mb-0 text-center">Hotel
                                        Diego De Mazariegos</h3>
                                </div>
                            </div>
                            <div class="row py-3">
                                <div class="col-md-12 ma">
                                    <i class="fa fa-map-marker text-center"></i>
                                </div>
                                <div class="col-md-12 mb-3">
                                    <p class="text-center font-1">Profa. María Adelina Flores 2,
                                        Zona Centro, 29200 San Cristóbal de las Casas, Chis.</p>
                                </div>
                                <div class="col-md-12 ma text-center">
                                    <a href="https://goo.gl/maps/eisB7hNwb1xGs8AEA" target="_blank"
                                        class="btn btn-outline-dark ma"
                                        style="font-size: .875rem; border-radius: 8px;">Como
                                        llegar</a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 mb-3 text-center">
                                <p class="text-center font-2">Reservaciones</p>
                                <p class="card-text text-center "><i class="fa fa-phone mt-3"></i> 967-678-0833
                                </p>
                            </div>
                            <div class="col-md-12 ma text-center">
                                <a href="https://www.diegodemazariegos.com/" target="_blank"
                                    class="btn btn-outline-dark ma"
                                    style="font-size: .875rem; border-radius: 8px;">Reservar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>