.imgSingleProducto {
    width: 100%;
    max-width: 600px;
}

.titleProducto {
    font-size: 30px;
    text-align: left;
}

.linkProveedor {
    font-size: 20px;
    cursor: pointer;
}

.cantidadProducto {
    font-size: 20px;

}

.descripcionProdructo {
    font-size: 20px;
    text-align: justify;
}

.precioProducto {
    font-size: 25px;
}

.imgToView {
    margin: auto;
    width: 100%;
    max-width: 800px;
}

.videoPlay {
    width: 100%;
}

.iconView {
    margin-left: 7px;
    font-size: 35px;
    margin-right: 7px;
    font-weight: 800;

}

@media screen and (max-width: 760px) {
    .imgSingleProducto {

        max-width: 250px;
    }

    .titleProducto {
        text-align: center;
        font-size: 25px;
    }

}