<app-header></app-header>
<app-loading *ngIf="loading"></app-loading>


<div class="container animate__animated animate__fadeIn " *ngIf="!loading && item && !viewImgOk">

    <div class="row mt-5 text-center">

        <div class="col-12 col-md-8 text-center imgPrimary " (click)="viewImg(url+'/upload/items/'+getImgPrincipal())">
            <div class="imgViewer">

                <ng-container *ngFor="let item of item.photos; let i= index">

                    <ng-container
                        *ngIf="functionsService.getValueCatalog(tipoMediaView,'clave',tipoMedias)=='image/*'  && (indexToView == i)">
                        <img [src]="url+'/upload/items/'+getImgPrincipal()" class="imgSingleProducto"
                            [alt]="item.nombre">

                        <br>
                    </ng-container>
                    <ng-container
                        *ngIf="functionsService.getValueCatalog(tipoMediaView,'clave',tipoMedias)=='audio/*' && (indexToView == i)">


                        <audio preload="auto" controls [src]="url+'/upload/items/'+getImgPrincipal()" class="ma"
                            id="myAudio">
                        </audio>


                        <br>
                    </ng-container>
                    <ng-container
                        *ngIf="functionsService.getValueCatalog(tipoMediaView,'clave',tipoMedias)=='video/*'  && (indexToView == i)">

                        <video preload="auto" controls height="auto" [src]="url+'/upload/items/'+getImgPrincipal()"
                            class="videoPlay ma" id="myAudio" style="max-height: 350px;">
                        </video>


                        <br>
                    </ng-container>

                </ng-container>
            </div>
            <div class="mt-3">

                <h3>
                    {{titleToView}}
                </h3>
                <div [innerHTML]="descripcionPhotoHTML"></div>

            </div>

        </div>


        <div class="col-12 col-md-4 mt-3" *ngIf="item">
            <h3 class="mt-2" class="upper" class="titleProducto" [style]="{'color':cP} ">
                <b>{{item.nombre}}</b>
            </h3>
            <span class="linkProveedor" class="linkProveedor" [style]="{ color:cS} "
                routerLink="/core/vista-proveedor/{{item.proveedor._id}}">{{item.proveedor.nombre}} </span>



            <h4 class="mt-3 cantidadProducto" [style]="{'color': cS + '!important'}" *ngIf="item.isByCantidad">
                {{mayorMenor(item.cantidades,'menor') | currency}} - {{mayorMenor(item.cantidades,'mayor') |
                currency}}
            </h4>
            <h4 class="mt-3 cantidadProducto" [style]="{'color': cS + '!important'}" *ngIf="item.isByColor">
                {{mayorMenor(item.colores,'menor') | currency}} - {{mayorMenor(item.colores,'mayor') | currency}}
            </h4>
            <h4 class="mt-3 cantidadProducto" [style]="{'color': cS + '!important'}" *ngIf="item.isByService">
                {{mayorMenor(item.servicios,'menor') | currency}} - {{mayorMenor(item.servicios,'mayor') |
                currency}}
            </h4>
            <h4 class="mt-3 cantidadProducto" [style]="{'color': cS + '!important'}" *ngIf="item.isBySize">
                {{mayorMenor(item.sizes,'menor') | currency}} - {{mayorMenor(item.sizes,'mayor') | currency}}
            </h4>

            <div class="col-12 col-md-8 text-center imgSecond "
                (click)="viewImg(url+'/upload/items/'+getImgPrincipal())">
                <div class="imgViewer">

                    <ng-container *ngFor="let item of item.photos; let i= index">

                        <ng-container
                            *ngIf="functionsService.getValueCatalog(tipoMediaView,'clave',tipoMedias)=='image/*'  && (indexToView == i)">
                            <img [src]="url+'/upload/items/'+getImgPrincipal()" class="imgSingleProducto"
                                [alt]="item.nombre">

                            <br>
                        </ng-container>
                        <ng-container
                            *ngIf="functionsService.getValueCatalog(tipoMediaView,'clave',tipoMedias)=='audio/*' && (indexToView == i)">


                            <audio preload="auto" controls [src]="url+'/upload/items/'+getImgPrincipal()" class="ma"
                                id="myAudio">
                            </audio>


                            <br>
                        </ng-container>
                        <ng-container
                            *ngIf="functionsService.getValueCatalog(tipoMediaView,'clave',tipoMedias)=='video/*'  && (indexToView == i)">

                            <video preload="auto" controls height="auto" [src]="url+'/upload/items/'+getImgPrincipal()"
                                class="videoPlay ma" id="myAudio" style="max-height: 350px;">
                            </video>


                            <br>
                        </ng-container>

                    </ng-container>
                </div>
                <div class="mt-3">

                    <h3>
                        {{titleToView}}
                    </h3>
                    <div [innerHTML]="descripcionPhotoHTML"></div>

                </div>

            </div>

            <p class="descripcionProdructo" [style]=" {'color': cP + '!important '} ">

                {{item.descripcion}}
            </p>



            <app-divisor [color]="cS"></app-divisor>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">

                <div class="row mt-2 text-center">
                    <div class="col-12 mt-2 upper">
                        <label for="opciones">Opciones</label>
                        <select id="opciones" class="form-select form-select-sm upper" #opciones
                            formControlName="opcion" (change)="opcSeleccion($event,item.cantidades)"
                            *ngIf="item.isByCantidad">
                            <option value='' class="upper"> Selecciona una opción</option>
                            <option [value]="it.nombre" *ngFor="let it of item.cantidades" class="upper">{{it.nombre}}
                            </option>
                        </select>
                        <select id="opciones" class="form-select form-select-sm  upper" #opciones
                            formControlName="opcion" (change)="opcSeleccion($event,item.colores)"
                            *ngIf="item.isByColor">
                            <option value='' class="upper"> Selecciona una opción</option>
                            <option [value]="it.nombre" *ngFor="let it of item.colores" class="upper">{{it.nombre}}
                            </option>
                        </select>
                        <select id="opciones" class="form-select form-select-sm upper" #opciones
                            formControlName="opcion" (change)="opcSeleccion($event,item.servicios)"
                            *ngIf="item.isByService">
                            <option value='' class="upper"> Selecciona una opción</option>
                            <option [value]="it.nombre" *ngFor="let it of item.servicios" class="upper">{{it.nombre}}
                            </option>
                        </select>
                        <select id="opciones" class="form-select form-select-sm upper" #opciones
                            formControlName="opcion" (change)="opcSeleccion($event,item.sizes)" *ngIf="item.isBySize">
                            <option value='' class="upper"> Selecciona una opción</option>
                            <option [value]="it.nombre" *ngFor="let it of item.sizes" class="upper">{{it.nombre}}
                            </option>
                        </select>

                    </div>
                    <div class="col-12">
                        <label for="cantidad"></label>
                        <input type="number" id="catidad" class="form-control" min="0" (keyup)="setCantidad($event)"
                            (change)="setCantidad($event)" placeholder="Cantidad" formControlName="cantidad">
                    </div>


                </div>
                <div class="row mt-2">
                    <div class="carrucel">

                        <div class="item-market pointer" *ngFor="let item of item.photos;let i =index">
                            <ng-container
                                *ngIf="functionsService.getValueCatalog(item.tipoMedia,'clave',tipoMedias)=='image/*'">
                                <img [src]="url+'/upload/items/'+item.img" class=" img-item-market  select-img-market"
                                    [alt]="item.nombre" (click)="viewPhoto(item,i)">
                            </ng-container>
                            <ng-container
                                *ngIf="functionsService.getValueCatalog(item.tipoMedia,'clave',tipoMedias)=='audio/*'">
                                <i class="bi bi-volume-up iconView"
                                    [style]="{'color': cP+ '!important','background-color': cS + '!important'}"
                                    (click)="viewPhoto(item,i)"></i>
                            </ng-container>
                            <ng-container
                                *ngIf="functionsService.getValueCatalog(item.tipoMedia,'clave',tipoMedias)=='video/*'">
                                <i class="bi bi-camera-video iconView"
                                    [style]="{'color': cP+ '!important','background-color': cS + '!important'}"
                                    (click)="viewPhoto(item,i)"></i>
                            </ng-container>


                        </div>



                    </div>

                </div>
                <div class="row mt-3">

                    <div class="col-12 text-center ">
                        <button class="btn   ma" type="button"
                            [style]="{'color':CW +'!important', 'background-color':cP+ '!important'}"
                            (click)="setCarrito(opcSelected)"> Agregar al
                            carrito</button>
                    </div>
                </div>

            </form>


        </div>
        <ng-container *ngIf="opcSelected">

            <div class="col-12 mt-5">

                <h3 class="upper">
                    Descripción de {{opcSelected.nombre}}
                </h3>



                <div [innerHTML]="descripcionHTML"></div>


            </div>
            <div class="col-12">
                <h3 class="upper">
                    Precio
                </h3>

                <p class="upper precioProducto" [style]="{'color': cP+ '!important'} ">
                    {{opcSelected.precio | currency}}
                </p>
            </div>
        </ng-container>
        <div class="col-12 mt-5">
            <h3 class="upper">
                Ideal para
            </h3>

            <ul style="list-style: none; padding: 0 !important;  ">
                <li *ngFor="let it of item.idealTo" class="upper">{{it.nombre}} </li>

            </ul>
        </div>
    </div>
    <div class="row" *ngIf="provLocation && isMap">
        <div class="col-12">
            <app-mapscreen [showBar]="false" [sendCoords]="provLocation" [isEditV]="false"></app-mapscreen>
        </div>
    </div>
    <div class="row mt-5  text-center">

        <div class="col-6  ma ">
            <button class="btn " [style]="{'background-color': cS,'color':CW}" (click)="back()"> Regresar al
                marketplace</button>
        </div>
    </div>
</div>
<div class="container  animate__animated animate__fadeIn  " *ngIf="!loading && item && viewImgOk">
    <div class="row" animate__animated animate__fadeIn>
        <div class="col-12 text-center mt-3">

            <img [src]="imgToView" class="imgToView" alt="">
        </div>
        <div class="col-12 col-md-6 ma text-center ">

            <button class="btn but2 mt-3" (click)="viewImg()">
                Salir
            </button>
        </div>
    </div>

</div>
<app-footer></app-footer>