.qrcodeImage {

    width: 100% !important;
    height: auto !important;
    max-width: 350px !important;
}

/* Add custom styles here */
.center {
    display: flex;
    flex: 1;
    justify-content: center;
}

.btnfix {
    top: 120px;
    left: 120px;
    width: 90px;
    height: 90px;
    border-radius: 100%;
}

.pr {
    background: var(--primary-color)
}

.pr:hover {
    opacity: .8;
}

.confirmado {
    margin-top: 50px;
    background-color: #22547b;
    font-size: 20px;
    color: #fff;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    border: 4px solid #8ad0c7;
}
.requeridos {
  
    background-color: #22547b;
    font-size: 20px;
    color: #fff;
    
    border-radius: 25px;
    border: 4px solid #8ad0c7;
}
.visualizado {
    margin-top: 50px;
    background-color: #8ad0c7;
    font-size: 20px;
    color: #fff;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    border: 4px solid  #22547b;
}

/* En editar-boleto.component.scss */

.floating-button {
    /* Posición Fija: Esencial para que sea flotante y estático */
    position: fixed;
    bottom: 30px; /* Ajusta la distancia desde el fondo */
    right: 30px;  /* Ajusta la distancia desde la derecha */
    z-index: 1050; /* Asegura que esté por encima de otros elementos */
    
    /* Estilo Circular y Tamaño */
    width: 60px;  /* Tamaño del botón */
    height: 60px;
    border-radius: 50%; /* Lo hace un círculo perfecto */
    border: none; /* Quita el borde por defecto */
    padding: 0;
    
    /* Color y Sombra (Basado en la imagen) */
    background-color: #13547a; /* Color azul oscuro/marino */
    color: white; /* Color del ícono (blanco) */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4); /* Sombra para darle profundidad */
    cursor: pointer;
    
    /* Centrado del Ícono */
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Efecto al pasar el mouse (opcional) */
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.floating-button:hover {
    background-color: #0d3a54; /* Un tono más oscuro al pasar el mouse */
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.5);
}

.floating-button span i {
    font-size: 1.5rem; /* Hace el ícono más grande */
}
