<div class="clear"></div>
<div class="_animate__zoomIn animate__animated animate__zoomIn btp">
    <div>
        <h2 class="font1 text-center  " style="visibility: visible;font-size: 50px;">
            Chambelanes</h2>
        <div class="ma divisor" [style]="{'background-color':data.cSecond}"> </div> animate__animated animate__fadeIn ">
    </div>
    <div class="container transform ">
        <div class="row text-center">
            <div class="col-6 col-md-4  col-lg-3 ma  ">
                <img src="/assets/images/chambelan1.jpg" class="circle" alt="caballero-1">

                <h3 class="font1">Pedro Infante</h3>

            </div>
            <div class="col-6 col-md-4  col-lg-3 ma  ">
                <img src="/assets/images/chambelan1.jpg" class="circle" alt="caballero-1">

                <h3 class="font1">Pedro Infante</h3>

            </div>
            <div class="col-6 col-md-4  col-lg-3 ma  ">
                <img src="/assets/images/chambelan1.jpg" class="circle" alt="caballero-1">

                <h3 class="font1">Pedro Infante</h3>

            </div>
            <div class="col-6 col-md-4  col-lg-3 ma  ">
                <img src="/assets/images/chambelan1.jpg" class="circle" alt="caballero-1">

                <h3 class="font1">Pedro Infante</h3>

            </div>
            <div class="col-6 col-md-4  col-lg-3 ma  ">
                <img src="/assets/images/chambelan1.jpg" class="circle" alt="caballero-1">

                <h3 class="font1">Pedro Infante</h3>

            </div>
            <div class="col-6 col-md-4  col-lg-3 ma  ">
                <img src="/assets/images/chambelan1.jpg" class="circle" alt="caballero-1">

                <h3 class="font1">Pedro Infante</h3>

            </div>



        </div>

    </div>




</div>



</div>